/* Styles for /web/agencies/ page, not including directory */

.web-landing-page .web-hero.devsite-landing-row-large-headings .devsite-landing-row-item-description h3 {
  font: 400 45px/53px Roboto, sans-serif;
  letter-spacing: -.32px;
  color: #4285f4;
}

.web-landing-page.web-landing-page--agencies .button-blue {
  background-color: #4285f4;
}

.web-landing-page .disclaimer {
  font-style: italic;
  line-height: 1.2;
  margin: 0;
}

.web-landing-page.devsite-landing-page .devsite-product-description-row {
  max-width: 100%;
}
