{% if page.layout == "article" %}
{% if page.article.updated_on %}
  <p>{{"updated_on" | localize_string}} {{ page.article.updated_on }}</p>
{% else %}
  {% if page.article.written_on %}
  <p>{{"written_on" | localize_string}} {{ page.article.written_on }}</p>
  {% endif %}
{% endif %}
{% endif %}