.wf-discussing ul {
  list-style-type:none;
  padding:0;
}

.wf-feedback-embedded-search iframe {
  height: 275px;
  width: 450px;
}

.wf-feedback-embedded-search p {
  margin-top: 0;
}

@media (max-width: 840px) {
  .wf-feedback-embedded-search img {
    width: 100% !important;
  }
  .wf-feedback-embedded-search iframe {
    width: 100%;
  }
}

@media (min-width: 841px) and (max-width: 1200px) {
  .wf-feedback-embedded-search img {
    width: calc((100% - 40px)/3) !important;
  }
}
