---
id: $video
showid: $show
layout: shows/single-video
collection: $collection
title: "$title"
description: "$description"
published: true
showYoutubeID: $video

date: $date
article:
  written_on: $written_on
  updated_on: $updated_on
---

$description