.case-study {

	h1 {
		text-align: center;
	}

	.content {

		h2 {
			margin-right: 0;
			text-align: center;
		}



		@include medium {

			p {
				margin-right: 4%;
				margin-left: 4%;
			}

		}

	}

	figure {
		margin-right: 0;
	}

	@include medium {
		figure {
			margin-right: 3.7%;
		}

		.spotlight-scores {
			margin-top: 2em;
		}

		.spotlight-header__container {
			margin-top: 2em;
		}
	}

	.spotlight-header--landscape .spotlight-header__copy {
		@include medium {
			p {
				margin-bottom: 0;
			}
		}
	}

	.case-study-link {
		display: block;
		text-align: center;
	}

	.content p > img {
		display: inline-block;
		float: left;
		width: 33%;
		margin-top: 0;
		margin-right: $lineHeight*2;
	}

	.content .image-wrapper {

		text-align: center;
		padding-top: 1.625em;

		img {
			margin: 0 auto;
		}

		span {
			display: block;
			color: #404040;
			font-family: "Roboto Condensed",Helvetica,sans-serif;
			font-weight: 400;
			letter-spacing: .5px;
			border-top: 1px solid #e0e0e0;
			padding-top: 8px;
		}
	}


}

