{% include page-structure/open-page.liquid %}
<div class="page-content">
  <p class="updates-header__description">Discover the latest API's coming to the Web Platform, find out what the Chrome team are working on and
    check out the latest features in DevTools.</p>

  <ul class="updates-pages__list">
    {% for article in page.updates %}
      <li class="updates-pages__list-item">
        {% include updates/update_list_item_content.liquid article=article %}
      </li>
    {% endfor %}
  </ul>

  <div class="updates-next-prev">
    {% if page.prev_url %}
      <a class="updates-next-prev__prev-anchor" href="{{page.prev_url}}">
        <div class="updates-next-prev__prev-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
        </div>
        Newer
      </a>
    {% endif %}

    {% if page.next_url %}
    <a class="updates-next-prev__next-anchor" href="{{page.next_url}}">
      Older
      <div class="updates-next-prev__next-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
      </div>
    </a>
    {% endif %}
  </div>
</div>
{% include page-structure/close-page.liquid %}
