  {% include page-structure/html-head.liquid %}
</head>

<body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }} debug-enabled" itemscope itemtype="http://schema.org/WebSite">

  {% include page-structure/page-header-and-nav.liquid %}

  <header class="updates-header">
    <h1 class="mdl-typography--display-2 updates-header__title">Web Updates</h1>
    <p class="mdl-typography--title updates-header__description">Discover the latest API's coming to the Web Platform, find out what the Chrome team are working on and
    check out the latest features in DevTools.</p>
  </header>

  <ul class="updates-pages__list">
    {% for article in page.updates %}
      <li class="updates-pages__list-item">
        {% include updates/update_list_item_content.liquid article=article %}
      </li>
    {% endfor %}
  </ul>

  <div class="updates-next-prev">
    {% if page.prev_url %}
      <a class="updates-next-prev__prev-anchor" href="{{page.prev_url}}">
        <div class="updates-next-prev__prev-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
        </div>
        Newer
      </a>
    {% endif %}

    {% if page.next_url %}
    <a class="updates-next-prev__next-anchor" href="{{page.next_url}}">
      Older
      <div class="updates-next-prev__next-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
      </div>
    </a>
    {% endif %}
  </div>


  {% include page-structure/page-footer.liquid %}
