{% include page-structure/open-page.liquid %}

<div class="wf-subheading">
  <div class="page-content">
    <h2>Be smarter, do more.</h2>
    <p>
      Discover the latest API's coming to the Web Platform, find out what the Chrome team are working on and check out the latest features in DevTools.
    </p>
  </div>
</div>

<div class="page-content">
  <ul class="updates-pages__list">
    {% for article in page.updates %}
      <li class="updates-pages__list-item">
        {% include updates/update_list_item_content.liquid article=article %}
      </li>
    {% endfor %}
  </ul>

</div>

{% include shared/article-nav.liquid %}

{% include page-structure/close-page.liquid %}
