{% include page-structure/open-page.liquid %}

<div class="update-post__content-container">
  {% include updates/author.liquid author=page.main_author linkauthor=true written_on=page.article.written_on%}

  {{ content }}
</div>

<div id="gplus-comment-container" class="update-post__comment-container">
  <div id="gplus-comments" data-url="{{ site.WFAbsoluteUrl }}{{ site.WFBaseUrl }}{{page.url}}"></div>
</div>

{% include page-structure/close-page.liquid %}
