{% include page-structure/open-page.liquid %}
<div class="page-content">

  <h1>{{ page.title }}</h1>

  {{ content }}

  {% include page-structure/license.liquid %}

</div>

<div class="page-content">
  <div id="gplus-comment-container" class="update-post__gplus-comment-container">
    <div id="gplus-comments" data-url="{{page.canonical_url}}"></div>
  </div>
</div>

{% include page-structure/close-page.liquid %}
