{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content">

  <div class="mdl-grid">
    {% assign updates = page.updates | sort: 'published_on' %}
    {% for article in updates reversed %}
      {% assign authorKey = article.authors[0] %}
      {% assign author = site.data["contributors"][authorKey] %}
      {% include updates/card.liquid title=article.title text=article.description author=author date=article.updated_on imgUrl=article.featured_image linkHref=article.canonical_url %}
    {% endfor %}
  </div>

</div>

{% include page-structure/close-page.liquid %}
