    {% include page-structure/html-head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/WebSite">

    {% include page-structure/page-header-and-nav.liquid title=page.title %}

    {% include updates/author.liquid author=page.main_author linkauthor=true written_on=page.article.written_on%}

	  <div class="update-post__content-container">
        {{ content }}
	  </div>

    <div class="update-comments">
      <div id="gplus-comment-container" class="container">
        <h2>Comments (<span id="gplus-comment-counter"></span>)</h2>
        <!--<div id="gplus-comments" data-url="https://developers.google.com/web{{page.url}}"></div>-->
      </div>
    </div>

    {% include page-structure/page-footer.liquid %}
