<style>
  #beta {
    float: right;
  }
</style>
<span id="beta">
This site is "Work in Progress": <a href="{{site.github.root}}/issues/new?title={{"Issue in: " | uri_escape  }}{{page.url| uri_escape }}" target="_blank" target="_blank">Report an issue</a>. <a href="{{site.github.root}}" target="_blank" target="_blank">View source</a>.
</span>
