<span id="beta" class="beta">
  <i class="icon icon-cog"></i>
  This site is still a work in progress!&nbsp;<a href="{{site.github.root}}/issues/new?title={{"Issue in: " | uri_escape  }}{{page.url| uri_escape }}" target="_blank">Report an issue</a>.
</span>

