<footer class="main-footer container">

    <p class="main-footer__text"><strong>Google</strong> Web Essentials</p>

</footer>


<div class="grid-overlay">
  <div class="g-medium--1 g-wide--1"></div>
  <div class="g-medium--1 g-wide--1"></div>
  <div class="g-medium--1 g-medium--last g-wide--1"></div>
  <div class="g-wide--1 g-wide--last"></div>
</div>
