
  <footer class="footer container">
    <div class="container">
      <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-2 col-md-offset-1">
          <h4>Popular Topics</h4>
          <ul>

          </ul>
        </div>
        <div class="col-md-2">
          <h4>Resources</h4>
          <ul>

          </ul>
        </div>
        <div class="col-md-2">
          <h4>Community</h4>
          <ul>

          </ul>
        </div>
      </div>
    </div>
  </footer> <!-- End footer -->


{% for js in page.js %}
<script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
{% endfor %}

</body>
</html>
