<style type="text/css">
/*#gc-footer{margin-top:8.5em} removed by Pedro - we probably dont want this. breaks other pages */
#gc-footer,#gc-footer ul{font-size:12px;font-family:'open sans',arial,sans-serif;font-weight:normal;background:#333;line-height:44px;}
#gc-footer>div{line-height:44px}
#gc-footer li{margin:0 30px 0 0}
#gc-footer li:before{display:none;}
#gc-footer a,#gc-footer a:visited{color:rgba(255,255,255,0.8)}
#gc-footer .kd-select{margin-bottom:2px}
#gc-footer #developers-logo-footer{float:left;margin-top:10px;margin-right:30px}
#gc-footer #gc-copyright{float:left;width:75%}
#gc-footer {overflow:hidden;*zoom:1;clear:both;padding:0 44px}
#gc-footer a,#gc-footer a:visited{text-decoration:none}
#gc-footer a:hover,#gc-footer a:visited:hover{text-decoration:underline}
#gc-footer>div ul{margin:0;padding:0;border:0;overflow:hidden;*zoom:1}
#gc-footer>div ul li{list-style-image:none;list-style-type:none;margin-left:0;white-space:nowrap;display:inline;float:left;padding-left:4px;padding-right:4px}
#gc-footer>div ul li:first-child,#gc-footer>div ul li.first{padding-left:0}
#gc-footer>div ul li:last-child{padding-right:0}
#gc-footer>div ul li.last{padding-right:0}
#gc-footer>div li{padding:0}
</style>
<footer id="gc-footer">
  <div id="gc-copyright" class="container">
    <a href="//developers.google.com/">
      <img id="developers-logo-footer" src="//developers.google.com/_static/0f4dd8c48e/images/developers-logo-footer.png" alt="Google Developers logo" style="vertical-align: center; float: left">
    </a>
    <ul>
      <li><a href="http://www.google.com/">Google</a></li>
      <li><a href="//developers.google.com/site-terms">Terms of Service</a></li>
      <li><a href="http://www.google.com/intl/en/privacy/">Privacy Policy</a></li>
      <li><a href="//developers.google.com/careers">Careers</a></li>
    </ul>
  </div>
</footer>
