<div id="sandbar">
  <header id="gc-googlebar" style="width:100%;position:relative;background:#f1f1f1;border-bottom:1px solid #e5e5e5;height:77px;margin:0;overflow:hidden;">
    <div class="container">
      <a id="gc-logo" href="//developers.google.com/" style="display:block;height:50px;text-decoration:none;position:absolute;top:16px;">
        <img src="//developers.google.com/_static/0f4dd8c48e/images/developers-logo.svg" alt="Google" style="width:200px;vertical-align:top;">
      </a>
      {% include beta.liquid %}
    </div>
  </header>
</div>
