<header class="main-header">

	<h1 class="main-header__title">
    <a href="/" title="Web Essentials" class="main-header__logo">Web Essentials</a>
  </h1>

	{% include navigation.liquid %}

</header>
