<header class="main-header">

	<h1 class="main-header__title"><a href="/"><strong>Google</strong> Web Essentials</a></h1>
	<h2 class="main-header__slogan">Experiments and emerging techniques for building the modern Web.</h2>

	{% include navigation.liquid %}

</header>
