<header class="main-header">

  <div class="google-header">
    <div class="google-header__top">
      <div class="container">
        <a class="google-header__dev-logo" href="//developers.google.com/">
          <img src="{{site.baseurl}}/imgs/developers-logo.svg" alt="Google Developers Homepage">
        </a>
      </div>
    </div>

    <div class="google-header__bottom">
      <div class="container-medium">
        {% include beta.liquid %}
        <h1 class="main-header__title">
          <a href="{{site.baseurl}}" title="Go to Web Fundamentals" class="main-header__logo"><span>Web</span> Fundamentals</a>
        </h1>
      </div>
    </div>
  </div>

	{% include navigation.liquid %}

</header>
