<header class="main-header">

	<h1 class="main-header__title">
    <a href="/" title="Google Web Essentials" class="main-header__logo"><strong>Google</strong> Web Essentials</a>
  </h1>

	{% include navigation.liquid %}

</header>
