<header class="main-header">

  <div class="google-header">
    <div class="google-header__top">
      <div class="container">
        <a class="google-header__dev-logo" href="//developers.google.com/">
          <img src="{{site.baseurl}}/imgs/developers-logo.svg" alt="Google Developers Homepage">
        </a>
      </div>
    </div>
  </div>

	{% include navigation.liquid %}

</header>
