<div class="container clear">
	<div id="gc-content-license" class="gc-content-license">
		{% include modules/update_time.liquid %}
		{% include contributors.liquid %}
		<p>{{"creative_commons" | localize_string}}</p>
	</div>
</div>
