@import "../dimens";
@import "../../../third_party/material-design-lite/src/variables";
@import "../../../third_party/material-design-lite/src/mixins";

.showhome--series {
  margin-bottom: 0;
}

.show-series-list__title {
  @include typo-subhead();
}

.show-series-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.show-series-list__link {
  display: block;
  margin-bottom: $base-line / 4;
  text-decoration: none;
}

.show-series-list__item {
  display: flex;

  flex-direction: row;
  align-items: center;
}

.show-series-list__item-img {
  max-width: 40%;
}

.show-series-list__item-info {
  padding-left: $base-line / 2;
}

.show-series-list__item-title {
  @include typo-body-1();
  margin: 0;
}

.show-series-list__item-description {
  display: none;
}
