  <div class="content">
    <div class="container">
      {% if page.article.updated_on %}
        Updated on {{ page.article.updated_on }}
      {% else %}
        {% if page.article.written_on %}
          Written on {{ page.article.written_on }}
        {% endif %}
      {% endif %}
    </div>
  </div>