---
layout: default
description: "Web Fundamentals is a comprehensive resource for multi-device 
  web development."
class: home
title: Web Fundamentals
meta_title: Web Fundamentals — Google Developers
id: fundamentals
collection: web
priority: 0
feedName: Web Fundamentals - Google Developers
feedPath: fundamentals/feed.xml
---

<style>
  .sections {
    margin-bottom: 52px;
  }
  #potentialAction {
    display: none;
  }

</style>
<meta itemprop="url" content="https://developers.google.com/web/fundamentals"/>
<form id="potentialAction" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
  <meta itemprop="target" content="https://developers.google.com/s/results?p=%2Fweb%2Ffundamentals&q={search_term_string}"/>
  <input itemprop="query-input" type="text" name="search_term_string" required/>
  <input type="submit"/>
</form>

<div class="home-header centered">
  <div class="container">
    <h1>Web <b>Fundamentals</b></h1>
    <h2>Best practices for great multi-device web experiences</h2>
    <div class="cta">
      <a href="/web/shows/udacity/courses/responsive-web-design/" title="Learn with Udacity" class="button--secondary-variation">Learn with Udacity</a>
      <a href="{{site.fundamentals}}/getting-started/" title="Get started with Web Fundamentals" class="button--secondary-variation">Tutorials</a>
    </div>
  </div>
</div>

<div class="container sections">
  <div class="centered">  
    <ul class="list-guides-intro guides-list container">

      <li class="guides-list__item g--third theme--wf-tools" style="margin-right: 0;">
        <a href="/web/tools" title="Tools" class="themed">
            <span class="icon-circle--large themed--background"><i class="icon icon-wf-tools"></i></span>
            <h3 class="large">Tools</h3>
          </a>
          <p>Supercharge your productivity.</p>
      </li>

      {% for guide in page.articles.[page.id] %}
      {% if guide.published != false and (guide.is_localized != true or page.langcode == guide.langcode) %}
      <li class="guides-list__item g--third theme--{{ guide.id }}" style="margin-right: 0;">
        <a href="{{site.baseurl}}{{guide.url | clean | localize_link:guide }}" title="{{guide.title}}" class="themed">
            <span class="icon-circle--large themed--background"><i class="icon icon-{{guide.id}}"></i></span>
            <h3 class="large">{{guide.title}}</h3>
          </a>
          <p>{{ guide.snippet }}</p>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-header">
    <h3 class="xlarge">Web <strong>Fundamentals</strong>?</h3>
    <div class="divider">
      <span class="themed divider-icon"></span>
    </div>
    <p class="">
      Web Fundamentals is a comprehensive resource for multi-device web
      development.  We're just getting started and want your help, if you
      see something amiss or have a suggestion
      <a href="{{site.github.root}}/issues" title="File an issue on GitHub">file an issue</a> or
      <a href="{{site.github.root}}/pulls" title="Submit a pull request on GitHub">submit a pull request</a>.
    </p>
  </div>
</div>

{% if site.spotlights == true %}

{% featured_showcase showcase %}

<div class="featured-section">
  <div class="container-medium">
    <ul class="featured-list">
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <h3>Case study</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
            <a href="#" class="cta--primary">View Google</a>
          </div>
          <figure class="featured-list__img-wrapper g--half g--last">
            <img src="../../imgs/placeholder--medium.png" alt="image example">
          </figure>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endif %}

{% comment %}
<div class="recommended-section">
  <div class="container-medium">
    <ul class="recommended-list">
      <li class="recommended-list__item clear theme--multi-device-layouts">
        <div class="recommanded-list__content g--half">
          <h4 class="themed large">Multi-device layouts</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#" class="cta--primary">Get started</a>
        </div>
        <div class="recommanded-list__content g--half g--last">
          <h4 class="large">Resources</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
          <a href="#" class="cta--primary">View</a>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endcomment %}

{% include cc.liquid %}
