<header class="mdl-layout__header">
  <div class="mdl-layout__drawer-button">
    <img src="{{ site.WFBaseUrl }}/imgs/menu.svg" alt="Menu" />
  </div>
  
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">

    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="wf-header__dev-logo" href="https://developers.google.com/">
        <!-- Inlined SVG for GDS Logo -->
        {% include svgs/gds-logo-grey.svg %}
      </a>
    </nav>
  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{page.mobileTitleText}}</span>
  <nav class="mdl-navigation">
    {% include page-structure/navigation.liquid %}
  </nav>
  {% include page-structure/github-header-links.liquid %}
</div>

<main>
