<header class="wf-header">

  <!-- Top Row contains buttons and links -->
  <div class="wf-header__top-row">
    <button class="wf-header__menu-btn">
      {% include svgs/menu.svg %}
    </button>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <a class="wf-header__dev-logo" href="https://developers.google.com/">
      <!-- Inlined SVG for GDS Logo -->
      {% include svgs/gds-logo-grey.svg %}
    </a>
  </div>

  <!-- Bottom Row contains buttons and links -->
  <div class="wf-header__bottom-row">
    <h1 class="wf-header__title">{{ include.title }}</h1>
  </div>

</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{page.mobileTitleText}}</span>
  <nav class="mdl-navigation">
    {% include page-structure/navigation.liquid %}
  </nav>
  {% include page-structure/github-header-links.liquid %}
</div>

<main>
