{% comment %}
  The greater > 1 is to account for English language.
{% endcomment %}

{% if page.outOfDate %}
<div class="wf-translation-warning">
  <p class="mdl-typography--caption wf-translation-warning__title">Out of Date!</p>
  <p class="mdl-typography--caption-color-contrast wf-translation-warning__description">This article's translation is out of date with the <a href="{{page.raw_canonical_url}}">original version</a>.</p>
</div>
{% endif%}

<button id="language-selection-menu" aria-label="Language selector"
        class="mdl-button mdl-js-button mdl-button--icon wf-btn__small">
  {% include svgs-minified/language.svg %}
</button>

<ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
  for="language-selection-menu">
  {% for translatedPageMap in page.translations %}
    <li class="mdl-menu__item">
      <a class="wf-translation-link__link" href="{{site.baseurl}}{{ translatedPageMap[1].canonical_url }}">{{  translatedPageMap[1].langcode | lang_name }}</a>
    </li>
  {% endfor %}
</ul>
