/**
*
* Latest spotlights
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.latest-spotlights {
  padding-bottom: $lineHeight*2 + 3;
  padding-top: $lineHeight*1;

  @include medium {
    padding-top: $lineHeight*1;
  }

  background: $colorYellowSecondary;
}

.latest-spotlights h2 {
  text-align: center;

  @include medium {
    text-align: left;
  }
}

.latest-spotlights > div > p {
  padding-bottom: $lineHeight;
}

.latest-spotlights__item {
  margin-top: $lineHeight/2;

  &:first-of-type {
    margin-top: 0;
  }

  @include medium {
    width: 50%;
    float: left;
    margin-top: 2px;

    &:nth-of-type(2) {
      margin-top: 0;
    }

    &:nth-child(even) {
      .latest-spotlights__link {
        margin-left: 1px;
      }
    }

    &:nth-child(odd) {
      .latest-spotlights__link {
        margin-right: 1px;
      }
    }
  }

}

.latest-spotlights__link {
  display: inline-block;
  position: relative;
}

.latest-spotlights__link img {
  display: block;
  margin: 0;
  @include prefixr(transition, opacity .2s ease-in-out);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  max-height: 12em;
  width: auto;
}

.latest-spotlights__link p {
  @include bullet($icon-chevron-right, $fontSmall);
  position: absolute;
  left: 0;
  bottom: $lineHeight - ($lineHeight/2);
  padding: $lineHeight/2 16px;
  padding-left: 32px;
  @include prefixr(transition, background .2s ease-in-out);

  &:before {
    padding-top: 13px;
    padding-left: 16px;
    @include prefixr(transition, opacity .2s ease-in-out);
  }

  font-weight: 400;
  color: #ffffff;
  background: rgba(64,64,64,.85);
}

.latest-spotlights__link:hover {

  p {
    background: $colorHighlight;

    &:before {
      color: $colorBlueSecondary;
    }
  }

  img {
    opacity: .8;
  }
}

.latest-spotlights__description {

  width: 61%;
  display: inline-block;

  
  vertical-align: top;
  padding-left: 1em;

}

.latest-spotlights__description a {
  margin-top: $lineHeight/2;
}

.latest-spotlights-all {
  text-align: center;
  @include medium {
    text-align: left;
  }
}