/**
*
* Spotlight Header
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.spotlight-header {
  padding-bottom: $lineHeight;
  text-align: center;

  @include medium {
    text-align: left;
    padding-bottom: $lineHeight*3;
  }

  h1 a {
    display: block;
    font-size: 16pt;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    line-height: 1em;
  }

}

.spotlight-header-main {
  .divider {
    background-color: #C89800;
    span {
      background: $colorYellowSecondary;
    }
    .divider-icon--secondary:before {
      color: #937000;
    }
  }  
}

.spotlight-header__excerpt {
  @include type--medium(true);
  font-family: $fontHighlight;
}

.spotlight-header--landscape {
  overflow-x: hidden;
  position: relative;

  @include medium {
    min-height: $lineHeight*20;
  }

  & .spotlight-header__copy {

    & p {

      @include medium {
        margin-bottom: $lineHeight*6;
      }

    }
  }


}


.spotlight-header--portrait {
  @include medium {
    min-height: $lineHeight*20;
  }
}

.spotlight-header__container {
  position: relative;
}

.spotlight-header--detail {
  & .spotlight-header__container {
    &:after {
      display: none;
    }
  }
}

.spotlight-header__copy {
  position: relative;
  z-index: 2;
}

.spotlight-header__cta {
  margin-top: $lineHeight;
}

.spotlight-header__media {
  .spotlight-header--portrait & {
    position: relative;
  }
}

.spotlight-header__image {
  margin-bottom: 0;

  @include medium {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
  }

  .spotlight-header--portrait & {
    width: 100%;
    max-width: 100%;
  }

  .spotlight-header--landscape & {
    @include medium {
      position: relative;
      width: auto;
      max-width: none;
      height: 260px
    }

    @include wide {
      height: 364px;
    }
  }

}

