{% if include.feedURL %}
<p class="container feedlink-container">
  <a href="{{ include.feedURL }}">
    <img src="{{site.baseurl}}/shows/imgs/rss-icon.svg" alt="RSS Feed Icon" class="feedlink-icon" />
  </a>
  {% if include.emailSubscriptionLink %}
  <a class="feedlink-emailsubcribe" href="{{ include.emailSubscriptionLink }}">
  	Subscribe by Email
  </a>
  {% endif %}
</p>
{% endif %}
