<!-- Title of the show -->
<div class="show--title-container g-wide--full">
  <h1 class="show--title show--title-{{ include.showid }} container">
    {{ include.title }}
  </h1>
</div>
<div class="clear"></div>
