{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": "warn",
    "max-len": "warn",
    "no-var": "warn",
    "require-jsdoc": "warn",
    "valid-jsdoc": "warn"
  }
}
