*~
*.pyc
*.swp
*.csv
.idea
/build
.DS_Store
.sass-cache/
node_modules/
.ruby-gemset
.rvmrc
.grunt-gae-pid
.drone.sec.yml
src/css/styles.css
src/css/styles.min.css
jekyll/content
vendor/
appengine/build
tools/shows-gen/yt-api-key.json
src/jekyll/_includes/svgs/
.bundle/
google_appengine/
