<div {{~cssClass '!symbol-detail-labels'}}>
  <span class="label label-kind"><small>Version</small></span>
  &nbsp;&nbsp;&nbsp;
  <span class="label label-version"><small>{{query 'tag'}}</small></span>
</div>
