// This might override variables in MDL so import it first
@import "partials/dimens";

@import "../third_party/material-design-lite/src/color-definitions";

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-light-blue-500;

//$color-primary-dark: $palette-indigo-700 !default;
$color-accent: unquote("rgb(#{$palette-light-blue-400})");

// Below are definitions to override behaviour in MDL

// Disables the standard styles on h1 - h6 elements
$target-elements-directly: false;
// Bump up font size by 2px - needed to add !default to our instance
$data-table-font-size: 15px;
// Bump up font size by 3px - needed to add !default to our instance
$data-table-header-font-size: 15px;
// Bump up font size by 3px;
$card-supporting-text-font-size: 16px;
// Bump up line height by
$card-supporting-text-line-height: 24px;

// We Need a bigger drawer
// This ISNT supported by stock MDL - needed to add !default to our instance
$layout-drawer-narrow: 280px;

// We want all of header to be usable for search - needed to add !default to our instance
$layout-header-mobile-baseline: ($base-line * 2);
