// This might override variables in MDL so import it first
@import "partials/dimens";

@import "../third_party/material-design-lite/src/color-definitions";

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-grey-900;
//$color-primary-dark: $palette-indigo-700 !default;
$color-accent: unquote("rgb(#{$palette-grey-600})");

$header-bg-color: $color-primary;

@import "../third_party/material-design-lite/src/mixins";
@import "../third_party/material-design-lite/src/variables";
@import "../third_party/material-design-lite/src/resets/resets";
@import "../third_party/material-design-lite/src/typography/typography";
@import "../third_party/material-design-lite/src/layout/layout";
@import "../third_party/material-design-lite/src/grid/grid";
@import "../third_party/material-design-lite/src/button/button";
@import "../third_party/material-design-lite/src/textfield/textfield";
@import "partials/google-fonts";
@import "partials/debug";
@import "partials/base";
@import "partials/utils";
@import "partials/components/wf-footer";
@import "partials/components/wf-header";
@import "partials/components/wf-author";
@import "partials/components/wf-nav-drawer";
@import "partials/shows-components/series-list";

.wf-menu-svg {
  fill: white;
}

.show-index-item {
  display: flex;

  flex-direction: column;
}

.show-index-item__img {
  margin-bottom: $base-line / 2;
}

.show-index-item__description a {
  text-decoration: none;
}
