// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: #1F1E24;
//$color-primary-dark: $palette-indigo-700 !default;
//$color-accent: $palette-pink-A200 !default;

// Our primary is dark, so use $color-dark-contrast for overlaid text.
//$color-primary-contrast: $color-dark-contrast !default;
// Our accent is dark, so use $color-dark-contrast for overlaid text.
//$color-accent-contrast: $color-dark-contrast !default;

$header-bg-color: $color-primary;

@import "third_party/mdl/mixins";
@import "third_party/mdl/variables";
@import "third_party/mdl/resets/resets";
@import "third_party/mdl/typography/typography";
@import "third_party/mdl/layout/layout";
@import "third_party/mdl/grid/grid";
@import "third_party/mdl/button/button";
@import "partials/google-fonts";
@import "partials/debug";
@import "partials/base";
@import "partials/utils";
@import "partials/components/wf-header";
@import "partials/components/wf-footer";
@import "partials/components/wf-author";
@import "partials/components/wf-nav-drawer";
@import "partials/shows-components/series-list";

.wf-menu-svg {
  fill: white;
}

.show-index-item {
  display: flex;

  flex-direction: column;
}

.show-index-item__img {
  margin-bottom: $base-line / 2;
}

.show-index-item__description a {
  text-decoration: none;
}
