.devsite-main-content {
  margin-bottom: 160px;
}

/* This fullbleed code is taken from firebase.google.com */
.devsite-landing-row-fullbleed {
  margin: 0 -10000px;
  padding: 64px 10000px 40px;
}

.dark-background {
  color: #FFF;
  background: #2D384B;
}

.dark-background h2 {
  color: #FFF;
}

.faq {
  margin-top: 100px;
  margin-bottom: -160px;
  padding-top: 16px;
  padding-bottom: 100px;
}

.faq-question {
  font-size: 28px;
}

.faq-answer {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 32px;
}

.faq-answer:last-of-type {
  margin-bottom: 0;
}
