
.label {
  font-style: italic;
  text-transform: uppercase;
}

.dl-compact dt {
  margin:8px 0px 0px 0px;
}

h1.devsite-page-title {
    display: none;
}

h1 {
  margin-bottom: 8px;
}

h2 {
  margin: 48px 0px 0px 0px;
}

h3.symbol-name {
  margin: 32px 0px 8px 0px;
}

h3.class-list:first-child {
  display: block;
  margin: 16px 0px 0px 0px;
}

h3.class-list {
  display: block;
  margin: 12px 0px 0px 0px;
  font-size: 16px;
}

h3.class-list + p {
  margin: 0px 0px 0px 0px;
}

h4 {
  margin: 8px 0px 0px 0px;
}

td p {
  margin: 6px 0px 0px 0px;
}

p.type-signature {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-stretch: normal;
  line-height: normal;
  margin-top: 0px;
}

p.symbol-index-name {
  margin: 8px 0px 0px 0px;
}

h2.symbol-header {
  margin: 36px 0px 0px 0px;
}

table.function.param tr {
  background: #80A7B9;
}
