ul.checkmarks {
  list-style-type:none;
  padding:0;
}

ul.checkmarks li {
  background-image:url("/maps/images/lhimages/compare-yes.svg");
  background-repeat:no-repeat;
  background-position:0 1px;
  padding-left:30px;
}

a.wf-learn-more{
  margin-left:-8px;
}

a.wf-small-link {
  display:block;
  margin:0 4px;
  padding:2px 8px;
}

h2.wf-header-title {
  margin-top:0;
}

.wf-pwa-in-action img{
  margin-bottom:0;
}

.wf-pwa-in-action .devsite-landing-row-item {
  text-align:center;
}

.wf-small-logos img {
  max-width: 300px;
  margin-left:auto;
  margin-right:auto;
}

.peteFix {
  padding-top: 40px;
}

#dive-deeper {
  margin-top: 16px;
}
