.article-nav {
  overflow: hidden;
}

.article-nav-link {
  background: $colorGrayBackground;
  padding: $lineHeight $lineHeight - 2;
  // color: #ffffff;
  float: left;
  width: 50%;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0;
}

.article-nav-link--prev {
  text-align: right;
  border-right-width: 1px;
}

.article-nav-link--next {
  border-left-width: 1px;
  background-color: $colorGrayKeyline;
}
