/**
*
* Articles section
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.articles-section {
  background: $colorGrayBackground;
  text-align: center;

  .article-section__icon {
    margin-top: 0;
    margin-bottom: 0;
    top: -($lineHeight);
  }
}

.articles-count {
  color: $colorBlue;
  font-family: $fontHighlight;
  margin-top: -($lineHeight*2);
  font-weight: 400;
}

