/**
*
* Beta banner
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.beta {
  // background: $colorWarning;
  font-family: $fontHighlight;
  color: $colorGrayDark;
  font-weight: 400;
  text-align: center;
  padding: 5px 32px 5px 12px;
  margin: 0 25px 23px 0;
  position: relative;
  line-height: 16px;



  @include small-only {
    display: none;
  }

  @include medium {
    float: right;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: $lineHeight;
    width: auto;
    max-width: 72%;
  }

  &:before {
    //content: $icon-diamond;
    font-family: $fontIcon;
    font-size: 51px;
    line-height: 0px;
    //color: $colorYellow;

    position: absolute;
    right: -25px;
    top: 50%;
  }

  .icon {
    font-family: $fontIcon;
    font-size: 24px;
    text-align: center;
    // color: #ffffff;

    width: 70px;
    height: 0;
    line-height: 0;
    margin-right: -35px; // half of width

    overflow: visible;

    position: absolute;
    right: 0;
    top: 50%;
    display: block;

    .page--home & {
      -webkit-animation: cog 4000ms ease-in-out;
      animation: cog 4000ms ease-in-out;
    }
  }

  & a {
    color: $colorGrayDark;
  }
}

@-webkit-keyframes cog {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(1079deg);
  }
}

@keyframes cog {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1079deg);
  }
}
