/**
*
* Beta banner
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

#beta {
  font-size: 0.8em;
  position: absolute;
  top: 10px;
  left: 180px;
  right: 16px;
  text-align: right;
  line-height: 1;

  @include medium{
    top: 16px;
  }

}
