/**
*
* Case study wrapper
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.case-study-wrapper {
  padding-top: $lineHeight;
  padding-bottom: $lineHeight*2;

  @include medium {
    margin-top: - $lineHeight*6;
    padding-top: $lineHeight*3;
    background: $colorGrayBackground;

    &.has-video-after {
      margin-bottom: - $lineHeight*7;
      padding-bottom: $lineHeight*8;
    }
  }

  h2 {
    margin-top: 0;
    padding-top: 0;
  }

}
