/**
*
* Editorial Header
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.editorial-header {
  background-color: $colorGray;
  padding-bottom: $lineHeight;
  margin-bottom: $lineHeight;
  overflow: hidden;


  .container {
    @include medium {
      position: relative;

      // Pseudo elements to add the background characters
      &:before,
      &:after {
        display: block;
        position: absolute;
        line-height: 0;
        top: 50%;
        font-size: 1400px;
        color: rgba(0, 0, 0, .1)
      }

      &:before {
        content: ">";
        right: 90%;
      }

      &:after {
        content: "<";
        left: 75%;
      }
    }
  }

}

.editorial-header__excerpt {
  margin-bottom: $lineHeight * 2;
}

.columns-list-wrapper {
  margin-right: 48.2%;
}

.columns-list {
  @include prefixr(column-count, 2);
  @include prefixr(column-rule, 0 none transparent);
  @include prefixr(column-gap, 0);
}

.columns-list-item {
  // display: inline-block;
  // width: $wideColWidth;
  // margin-right: $wideGutterWidth;
  &:before {
    display: none;
  }
}
