/**
*
* Editorial Header
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.editorial-header {
  background-color: $colorGray;
  padding-bottom: $lineHeight * 4;
  margin-bottom: $lineHeight;
  overflow: hidden;


  .container {
    @include medium {
      position: relative;

      // Pseudo elements to add the background characters
      &:before {
        content: ">";
        display: block;

        position: absolute;
        top: 35%;
        right: 90%;

        font-size: 1400px;
        line-height: 0;
        color: rgba(0, 0, 0, .1);
      }
    }
  }

}
