/**
*
* Google Developers header bar
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

#gc-googlebar {
  position: relative;
  background: $colorGrayBackground;
  padding: 0 0 $lineHeight;
  overflow: hidden;

  @include medium {
    height: $lineHeight * 4;
    padding-bottom: 0;
  }
}

#gc-logo {
  text-decoration: none;
  display: block;
  margin: 0 auto $lineHeight;
  padding-top: $lineHeight;
  width: 43px;
  overflow: hidden;

  @include medium {
    float: left;
    margin-top: 29px;
    width: 56px;
    width: auto;
    padding-top: 0;
    margin-bottom: 0;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 158px;
    height: 39px;
    max-width: none;

    @include medium {
      width: 210px;
      height: 52px;
    }
  }
}
