/**
*
* Highlight
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/


@mixin highlight-symbol($verticalOffset: 0, $horizontalOffset: 0, $fontSize: 350px) {
  position: relative;

  &:before {
    content: attr(data-character);
    display: block;

    position: absolute;
    bottom: $verticalOffset;
    right: $horizontalOffset;

    font-size: $fontSize;
    line-height: $fontSize;
    color: $colorWhite;
    font-weight: 900;
    text-align: center;
    font-family: $fontHighlight;

    width: $mediumColWidth;

    .highlight-module--left & {
      right: auto;
      left: $horizontalOffset;
    }

    @include wide {
      width: $wideColWidth;
      font-size: $fontSize + 50;
      line-height: $fontSize + 50;
    }
  }
}

@mixin highlight-symbol-override($symbol) {
  &:before {
    content: $symbol;
  }
}

@mixin highlight-vertical-offset-override($offset) {
  &:before {
    bottom: $offset;
  }
}


.highlight-module {
  background-color: $colorGray;
  overflow: hidden;
  margin-top: $lineHeight * 2;
  margin-bottom: $lineHeight;
}

.highlight-module--learning {
  background-color: $colorAqua;
}

.highlight-module--remember {
  background-color: $colorMustard;
  color: $colorWhite;
}

.highlight-module--related {
  background-color: $colorEmeraud;
  color: $colorWhite;
}

.highlight-module__container {
  @include container;
  padding-bottom: $lineHeight * 3;

  @include medium {
    padding-bottom: $lineHeight * 2;
    @include highlight-symbol();

    .highlight-module--learning & {
      @include highlight-vertical-offset-override($lineHeight*2);
    }
  }
}

.highlight-module__title {
  @include type--huge;
  padding-top: $lineHeight;

  @include wide {
    @include type--xxlarge;

    .highlight-module--large & {
      @include type--huge;
    }
  }
}

.highlight-module--code {
  pre {
    margin: 0;
    padding-top: $lineHeight * 2;
    padding-bottom: $lineHeight;
    margin-left: - $lineHeight;
    font-size: $fontSmall;

    span {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }

  code {
    margin: 0;
    padding: 0;
    word-spacing: -2px;
  }

}

.highlight-module__cta {
  display: block;
  @include type--medium;
  font-family: $fontHighlight;
}
