/**
*
* Highlight
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.highlight-module {
  overflow: hidden;
  margin-top: $lineHeight*2;
  margin-bottom: $lineHeight;
  position: relative;

  &:after {
    background: $colorGrayBackground;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    right: 0;
    left: 0;
  }
}

.highlight-module--learning {
  color: #ffffff;

  &:after {
    background-color: $colorLearning;
  }
}

.highlight-module--remember {
  color: #ffffff;

  &:after {
    background-color: $colorRemember;
  }
}

.highlight-module__container {
  @include container;
  padding-bottom: $lineHeight*3;
  position: relative;
  z-index: 1;
  @include highlight-symbol();

  @include medium {
    padding-bottom: $lineHeight*2;
  }
}

.highlight-module__title {
  @include type--huge;
  padding-top: $lineHeight;

  @include wide {
    @include type--xxlarge;
  }
}

.highlight-module--code {

  pre {
    margin: 0;
    padding-top: $lineHeight*2;
    padding-bottom: $lineHeight;
    margin-left: - $lineHeight;
    font-size: $fontSmall;

    span {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }

  code {
    margin: 0;
    padding: 0;
    word-spacing: -2px;
  }

}

.highlight-module__cta {
  display: block;
  @include type--medium;
  font-family: $fontHighlight;
}

.highlight-module--left {
  &:after {
    @include wide {
      width: 80%;
      right: 20%;
    }
  }
}

.highlight-module--right {
  &:after {
    @include wide {
      width: 80%;
      left: 20%;
    }
  }

  &.highlight-module--code {
    &:after {
      @include wide {
        width: 100%;
        left: 0;
      }
    }
  }
}
