/**
*
* Related items
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.related-items {
  margin-top: $lineHeight*3;
  padding-bottom: ($lineHeight*4) - 2;
  border-top: 2px solid $colorGrayKeyline;
  padding-top: ($lineHeight*2) - 2;

  & img {
    margin: 0;
  }

}

.related-items__title {
  @include type--xlarge;
  padding-top: 0;

  @include medium {
    padding-top: 0;
  }
}

.related-items__main-link {
  text-transform: uppercase;

  &:before {
    content: "#";
    display: inline-block;
    padding-right: 2px;
  }
}


.related-items--minimal {
  border-top: none;
  padding-top: 0;
  margin-top: $lineHeight*2;
}

.related-items-group {

  & .related-items {

    &:first-child {
      border: none;
      padding-top: $lineHeight*3;
      padding-bottom: 0;
    }

    &:last-child {
      margin-top: $lineHeight*2;
    }
  }
}
