/**
*
* Related items
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.related-items {
  background-color: $colorGrayDark;
  color: $colorWhite;
  padding-bottom: $lineHeight * 2;
  margin-top: $lineHeight * 2;
}

.list--links a {
  color: $colorWhite;
  font-weight: 400;
  font-family: $fontHighlight;
}
