.gc-content-license {
  margin-top: ($lineHeight*3) - 2;
  margin-bottom: ($lineHeight*2);

  & p {
    @include type--small;
    padding-top: $lineHeight;
  }

  @include wide {

  }
}

.sitewide-authors {
	padding-left: 0;

	li {
		text-align: center;
		padding-left: 0;
	}

	a {
		color: #3372df;
	}

	h3 {
		color: inherit;
	}

	li::before {
		content: '';
	}

	p {
		font-size: 16px;
	}
}
