/**
*
* Recommended section
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.recommended-section {
  background: $colorGrayBackground;
  padding-top: $lineHeight*3;
  padding-bottom: $lineHeight*4;
}
