/**
*
* Main Navigation
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.main-nav {
  background: #ffffff;
  position: relative;

  @include medium {
    background-color: $colorGrayDark;
    box-shadow: 0 2px 0 0 $colorGrayBackground;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @include small-only {
    box-shadow: 0 0 0 2px $colorGrayDark;
    // border-bottom: $lineHeight solid $colorGrayDark;

    .js & {
      display: none;
    }

    .js &.nav-is-opened {
      display: block;
      @include prefixr(animation, showNav 250ms ease-in-out both)
    }
  }

  @include container(true, true); // second paremeter is to ignore mobile rules
  @include medium {
    position: static;
  }
}

.main-nav__item {
  list-style: none;
  display: block;
  background-color: $colorGrayBackground;
  position: static;
  padding-left: 0;


  @include small-only {
    &.subnav-is-opened {
      background: #ffffff;
    }
  }

  @include medium {
    float: left;
    background-color: transparent;

    &:last-child {
      border-right: none;
    }
  }

  // Remove the padding-top apart from first-child
  &:first-child ~ .main-nav__item {
    padding-top: 0;
  }

  // Remove list styles
  &:before {
    display: none;
  }
}

body[dir=rtl] .main-nav__item {
  list-style: none;
  display: block;
  position: static;

  // Remove list styles
  &:before {
    display: none;
  }
}

.main-nav__link {
  @include type--large;
  color: $colorGrayDark;
  font-family: $fontHighlight;
  margin-bottom: 1px;
  text-decoration: none;
  display: block;
  padding-top: $lineHeight/2;
  padding-bottom: ($lineHeight/2) - 1;

  &:hover {
    text-decoration: none;
  }

  .main-nav__item:last-child & {
    margin-bottom: 0;
  }

  @include small-only {
    @include container(true);
  }

  @include medium {
    @include type--medium(true);
    color: #ffffff;
    margin-bottom: 0;
    padding: $lineHeight $lineHeight/2 $lineHeight;
    position: relative;

    @include color-inherit;

    .main-nav__item--home & {
      @include medium {
        padding-left: 0;

        &:after {
          left: 40%;
        }
      }
    }
  }

}

.main-nav__link--web {
    border-right: 4px solid #fff;
    margin-right: 1em;
    @include small-only {
      margin-right: auto;
      margin-left: auto;
      border-right: none;
    }
}
@media (min-width: 1043px) {
  .main-nav__link--web {
      border-right: 4px solid #fff;
      margin-right: 1em;
      margin-left: -88px;
  }
}

.main-nav__link--parent {
  @include medium {
    position: relative;

    .no-touch &:hover {
      color: $colorYellowSecondary;
    }

    // Creating arrow states for active item
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $colorGrayBackground;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
      display: none;
    }

    // Rules for when on current page
    .main-nav__item--current & {
      cursor: default;

      .no-touch &:hover {
        color: $colorGrayMedium;
      }

      // Show arrow when on current page
      &:after {
        display: block;
      }
    }
  }

  @include wide {
    padding-bottom: $lineHeight;
  }
}


// Rules for elements when on the current page
.main-nav__item--current {
  color: $colorGrayMedium;

  &.main-nav__item--has-child {
    & .main-nav__link--parent {
      @include medium {
        .no-touch &:hover {
          color: $colorYellowSecondary;
          cursor: pointer;
        }
      }
    }
  }
}

.main-nav__item--home {
  .page--home & {
    @include small-only {
      display: none;
    }
  }
}

.main-nav__list--child {
  padding-top: 0;
  padding-left: 0;
}

body[dir=rtl] .main-nav__list--child {
  padding-right: 0;
  margin-right: 0;
}

.main-nav__item--child {
  padding-top: 0;
  position: static;
  padding-left: 0;

  &:before {
    display: none;
  }
}

body[dir=rtl] .main-nav__item--child {
  padding-top: 0;
  position: static;
  padding-left: 0;
  padding-right: 0;
  text-align: right;

  &:before {
    display: none;
  }
}

.main-nav__link--child {
  background: #ffffff;
  @include type--base;
  padding-top: $lineHeight/2;
  padding-bottom: ($lineHeight/2) - 1;
  margin-bottom: 0;
  border-bottom: 1px solid $colorGrayKeyline;

  @include small-only {
    padding-left: 10%;
  }

  @include medium {
    color: $colorText;
    border-bottom-color: transparent;
    padding-left: 0;

    // Only override links inside list
    .main-nav__list--child & {
      @include type--large;
    }

    &:hover {
      color: $colorGrayDark;
    }

  }
}

.main-nav__secondary-nav {
  display: none;

  @include medium {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    border-top: 5px solid $colorGrayDark; // cover the current page arrow ;)
    margin-top: -5px; // cover the current page arrow ;)
    border-bottom: 2px solid $colorGrayDark;
    padding-bottom: ($lineHeight) - 2; // remove the 2px border from the padding
    color: $colorText;

  }

  .subnav-is-opened & {
    display: block;
    -webkit-animation: showNav 250ms ease-in-out both;
  }
}


.main-nav__secondary-content {
  @include container(true, true); // second parameter is to ignore mobile

  @include medium {
    text-align: left;
  }
}

.main-nav__link--explore {
  @include style-cta($colorHighlight, false);
  display: block;
  line-height: $lineHeight;

  @include small-only {
    border-top: 1px solid $colorGrayKeyline;
  }

  @include medium {
    @include style-cta($colorHighlight, $icon-chevron-right);
  }
}

.main-nav__link--explore-wrapper {
  @include medium {
    border-bottom: 1px solid $colorGrayKeyline;
  }
}

.main-nav__featured {
  display: none;

  @include medium {
    display: block;
  }
}

.main-nav__featured-text {
  padding-top: 0;
}


.main-nav__btn {
  position: absolute;
  top: 0;
  right: $containerBleed;
  margin: 0 0 0;
  line-height: $lineHeight;
  font-size: $fontLarge;
  background: transparent;
  color: #ffffff;
  padding: ($lineHeight/2 + 3 ) 0 ($lineHeight/2 - 3 ) $containerBleed*2;
  border: none;
  -webkit-appearance: none;
  outline: none;

  @include medium {
    display: none;
  }
}

.nav-is-opened + .main-nav__btn {
  top: -6px;

  & i:before {
    font-size: $fontMedium;
    content: $icon-close;
  }
}


/*==========  ICONS  ==========*/
.main-nav__icon {
  float: right;
  margin-right: 7px;
  font-size: $fontBase;
  line-height: $lineHeight;
  vertical-align: middle;

  .main-nav__secondary-nav & {
    font-size: $fontSmall;
  }

  @include medium {
    display: none;
    font-size: $fontSmall;
  }
}

.icon-custom {
  &:before {
    @extend .icon-plus:before;

    @include medium {
      font-size: 9px;
      content: $icon-chevron-down;
    }
  }

  @include medium {
    float: none;
    display: inline-block;
    margin-left: 6px;
    line-height: $lineHeight/2;
    vertical-align: top; // middle breaks baseline grid
    position: relative;
    top: 7px;
  }

  .subnav-is-opened & {
    &:before {
      @extend .icon-minus:before;

      @include medium {
        content: $icon-chevron-up;
      }
    }
  }
}

// Wrapping in .main-nav due to specicifity
.main-nav {
  .main-nav__guide-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;

    @include medium {
      vertical-align: middle;
    }
  }
}

/*==========  CSS ANIMATION  ==========*/
@include keyframes(showNav){
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
