/**
*
* Spotlight wrapper
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Paul Bakaus
*
**/

.spotlight-wrapper {
  padding-top: $lineHeight;

  background: $colorGrayBackground;

  @include medium {
    padding-top: $lineHeight*3;
    padding-bottom: $lineHeight*2;
    background: $colorYellowSecondary;
  }

  @include wide {
    min-height: 470px;
  }

  h2 {
    margin-top: 0;
    padding-top: 0;
  }

  .related-items {

    margin-top: 38px;
    padding-top: 24px;

    @include medium {
      margin-top: 160px;
      padding-top: 50px;
      border-color: #EAC017;
    }

    @include wide {
      margin-top: 280px;
    }

  }

  .related-items-list {
    padding-top: 26px;
  }

  .related-items-list a {
    overflow: visible;
  }

}

.spotlight-listing .related-items {
  margin-top: 0;
  border: 0;
}

.spotlight-listing .related-items-list li:nth-child(3n+4) {
  margin-left: auto;
}

.spotlight-wrapper__content {

  @include wide {
    min-height: 310px;
  }

  h3 {
    margin-top: inherit;
  }

}

.spotlight-tags {
  padding-top: 0.5em;
}

.spotlight-scores {

  text-align: center;
  margin-top: 30px;

  @include medium {
    margin-top: 50px;
  }

  @include wide {
    margin-left: -37px;
    margin-right: 37px;
  }

  div {
    display: inline-block;
    @include medium {
      display: block;
    }
  }

  span {
    font-size: 30px;
    display: inline-block;
    border-radius: 100px;
    width: 120px;

    @include medium {
      line-height: 127px;
      height: 120px;
    }    

    &.low {
      @include medium {
        background: $colorRedSecondary;
      }
      strong {
        color: $colorRed;
      }
    }

    &.medium {
      @include medium {
        background: $colorYellowSecondary;
      }
      strong {
        color: $colorYellow;
      }
    }

    &.high {
      @include medium {
        background: $colorGreenSecondary;
      }
      strong {
        color: $colorGreen;
      }
    }

  }

  a {
    display: block;
    @include medium {
      margin-top: 12px;
    }
  }

  strong {
    font-weight: 500;
  }

}

div.related-items-on-spotlight {
  margin-top: 0;
  border: 0;
}