/**
*
* Articles list
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.articles-list__item {
  padding-top: $lineHeight;

  @include medium {
    padding-top: $lineHeight * 2;
  }

  padding-bottom: $lineHeight *2;
  padding-left: 0;

  &:before {
    content: "";
    width: 70%;
    height: 1px;
    left: 15%;
    box-shadow: inset 0 1px 0 0 $colorGrayC;
  }

  p {
    margin-top: $lineHeight;
    margin-bottom: $lineHeight;
  }

  &:first-child {
    padding-top: 0;

    @include medium {
      padding-top: $lineHeight;
    }

    &:before {
      display: none;
    }
  }

}

