/**
*
* Breadcrumb
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.breadcrumbs {
  display: none;
  @include medium {
    display: block;
  }

  position: relative;
  z-index: 1;
}

.breadcrumbs p {
  @include type--small;
}

.breadcrumbs__link {
  @include type--small;
  color: black;
  font-weight: 600;
}
