/**
*
* Button
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;

  outline: 0;

  &:hover {
    background: #4d4d4d;
    color: #ffffff;
    border-color: #4d4d4d;
    text-decoration: none;
  }
}


.button--primary {
  @extend .button;
  @include style-button($colorHighlight, #ffffff);
}

.button--secondary {
  @extend .button;
  @include style-button(#ffffff, $colorHighlight);
}

.button--secondary-variation {
  @extend .button;
  @include style-button(#ffffff, $colorHighlight, true);
}
