/**
*
* Column list
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.columns-list-wrapper {
  @include medium {
    margin-right: $mediumColWidth;
  }

  @include wide {
    margin-right: $wideColWidth;
  }
}

.list--columns {
  border-bottom: 1px solid #ccc;
  padding-bottom: $lineHeight - 1;

  @include medium {
    @include prefixr(column-count, 2);
    @include prefixr(column-rule, 0 none transparent);
    @include prefixr(column-gap, 0);
  }

  @include wide {
    @include prefixr(column-count, 3);
  }
}

.columns-list-item {
  @include type--small;
  padding: 0;
}

