/**
*
* Column list
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.columns-list-wrapper {
  @include medium {
    margin-right: $mediumColWidth;
  }
  @include wide {
    margin-right: $wideColWidth;
  }
}

.list--columns {
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  text-align: center;
  @include medium {
    text-align: left;
    @include prefixr(column-count, 2);
    @include prefixr(column-rule, 0 none transparent);
    @include prefixr(column-gap, 0);
  }

  @include wide {
    @include prefixr(column-count, 3);
  }
  counter-reset: list;
}

// Override default list bullet points
.columns-list-item {
  &:before {
    display: none;
  }

  a {
    @include type--small;
    padding: 0;
    &:before {
      counter-increment: list;
      content: "#0" counter(list);
      color: $colorBlue;
      font-weight: 600;
      display: inline-block;
      margin-right: 16px;
    }
  }
}
