/**
*
* Guides List
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/


.guides-list {
  overflow: hidden;

  @include medium {
    @include flexbox;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.guides-list__item {
  padding: 0;
  background: #ffffff;
  margin-top: $lineHeight;
  margin-bottom: 0;

  @include medium {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  h3 {
    margin: 0 32px;
  }

  p {
    margin: $lineHeight 32px 0;
  }

  .secondary-content {
    position: relative;
    background: darken($colorGrayBackground, 2%);
    margin-top: $lineHeight*2;

    @include medium {
      width: 100%; // needed due to parent being flex
      -webkit-align-self: flex-end;
      align-self: flex-end;
    }

    .icon-circle {
      position: absolute;
      top: -$lineHeight;
      left: 50%;
      margin-left: -22px;
    }
  }

  ol {
    margin: $lineHeight 0 0;
    padding: $lineHeight*2 0 $lineHeight*2;
    margin-top: 0;
  }

  &:before {
    display: none;
  }
}
