/**
*
* Icon Circle
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.icon-circle,
.icon-circle--large {
  height: 0;
  width: 0;
  padding: 22px; // Breaks baseline grid
  margin: 4px auto; // Adds margin top/bottom to fix baseline grid ;)
  background: $colorGray;
  display: block;
  position: relative;
  border-radius: 100%;
  font-size: 0;

  i {
    position: absolute;
    line-height: 1px;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: $fontLarge;
  }
}

.icon-circle--large {
  margin-top: 0;
  margin-bottom: 0;
  padding: $lineHeight;
  position: relative;

  i {
    font-size: $fontLarge;

    @include medium {
      font-size: $fontXLarge;
    }
  }

  @include medium {
    padding: $lineHeight + $lineHeight/2;

    &:after {
      content: "";
      display: block;

      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;

      border: 1px solid rgba(#ffffff, .42);
      border-radius: 100%;
    }
  }

}
