/**
*
* Link
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

a {
  color: $colorRed;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Mixin to create links
@mixin style-cta($textColor, $hasArrow: true) {
  color: $textColor;
  font-weight: 600;
  display: inline-block;

  &:hover {
    color: $colorGrayDark;
  }

  @if $hasArrow {
    &:before {
      content: ">";
      display: inline-block;
      padding-right: 16px;
    }
  }
}

.cta--primary {
  @include style-cta(#cb4437, true);
}

.cta--secondary {
  @include style-cta(#cb4437, false);
}
