/**
*
* Link
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

a {
  color: $colorHighlight;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cta--primary {
  @include style-cta($colorHighlight, $icon-chevron-right, 700);
}

.cta--secondary {
  @include style-cta($colorHighlight);
}
