/**
*
* List
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

@mixin bullet-type($bullet) {
  &:before {
    content: $bullet;
    display: inline-block;
    font-family: $fontHighlight;
    font-weight: 400;
    padding-right: 16px;
    line-height: 0;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  @include bullet-type("#");
}

.list__item {
  @include bullet-type(">");
}

.main-nav__item:before {
  display: none;
}
