/**
*
* List
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

@mixin bullet-type($bullet) {
  &:before {
    content: $bullet;
    display: block;
    font-family: $fontHighlight;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
  }
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

li {
  position: relative;
  padding-left: 16px;
  @include bullet-type("#");
}

.list__item {
  @include bullet-type(">");
}

.main-nav__item:before {
  display: none;
}
