/**
*
* List
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

ul,
ol {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

ul li {
  position: relative;
  padding-left: 16px;
  @include bullet-type("#");
}

ol {
  counter-reset: list;
  li {
    @include numbered-list;
  }
}

.list__item {
  @include bullet-type(">");
}


/*==========  LIST LINKS  ==========*/

ul.list--links {
  li:before {
    display: none;
  }
  a {
    @include bullet-type(">");
    font-weight: 400;
    font-family: $fontHighlight;
    line-height: 1; // fixes baseline grid alignment
  }
}

ol.list--links {
  li {
    &:before {
      display: none;
    }

    a {
      display: inline-block;
      @include numbered-list;
    }
  }
}


/*==========  CENTERED LIST  ==========*/

.centered-list {
  text-align: center;

  h3 {
    color: $colorBlue;
    padding-bottom: $lineHeight;
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 30%;
      height: 1px;
      box-shadow: 0 1px 0 0 $colorGrayKeyline;
      left: 35%;
      bottom: $lineHeight / 2;
    }
  }

  p {
    padding-bottom: $lineHeight;

    @include medium { padding-bottom: 0;}
  }

}

/*==========  FEATURED LIST  ==========*/

.featured-list {
  padding-top: $lineHeight * 3;
  padding-bottom: $lineHeight * 3;
}

.featured-list__item {
  background: #ffffff;
  padding-left: 0;
  min-height: $lineHeight * 13;
  padding-top: $lineHeight;
  padding-bottom: $lineHeight;

  @include medium {
    padding: $lineHeight * 2 32px;
  }

  margin-top: $lineHeight;

  &:first-child {
    margin-top: 0;
  }

  p {
    margin-bottom: $lineHeight;
  }
}

.featured-list__img-wrapper {
  position: relative;
  padding-top: $lineHeight;
  margin: 0 -5%;

  @include medium {
    padding-top: 0;
    margin: 0;
  }
}

.featured-list__img {
  @include medium {
    padding-top: 60.8%;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;

  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;

    @include medium {
      margin: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      left: 0;
    }
  }
}

/*==========  LIST RESET  ==========*/

.list--reset {
  li {
    padding-left: 0;

    & a:before,
    &:before {
      display: none !important; // Fine to use !important when we are forcing an override
    }
  }
}
