{% include "web/tools/workbox/_shared/config/single/globDirectory.html" %}

{% include "web/tools/workbox/_shared/config/single/globFollow.html" %}

{% include "web/tools/workbox/_shared/config/single/globIgnores.html" %}

{% include "web/tools/workbox/_shared/config/single/globPatterns.html" %}

{% include "web/tools/workbox/_shared/config/single/globStrict.html" %}

{% include "web/tools/workbox/_shared/config/single/templatedURLs.html" %}

{% include "web/tools/workbox/_shared/config/single/maximumFileSizeToCacheInBytes.html" %}

{% include "web/tools/workbox/_shared/config/single/dontCacheBustURLsMatching.html" %}

{% include "web/tools/workbox/_shared/config/single/modifyURLPrefix.html" %}

{% include "web/tools/workbox/_shared/config/single/manifestTransforms.html" %}
