{% include "web/tools/workbox/_shared/config/single/importWorkboxFrom.html" %}

{% include "web/tools/workbox/_shared/config/single/skipWaiting.html" %}

{% include "web/tools/workbox/_shared/config/single/clientsClaim.html" %}

{% include "web/tools/workbox/_shared/config/single/runtimeCaching.html" %}

{% include "web/tools/workbox/_shared/config/single/navigateFallback.html" %}

{% include "web/tools/workbox/_shared/config/single/navigateFallbackBlacklist.html" %}

{% include "web/tools/workbox/_shared/config/single/navigateFallbackWhitelist.html" %}

{% include "web/tools/workbox/_shared/config/single/importScripts.html" %}

{% include "web/tools/workbox/_shared/config/single/ignoreUrlParametersMatching.html" %}

{% include "web/tools/workbox/_shared/config/single/directoryIndex.html" %}

{% include "web/tools/workbox/_shared/config/single/cacheId.html" %}

{% include "web/tools/workbox/_shared/config/single/offlineGoogleAnalytics.html" %}
