{% include "web/tools/workbox/_shared/config/webpack-single/swDest.html" %}

{% include "web/tools/workbox/_shared/config/single/importWorkboxFrom.html" %}

{% include "web/tools/workbox/_shared/config/webpack-single/chunks.html" %}

{% include "web/tools/workbox/_shared/config/webpack-single/excludeChunks.html" %}

{% include "web/tools/workbox/_shared/config/webpack-single/include.html" %}

{% include "web/tools/workbox/_shared/config/webpack-single/exclude.html" %}

{% include "web/tools/workbox/_shared/config/webpack-single/importsDirectory.html" %}

{% include "web/tools/workbox/_shared/config/webpack-single/precacheManifestFilename.html" %}
