.blanklist, .content > .blanklist {
	list-style: none;

	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin: 0;
}

.blanklist li {
	padding: 0;
	margin: 0;
}

.blanklist li:before {
	display: none;
}
