/**
*
* Next Lessons
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.guides {
  background: $colorGrayDark;
  padding: $lineHeight $lineHeight $lineHeight*2;
  margin-top: $lineHeight*3;
  color: #ffffff;
  position: relative;

  h3 {
    @include color-inherit;

    i {
      vertical-align: middle;
      @include medium {
        display: none;
      }
    }
  }

  // &:before,
  &:after {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    vertical-align: top;
    line-height: 0;

    display: none;

    @include medium {
      display: block;
    }
  }

  a {
    font-weight: 600;
  }


  // This element represents the lesson icon
  &:after {
    @include medium {
      content: $icon-guides;
      font-family: $fontIcon;
      font-size: 150px;


      right: 40px;
      top: 197px;
    }

    @include wide {
      font-size: 218px;
      right: 120px;
    }

  }

  & .list-guides {
    @include medium {
      margin-right: 173px;
    }

    @include wide {
      margin-right: 306px;
    }
  }
}

.guides--minimal {
  margin-bottom: $lineHeight*3;

  &:after,
  &:before {
    display: none;
  }

  & ol {
    padding-left: 0;
  }

  & a {
    color: #ffffff;
  }
}
