/**
*
* Main Header
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.main-header {
  background: $colorGrayDark;
  color: #ffffff;
  position: relative;
  z-index: 3;
}

.main-header__title {
  @include type--large(true);

  padding-top: 0;
  margin: $lineHeight 0 $lineHeight;

  @include medium {
    padding: 0;
    margin: 0;
    float: left;
    background: transparent;
    width: 150px;
  }

  @include wide {
    width: 170px;
  }

  & span {
    font-weight: 300;
  }

  & a {
    .no-touch &:hover {
      color: $colorGray;
    }
  }

  // reduce margin-bottom only if beta banner exists
  .beta + & {
    @include small-only {
      margin-bottom: 22px;
    }
  }
}

.main-nav__header {
  @include container(true);
  @include type--medium(true);
  color: #ffffff;
  font-family: $fontHighlight;
  padding-top: $lineHeight/2;
  padding-bottom: $lineHeight/2;
  background: $colorGrayDark;

  @include medium {
    display: none;
  }
}

body[dir=rtl] .main-nav__header {
  text-align: left;
}

.main-header__logo {
  text-decoration: none;
  color: $colorGrayDark;
  font-weight: 400;

  @include medium {
    font-family: $fontHighlight;
    text-decoration: none;
    display: block;
  }

}
