/**
*
* Our view
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.our-view {
  margin-top: $lineHeight*3;
  position: relative;
  z-index: 1;

  & .our-view__title {
    @include small-only {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  @include small-only {
    margin-bottom: -1px;
  }

  @include medium {
    &:after {
      background: #FDD835;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 50%;
      right: 0;
      left: 50%;
    }
  }
}

.our-view__content {
  color: $colorGrayDark;
  padding-top: $lineHeight;
  padding-bottom: $lineHeight*2;

  @include small-only {
    background: #FDD835;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: $lineHeight;
  }

}

.our-view__list-wrapper {

  & .our-view__subtitle {
    padding-left: 16px;
    font-weight: 400;
  }

  & ul,
  & ol {
    padding-left: 16px;
  }

  &:last-child {
    margin-top: $lineHeight;

    @include small-only {
      border-top: 1px solid $colorYellow;
    }
  }

}
