{% if lowerTabs and lowerTabs|length > 1 %}
<div class="devsite-doc-set-nav-row devsite-full-site-width">
  <nav class="devsite-doc-set-nav devsite-nav devsite-overflow-tabs-scroll-wrapper">
    <ul class="devsite-doc-set-nav-tab-list devsite-overflow-tabs-scroll">
      {% for tab in lowerTabs %}
      <li class="devsite-doc-set-nav-tab-container">
        <a href="{{ tab.path }}" class="devsite-doc-set-nav-tab">
          {{ tab.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}
