<meta charset="utf-8">
<meta name="robots" content="noindex">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://developers.google.com/web/{{ requestPath }}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons">
<link rel="stylesheet" href="/wf-local/styles/devsite-{{ projectYaml.color }}.css">
<title>{{ pageTitle }}</title>
{% include "includes/head-embedded-styles.html" %}
{% if customCSSPath %}
  <link rel="stylesheet" href="{{ customCSSPath }}">
{% endif %}
