{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content">

  {{ content }}

  {% include page-structure/license.liquid %}

</div>

<div class="page-content">
  <div id="gplus-comment-container" class="update-post__gplus-comment-container">
    <div id="gplus-comments" data-url="{{page.raw_canonical_url}}"></div>
  </div>
</div>

{% include page-structure/close-page.liquid %}
