@import "dimens";
@import "colors";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;

  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  line-height: $base-line;
}

pre {
  padding: $base-line;

  overflow-x: auto;

  background-color: $code-bg-color;
  font-family: 'Inconsolata', 'monospace';
}
