@import "dimens";
@import "colors";

$typecsset-base-font-size:      16px !default;
$typecsset-base-line-height:    $base-line !default;

// Heading sizes
$typecsset-h1-size:             24px !default;
$typecsset-h2-size:             20px !default;
$typecsset-h3-size:             16px !default;
$typecsset-h4-size:             16px !default;
$typecsset-h5-size:             12px !default;
$typecsset-h6-size:             8px !default;

// Would you like indented (rather than spaced) paragraph delimiting?
$typecsset-indented-paragraphs: false !default;

// Would you like to show a baseline grid? This is handy during development.
$typecsset-show-baseline:       false !default;

@import "../third_party/typecsset/typecsset";

@media (min-width: $max-content-width) {
  $typecsset-base-font-size:      18px;
  $typecsset-base-line-height:    $base-line;

  // Heading sizes
  $typecsset-h1-size:             34px;
  $typecsset-h2-size:             30px;
  $typecsset-h3-size:             26px;
  $typecsset-h4-size:             22px;
  $typecsset-h5-size:             20px;
  $typecsset-h6-size:             18px;

  @import "../third_party/typecsset/typecsset";
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;

  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;

  word-wrap: break-word;
}

img, video {
  max-width: 100%;
  height: auto;
}

li {
  line-height: $base-line;
}

pre {
  padding: $base-line;

  overflow-x: auto;

  background-color: $code-bg-color;
  font-family: 'Inconsolata', 'monospace';
}

a {
  color: $highlight-color;
}

main {
  max-width: $max-content-width;

  margin-left: auto;
  margin-right: auto;

  padding: $base-line / 2;
}
