@import "dimens";
@import "colors";
@import "embed";
@import "../../third_party/material-design-lite/src/variables";
@import "../../third_party/material-design-lite/src/mixins";

$color-primary-works: unquote("rgb(#{$color-primary})");
$color-accent-contrast-works: unquote("rgb(#{$color-accent-contrast})");

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;

  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;

  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $base-line;
  margin-bottom: $base-line / 4;

  // Why is this needed?
  clear: both;
}

h1 {
  @include typo-display-2;
}

h2 {
  @include typo-display-1;
}

h3 {
  @include typo-headline;
}

h4 {
  @include typo-title;
}

h5 {
  @include typo-subhead-2;
}

h6 {
  @include typo-subhead($colorContrast: true);
}

p, ul, ol, dt {
  @include typo-body-1;

  // Bumps font up by 2 pixels
  font-size: 16px;

  margin-bottom: $base-line;
}

dt {
  margin-bottom: 0em;
}

img, video {
  max-width: 100%;
  height: auto;
}

li {
  line-height: $base-line;
}

pre {
  padding: $base-line / 2;

  overflow-x: auto;

  background-color: $code-bg-color;
}

pre, code {
  font-size: 10pt;
  line-height: $base-line;
  word-wrap: normal;
  font-family: 'Roboto Mono', 'Inconsolata', 'monospace';
}

a {
  color: $color-accent;
}

video {
  margin-bottom: $base-line;
}

hr {
  margin: ($base-line * 1.5) 0;
}

.page-content {
  max-width: $max-content-width;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: $base-line;

  padding: 0 ($base-line);
}

.top-padding {
  padding-top: ($base-line);
}

/**.page-main-content {
  padding: ($base-line) ($base-line) 0 ($base-line);

  & > h1 {
    margin-top: 0;
    margin-bottom: $base-line;
  }
}**/

figure > img {
  margin-bottom: $base-line / 2;
}

figcaption {
  color: $text-grey-color;

  a {
    color: inherit;
  }
}

.mdl-layout__drawer-button.wf-header__menu-btn {
  display: inline-block;

  width: $base-line * 2;
  height: $base-line * 2;

  line-height: $base-line * 2;
  text-align: center;
  margin-left: 0;
  margin-right: 0;

  & svg {
    width: $header-svg-icon-size;
    height: $header-svg-icon-size;

    fill: white;
  }
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #333;
  font-size: 11px;
  line-height: 1.4;
  text-shadow: 0 1px 0 #fff;
  display: inline-block;
  padding: 0.1em 0.6em;
  margin: 0 0.1em;
  white-space: nowrap;
  box-shadow: 0 1px 0px rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  border-radius: 3px;
}

blockquote {
  padding: ($base-line / 2) $base-line;
  margin-bottom: $base-line;
  border-left-color: $color-accent;
  border-left-style: solid;
  border-left-width: $left-border-callout-width;
  font-size: 1.1em;
}


.wf-figcaption-good {
  padding: ($base-line / 2) $base-line;
  margin-bottom: $base-line;
  border-top-color: #4caf50;
  border-top-style: solid;
  border-top-width: $left-border-callout-width * 2;
}

.wf-figcaption-bad {
  padding: ($base-line / 2) $base-line;
  margin-bottom: $base-line;
  border-top-color: #F44336;
  border-top-style: solid;
  border-top-width: $left-border-callout-width * 2;
}

.intro {
  @include typo-subhead-2($usePreferred: false);
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: $base-line;
  margin-top: $base-line * 2;
  padding-bottom: $base-line / 2;
  border-bottom: 1px solid #eee;
}

.mdl-cell > .intro {
  margin-top: 0;
}

.page-content > .mdl-grid {
  margin-top: $base-line * 1;
}
