$base-line: 24px;
$max-content-width: 760px;

$mobile-base-font-size: 16px;
$tablet-base-font-size: 18px;

$left-border-callout-width: 4px;
$header-svg-icon-size: 24px;

$nav-drawer-vertical-padding: $base-line / 3;
$nav-drawer-horizontal-padding: $base-line;
$layout-header-desktop-indent: $nav-drawer-horizontal-padding;

$input-text-button-size: $base-line * 2;

// MDL Card Override
$card-width: inherit;
