// MDL Table Overrides
.mdl-data-table {
  // We want the text to wrap
  white-space: normal;

  // MDL defines no line height or margin
  line-height: $base-line;
  margin-bottom: $base-line;
}

@media screen and (max-width: $grid-desktop-breakpoint) {
  .mdl-data-table {
    width: 100%;

    thead, tfoot {
      display: none;
    }

    tbody, tr, td {
      display: block;
    }

    tbody tr {
      height: auto;
    }

    tbody td {
      height: auto;
      text-align: right;
      vertical-align: middle;
    }

    td[data-th]:before {
      content: attr(data-th);
      float: left;

      // Styles from th
      text-overflow: ellipsis;
      @include typo-body-2();
      height: $data-table-row-height;
      font-size: $data-table-header-font-size;
      color: $data-table-header-color;
    }

  }
}

.mdl-data-table td, .mdl-data-table th {
  // MDL text-aligns right by default
  text-align: left;
  line-height: $base-line * 0.75;

  // Padding in MDL table is weird - some padding but it's consistent.
  padding-bottom: $base-line / 2;
  padding-top: $base-line / 2;
}






// TODO: Where is this applied @pbakaus?
ul ul {
  margin-bottom: 0;
}
