div.highlight > pre > code, code .highlight  { background: transparent; }
div.highlight > pre .c, code .highlight .c { color: #999988; font-style: italic } /* Comment */
div.highlight > pre .err, code .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
div.highlight > pre .k, code .highlight .k { font-weight: bold; } /* Keyword */
div.highlight > pre .o, code .highlight .o { font-weight: bold; } /* Operator */
div.highlight > pre .cm, code .highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
div.highlight > pre .cp, code .highlight .cp { color: $colorGray; } /* Comment.Preproc */
div.highlight > pre .c1, code .highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
div.highlight > pre .cs, code .highlight .cs { color: $colorGray; font-style: italic } /* Comment.Special */
div.highlight > pre .gs, code .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
div.highlight > pre .gd .x, code .highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
div.highlight > pre .ge, code .highlight .ge { font-style: italic } /* Generic.Emph */
div.highlight > pre .gr, code .highlight .gr { color: #aa0000 } /* Generic.Error */
div.highlight > pre .gh, code .highlight .gh { color: $colorGray } /* Generic.Heading */
div.highlight > pre .gi, code .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
div.highlight > pre .gi .x, code .highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
div.highlight > pre .go, code .highlight .go { color: #888888 } /* Generic.Output */
div.highlight > pre .gp, code .highlight .gp { color: #555555 } /* Generic.Prompt */
div.highlight > pre .gs, code .highlight .gs { } /* Generic.Strong */
div.highlight > pre .gu, code .highlight .gu { color: #aaaaaa } /* Generic.Subheading */
div.highlight > pre .gt, code .highlight .gt { color: #aa0000 } /* Generic.Traceback */
div.highlight > pre .kc, code .highlight .kc { } /* Keyword.Constant */
div.highlight > pre .kd, code .highlight .kd { font-weight: bold; } /* Keyword.Declaration */
div.highlight > pre .kp, code .highlight .kp { } /* Keyword.Pseudo */
div.highlight > pre .kr, code .highlight .kr { } /* Keyword.Reserved */
div.highlight > pre .kt, code .highlight .kt { color: #445588; } /* Keyword.Type */
div.highlight > pre .m, code .highlight .m { color: #009999 } /* Literal.Number */
div.highlight > pre .s, code .highlight .s { color: $colorLearning } /* Literal.String */
div.highlight > pre .na, code .highlight .na { color: #008080 } /* Name.Attribute */
div.highlight > pre .nb, code .highlight .nb { color: #4527A0 } /* Name.Builtin */
div.highlight > pre .nc, code .highlight .nc { color: #445588; } /* Name.Class */
div.highlight > pre .no, code .highlight .no { color: #008080 } /* Name.Constant */
div.highlight > pre .ni, code .highlight .ni { color: #800080 } /* Name.Entity */
div.highlight > pre .ne, code .highlight .ne { color: #990000; } /* Name.Exception */
div.highlight > pre .nf, code .highlight .nf { color: #990000; } /* Name.Function */
div.highlight > pre .nn, code .highlight .nn { color: #555555 } /* Name.Namespace */
div.highlight > pre .nt, code .highlight .nt { color: $colorRemember } /* Name.Tag */
div.highlight > pre .nv, code .highlight .nv { color: #008080 } /* Name.Variable */
div.highlight > pre .ow, code .highlight .ow { } /* Operator.Word */
div.highlight > pre .w, code .highlight .w { color: #bbbbbb } /* Text.Whitespace */
div.highlight > pre .mf, code .highlight .mf { color: #009999 } /* Literal.Number.Float */
div.highlight > pre .mh, code .highlight .mh { color: #009999 } /* Literal.Number.Hex */
div.highlight > pre .mi, code .highlight .mi { color: #009999 } /* Literal.Number.Integer */
div.highlight > pre .mo, code .highlight .mo { color: #009999 } /* Literal.Number.Oct */
div.highlight > pre .sb, code .highlight .sb { color: $colorLearning } /* Literal.String.Backtick */
div.highlight > pre .sc, code .highlight .sc { color: $colorLearning } /* Literal.String.Char */
div.highlight > pre .sd, code .highlight .sd { color: $colorLearning } /* Literal.String.Doc */
div.highlight > pre .s2, code .highlight .s2 { color: $colorLearning } /* Literal.String.Double */
div.highlight > pre .se, code .highlight .se { color: $colorLearning } /* Literal.String.Escape */
div.highlight > pre .sh, code .highlight .sh { color: $colorLearning } /* Literal.String.Heredoc */
div.highlight > pre .si, code .highlight .si { color: $colorLearning } /* Literal.String.Interpol */
div.highlight > pre .sx, code .highlight .sx { color: $colorLearning } /* Literal.String.Other */
div.highlight > pre .sr, code .highlight .sr { color: #009926 } /* Literal.String.Regex */
div.highlight > pre .s1, code .highlight .s1 { color: $colorLearning } /* Literal.String.Single */
div.highlight > pre .ss, code .highlight .ss { color: #990073 } /* Literal.String.Symbol */
div.highlight > pre .bp, code .highlight .bp { color: $colorGray } /* Name.Builtin.Pseudo */
div.highlight > pre .vc, code .highlight .vc { color: #008080 } /* Name.Variable.Class */
div.highlight > pre .vg, code .highlight .vg { color: #008080 } /* Name.Variable.Global */
div.highlight > pre .vi, code .highlight .vi { color: #008080 } /* Name.Variable.Instance */
div.highlight > pre .il, code .highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
div.highlight > pre .hll { font-weight: 700; } /* Highlighted lines should be bold */
