/**
*
* Table
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

table {
  width: 100%;

  & thead {
    background: $color-accent;
    color: #ffffff;
  }

  & tr {
    border-bottom: 1px solid #ffffff;
  }

  & td, & th {
    border-right: 1px solid #ffffff;
  }

  & tbody {
    background: $table-bg-color;
  }

}
