ul.checkmarks {
  list-style-type:none;
  padding:0;
}

ul.checkmarks li {
  background-image:url("//developers.google.com/maps/images/lhimages/compare-yes.svg");
  background-repeat:no-repeat;
  background-position:0 1px;
  padding-left:30px;
}

ul.checkmarks li:first-of-type {
  margin-top: 0;
}

ul.checkmarks li > a {
  font-weight: bold;
}

.pwaMarginHack {
  padding-top: 40px;
}

#dive-deeper {
  margin-top: 16px;
}

@media screen and (max-width: 1000px) {
  .devsite-landing-page .devsite-product-description-row {
    max-width: none;
  }
}

.devsite-landing-page .devsite-product-description-row {
  max-width: calc((100% - 80px)*2/3);
}

.wf-header-title {
  margin-top: 20px;
}
