---
layout: default
title: "Styleguide"
description: "Styleguide description"
class: "page--styleguide"
---
{% comment %}
NOTE: This is our styleguide
{% endcomment %}


<div class="main-container">


  <section>

    <h1>Styleguide</h1>
    <h2>Typography</h2>
    <p class="small">Lorem ipsum dolor sit amet.</p>
    <p class="base">Lorem ipsum dolor sit amet.</p>
    <p class="medium">Lorem ipsum dolor sit amet.</p>
    <p class="large">Lorem ipsum dolor sit amet.</p>
    <p class="xlarge">Lorem ipsum dolor sit amet.</p>
    <p class="xxlarge">Lorem ipsum dolor sit amet.</p>
    <p class="huge">Lorem ipsum dolor sit amet.</p>

    <div class="demo">
      <h1>This is a H1 heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptatem laboriosam voluptatum blanditiis nobis rem vitae id! Cum, veritatis at tenetur quam quidem aspernatur dolore. Voluptates officiis quam dolores ullam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, libero, excepturi, minus, nemo laboriosam tempore nesciunt iure ad voluptates facere voluptas modi beatae omnis dignissimos quas. Necessitatibus, illo a nulla!</p>

      <h2>This is a H2 heading</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptatem laboriosam voluptatum blanditiis nobis rem vitae id! Cum, veritatis at tenetur quam quidem aspernatur dolore. Voluptates officiis quam dolores ullam.</p>

      <h3>This is a H3 heading</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptatem laboriosam voluptatum blanditiis nobis rem vitae id! Cum, veritatis at tenetur quam quidem aspernatur dolore. Voluptates officiis quam dolores ullam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptatem laboriosam voluptatum blanditiis nobis rem vitae id! Cum, veritatis at tenetur quam quidem aspernatur dolore. Voluptates officiis quam dolores ullam.</p>

      <h4>This is a H4 heading</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ullam, voluptatibus, blanditiis, qui voluptatum veniam reiciendis repudiandae consequuntur voluptas quod perspiciatis nostrum similique quasi quas expedita. Itaque, nobis dolorem possimus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, reiciendis, sint, asperiores, tempore deleniti aliquid possimus fugit dolore dolor perspiciatis corrupti cumque hic cupiditate quisquam delectus eveniet non architecto magnam.</p>

      <p class="small"><strong>This is small text.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, optio, fuga ipsa consequatur enim omnis quod provident ipsam inventore dolorum similique perferendis in harum molestias magni dolor possimus animi repellendus!</p>
    </div>

  </section>


  <section>
    <h2>Grids</h2>
    <h3>Demo</h3>

    <section class="clear demo">
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1"></div>
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1 g-wide--last"></div>
    </section>

    <section class="clear demo">
      <div class="g-wide--1 g-medium--half"></div>
      <div class="g-wide--3 g-wide--last g-medium--half g--last"></div>
    </section>

    <section class="clear demo">
      <div class="g-wide--3 g-medium--half"></div>
      <div class="g-wide--1 g-wide--last g-medium--half g--last"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--full g-wide--full"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--2 g-medium--last g-wide--3"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--2"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--1"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--1 g-wide--push-3 g-wide--last"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--2 g-wide--push-2 g-wide--last"></div>
    </section>

    <section class="clear demo">
      <div class="g-medium--2 g-medium--push-1 g-medium--last g-wide--3 g-wide--push-1 g-wide--last"></div>
    </section>

    <h4>Consistent grid classes</h4>

    <section class="clear demo">
      <div class="g--third"></div>
      <div class="g--third"></div>
      <div class="g--third g--last"></div>
    </section>


    <section class="clear demo">
      <div class="g--half"></div>
      <div class="g--half g--last"></div>
    </section>

  </section>

  <section>
    <h2>Modules</h2>
    <h3>Highlights</h3>


  </section>

</div>

{% include modules/highlight.liquid title="Remember" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}

{% include modules/highlight.liquid symbolposition="left" title="Important" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." type="learning" %}
