---
layout: default
description: "Web Fundamentals는 멀티디바이스 웹 개발을 위한 포괄적인 자료를 제공합니다."
class: home
title: Web Fundamentals
id: home
---

<style>
  .sections {
    margin-bottom: 52px;
  }

</style>

<div class="home-header centered">
  <div class="container">
    <h1>Web <b>Fundamentals</b></h1>
    <p>모던 웹 개발을 위한 최적의 사례 모음</p>
    <a href="{{site.fundamentals}}/getting-started/your-first-multi-screen-site/?hl={{page.langcode}}" title="Get started with Web Fundamentals" class="button--secondary-variation">시작하기</a>
  </div>
</div>

<div class="container">
  <div class="centered">
    <h3 class="g-wide--2 g--centered xlarge">훌륭한 멀티디바이스 웹 구축하기</h3>
    <p class="g-wide--3 g--centered">
      Web Fundamentals는 멀티디바이스 웹 개발을 위한 포괄적인 자료를 제공합니다. 저희는 막 첫걸음을 디뎠고, 여러분의 도움을 필요로 합니다. 만약 적절하지 않은 무언가를 발견하거나 제안 사항이 있으시다면 
      <a href="{{site.github.root}}/issues" title="File an issue on GitHub">이슈를 등록</a>하거나
      <a href="{{site.github.root}}/pulls" title="Submit a pull request on GitHub">Pull Request를 보내주시기 바랍니다</a>.
    </p>
    <p class="g-wide--3 g--centered">
      여러분은 여기서 제시하는 최적의 안내 사항 전부에 따라 새로운 사이트 제작의 시작을 위해 <a href="/web/starter-kit/">Google Web Starter Kit</a>를 사용할 수 있습니다.
    </p>
  </div>
</div>

<div class="container sections">
  <div class="centered">  
    <ul class="list-guides-intro guides-list container">

      {% for guide in page.articles.[page.id] %}
      {% if guide.published != false  and (guide.is_localized != true or page.langcode == guide.langcode) %}
      <li class="guides-list__item g--third theme--{{ guide.id }}" style="margin-right: 0;">
        <a href="{{site.baseurl}}{{guide.url | clean | localize_link:guide }}" title="{{guide.title}}" class="themed">
            <span class="icon-circle--large themed--background"><i class="icon icon-{{guide.id}}"></i></span>
            <h3 class="large">{{guide.title}}</h3>
          </a>
          <p>{{ guide.snippet }}</p>
      </li>
      {% endif %}
      {% endfor %}

    </ul>
    </div>
  </div>
</div>

{% if site.spotlights == true %}

{% featured_showcase showcase %}

<div class="featured-section">
  <div class="container-medium">
    <ul class="featured-list">
      <li class="featured-list__item clear">
        <div class="container-small">
          <div class="featured-list__content g--half">
            <h3>Case Study</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
            <a href="#" class="cta--primary">View Google</a>
          </div>
          <figure class="featured-list__img-wrapper g--half g--last">
            <img src="../../imgs/placeholder--medium.png" alt="image example">
          </figure>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endif %}

{% comment %}
<div class="recommended-section">
  <div class="container-medium">
    <ul class="recommended-list">
      <li class="recommended-list__item clear theme--multi-device-layouts">
        <div class="recommanded-list__content g--half">
          <h4 class="themed large">Multi-device layouts</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#" class="cta--primary">Get started</a>
        </div>
        <div class="recommanded-list__content g--half g--last">
          <h4 class="large">Resources</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
          <a href="#" class="cta--primary">View</a>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endcomment %}
