.update-post__content-container {
  padding: 0 $base-line;
  margin: $base-line 0;
}

.highlight pre {
  margin-left: - $base-line;
  margin-right: - $base-line;
}

// This is display flex to remove an odd gap under the comments on mobile
.update-post__comment-container {
  display: flex;
}
