
.wf-header-title {
  line-height: $layout-header-desktop-row-height;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  flex-shrink: initial;

  transition: opacity 400ms;
}

.wf-header__search-container {
  min-width: $base-line * 2;
  max-width: calc(100% - 48px);
  min-height: $base-line * 2;
  padding: 0;
}

.mdl-textfield .mdl-button.wf-header__search-btn {
  bottom: 0;
  left: 0;
}

.wf-header__search-expanding-container {
  display: inline-flex;

  height: $input-text-button-size;

  flex-direction: row;
  align-items: center;

  margin-left: $base-line * 2;
}

.wf-header__small-btn {
  svg {
    fill: white;
  }
}
