@import "../colors";
@import "../dimens";
@import "../../../third_party/material-design-lite/src/mixins";

$article-nav-icon-size: $base-line;

.wf-article-nav {
  display: flex;

  flex-direction: row;

  color: white;
}

.wf-article-nav__link-container {
  background-color: $color-accent;

  padding-top: $base-line;
  padding-bottom: $base-line;
  padding-left: ($base-line / 2);
  padding-right: ($base-line / 2);

  flex: 1;
}

.wf-article-nav__prev, .wf-article-nav__next {

  .wf-article-nav__subtitle {
    display: none;
  }

  .wf-article-nav__link-title {
    display: none;
  }
}

.wf-article-nav__prev {
  .wf-article-nav__link {
    text-align: left;
    margin-left: auto;
  }
}

.wf-article-nav__next {
  .wf-article-nav__link {
    text-align: right;
    margin-right: auto;
  }
}

.wf-article-nav__link {
  display: block;

  width: 100%;

  text-decoration: none;
  color: inherit;
}

.wf-article-nav__link-text-container {
  display: flex;

  flex-direction: column;

  .wf-article-nav__prev & {
    align-items: flex-start;
  }

  .wf-article-nav__next & {
    align-items: flex-end;
  }
}

.wf-article-nav__subtitle {
  @include typo-subhead;

  // To match material design spec site.
  opacity: 0.54;
}

.wf-article-nav__link-title {
  @include typo-title;
  line-height: $article-nav-icon-size;
}

.wf-article-nav__icon {
  width: $article-nav-icon-size;
  height: $article-nav-icon-size;

  svg {
    width: $article-nav-icon-size;
    height: $article-nav-icon-size;

    fill: white;
  }
}

.wf-article-nav__row {
  display: flex;

  flex-direction: row;
}

@media (min-width: 700px) {
  .wf-article-nav__link-container {
    width: 0;

    flex: 1;
  }

  .wf-article-nav__link {
    max-width: $max-content-width / 2;
  }

  .wf-article-nav__prev, .wf-article-nav__next {
    .wf-article-nav__row {
      padding-top: 0;
    }

    .wf-article-nav__subtitle {
      display: inline-block;
    }

    .wf-article-nav__link-title {
      display: block;
    }
  }
}
