.wf-highlight-list {
  padding: ($base-line / 2) $base-line;
  margin-bottom: $base-line;

  border-left-style: solid;
  border-left-width: $left-border-callout-width;
}

.wf-highlight-list__title {
  @include typo-subhead();
  padding: 0;
  margin: 0;
  color: $text-grey-color;
}

.wf-highlight-list__list {
  margin: 0;
  margin-top: 0.3em;
  padding-left: $base-line;
  padding-right: $base-line;

  list-style: none;
}

.wf-highlight-list__list li {
  @include typo-title();

  font-size: 16px;
  margin-bottom: 0.3em;
  line-height: 1.625;

  & > a {
    text-decoration: none;
  }
}

.wf-highlight-list__list li:last-child {
  margin-bottom: 0;
}

.wf-highlight-list--learning {
  border-left-color: $highlight-border-color;
}
