.wf-related-guides {
  margin-top: $base-line * 3;
  margin-bottom: $base-line * 3;
}

.wf-related-guides__content {
  padding-top: $base-line * 3;
  padding-bottom: $base-line * 3;
  padding-left: $base-line;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $grey-border-color;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $grey-border-color;
}

.wf-related-guides__title {
  @include typo-subhead();
  color: $text-grey-color;
}

.wf-related-guides__list {
  margin: 0;

  list-style: none;
}

.wf-related-guides__list-item {
  & a {
    text-decoration: none;
  }
}

.wf-related-guides__section-title {
  @include typo-caption();
  margin-bottom: 0;
}

.wf-related-guides__guide-title {
  @include typo-headline();
}
