.wf-tools-panel {

  h3 {
    top: -1em;
    position: relative;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
    text-align: center;
  }

  p {
    margin-top: -1em;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

}

.wf-devtools-header {

  .page-content:first-child {
    padding-bottom: 0;
  }

  h1 {
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
    font-weight: 300;

    img {
      vertical-align: bottom;
      width: 80px;
      margin-right: 0.5em;
    }

  }

  p.access {
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    li {
      margin-bottom: 0;
    }
  }

}


