
.wf-highlight-list {
  padding: ($base-line / 2) $base-line;
  margin-bottom: $base-line;

  border-left-style: solid;
  border-left-width: $left-border-callout-width;
}

body[dir="rtl"] .wf-highlight-list {
  border-left-style: none;
  border-right-style: solid;
  border-right-width: $left-border-callout-width;
}

.wf-highlight-list__title {
  @include typo-subhead();
  margin: 0;
  margin-bottom: ($base-line / 2);
  color: $text-grey-color;
}


.wf-highlight-list__list {
  margin: 0;
  padding-left: $base-line;
  padding-right: $base-line;

  list-style: none;
}

.wf-highlight-list__list li {
  @include typo-subhead();
  letter-spacing: 0;

  margin-bottom: $base-line / 2;

  & a {
    text-decoration: none;
  }

  //& > a {
  //  display: block;
  //}
}

.wf-highlight-list__subtitle {
  @include typo-caption();
  margin-bottom: 0;
}

.wf-highlight-list__list li:last-child {
  margin-bottom: 0;
}

.wf-highlight-list--learning {
  border-color: $highlight-border-color;
}

.wf-highlight-list--remember {
  border-color: $remember-border-color;
}

.wf-highlight-list--note {
  border-color: $note-border-color;
}
