.wf-tools-panel {

  h3 {
    top: -1em;
    position: relative;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
    text-align: center;
  }

  p {
    margin-top: -1em;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

}


