.wf-subheading {
  background-color: $color-accent;

  color: $color-accent-contrast-works;

  .page-content {
    padding-top: $base-line;
    padding-bottom: $base-line;

    margin-bottom: 0;
  }

  a {
    color: $color-accent-contrast-works;
  }

  .mdl-button, .mdl-button--accent.mdl-button--accent {
    color: $color-accent;
    background-color: rgb(255, 255, 255);
  }

  .mdl-button:hover, .mdl-button--accent.mdl-button--accent:hover {
    background-color: rgb(235, 235, 235);
  }
}

.wf-secondaryheading {
  background-color: #f8f8f8;

  .page-content {
    padding-top: $base-line;
    padding-bottom: $base-line;

    margin-bottom: 0;
  }

  a {
    color: $color-accent;
  }
}
