.wf-btn__small {
  display: inline-block;

  width: $base-line * 2;
  height: $base-line * 2;

  text-align: center;

  padding-top: (($base-line * 2) - $header-svg-icon-size) / 2;
  padding-bottom: (($base-line * 2) - $header-svg-icon-size) / 2;
  box-sizing: border-box;

  svg {
    width: $header-svg-icon-size;
    height: $header-svg-icon-size;

    fill: $text-color-primary;

    vertical-align: initial;
  }
}
