/**.wf-shows-subscribe {
  margin-top: $base-line;
  margin-bottom: $base-line;

  padding-top: $base-line;
  padding-bottom: $base-line;
  padding-left: $base-line;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $grey-border-color;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $grey-border-color;

  .wf-shows-subscribe__btn-container {
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    padding-left: $base-line;
  }
}**/

/**.wf-shows-subscribe__title {
  @include typo-subhead();
  color: $text-grey-color;
}**/

.wf-shows-subscribe__icon {
  width: $button-height;
  height: $button-height;

  margin-right: $button-padding;

  svg {
    width: $button-height * (1.5 / 2);
    height: $button-height * (1.5 / 2);

    fill: white;
  }
}

.wf-shows-subscribe__yt-btn, .wf-shows-subscribe__feed-btn {
  display: inline-flex;

  padding-left: 0;
  padding-right: 0;

  margin-bottom: $base-line / 2;

  a {
    flex: 1;
    text-decoration: none;
    color: $text-color-primary;
    padding: 0 ($base-line / 2);
  }
}

.wf-shows-subscribe__yt-btn {
  .wf-shows-subscribe__icon {
    background-color: #e52d27;
  }
}

.wf-shows-subscribe__feed-btn {
  .wf-shows-subscribe__icon {
    background-color: #f26522;
  }
}
