.wf-subdirectory-list {
  padding-top: $base-line * 2;
  padding-bottom: $base-line * 2;
  padding-left: 0;
  padding-right: 0;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $grey-border-color;

  .mdl-cell {
    margin-left: 0;
    margin-right: 0;
  }
}

.wf-subdirectory-list:last-child {
  border-bottom: none;

  padding-bottom: 0;
  margin-bottom: $base-line * 2;
}

.wf-subdirectory-list__title {
  margin-top: 0;

  a {
    text-decoration: none;
  }
}

.wf-subdirectory-list__pages-list {

}

.wf-subdirectory-list__pages-list-item {
  margin-bottom: 12px;
}
