$vertical-padding: $base-line / 2;
$horizontal-padding: $base-line;

.wf-nav-drawer {
  display: flex;
  position: fixed;

  flex-direction: column;
}

.wf-navdrawer__github-links {
  text-align: center;

  a {
    display: inline-block;
    padding: $vertical-padding 0;
  }
}

.mdl-layout__obfuscator {
  position: fixed;
}

.wf-nav__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.wf-main-nav__list {
  display: inline-block;
  width: 100%;

  padding-bottom: $vertical-padding 0;
  border-bottom: 1px solid $grey-border-color;
}

.wf-main-nav__list-level-1 .wf-main-nav__item {
  padding: $vertical-padding $horizontal-padding;
}

.wf-main-nav__list-level-1 > .wf-main-nav__item > .wf-main-nav__link,
.wf-main-nav__list-level-3 > .wf-main-nav__item > .wf-main-nav__link {
  color: $text-color-primary;
}

.wf-main-nav__list-level-2 .wf-main-nav__item {
  padding: $vertical-padding $vertical-padding;
}

.wf-main-nav__list-level-3 .wf-main-nav__item {
  padding: $vertical-padding $vertical-padding;
}

.wf-main-nav__link {
  text-decoration: none;
}
