@import "../../../third_party/material-design-lite/src/variables";
@import "../../../third_party/material-design-lite/src/mixins";

$author-img-height: $base-line * 1.5;

.wf-author__container {
  padding-top: 0;

  & a {
    color: $text-color-primary;
    text-decoration: none;
  }

  h6 {
    margin: 0;
  }
}

.wf-author__row {
  display: flex;

  flex-direction: row;
  align-items: center;
}

.wf-author__img-container, .wf-author__time-icon {
  width: $author-img-height;
  height: auto;
  flex-shrink: 0;

  & > svg {
    fill: $text-color-primary;
  }
}

.wf-author__profile-photo {
  border-radius: 100%;
}

.wf-author__info {
  margin-left:($base-line / 2);

  p {
    margin: 0;
  }
}

body[dir="rtl"] .wf-author__info {
  margin-left: 0;
  margin-right: ($base-line / 2);
}


.wf-author__name {
  @include typo-title;

  line-height: $author-img-height;
}

.wf-author__time-icon {
  text-align:center;
}

.wf-author__time-icon > svg {
  width: $base-line;
  height: $base-line;

  // This centers the clock vertically with the text
  margin-top: ($author-img-height - $base-line) / 2;
}

.wf-author__date {
  margin: 0 ($base-line / 2);

  @include typo-caption;

  line-height: $author-img-height;
}
