@import "../colors";

.wf-talkinghead {
  position: relative;
  padding: 0 0 0 80px;
  margin: 32px 0;
  color: $color-accent; /* same as left border */

  &::before {
    content: '';
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -28px;
    top: 50%;
    left: 10px;
    background-position: center center !important;
    background-size: 50px 50px !important;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  }
}
