.wf-border-container {
  margin-top: $base-line;
  margin-bottom: $base-line;
}

.wf-border-container__content {
  padding-top: $base-line;
  padding-left: $base-line;
  padding-right: $base-line;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $grey-border-color;
}

.wf-border-container__content.with-bottom-border {
  padding-bottom: $base-line;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $grey-border-color;
}

p.intro + .wf-border-container .wf-border-container__content {
    border-top: 0;
    padding-top: 0;
}
