/**
*
* Back to top
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.back-to-top {
  border-top: 2px solid $colorGrayKeyline;
  margin-bottom: -2px;
  margin-top: $lineHeight*4;
  padding: $lineHeight/2 0;
  text-align: center;

  & .cta--secondary {
    text-decoration: none;

    & .icon {
      vertical-align: middle;
      padding-left: 5px;
    }
  }
}
