// cyan 100
$toc-border-color: unquote("rgb(#{$palette-cyan-200})") !default;

// pink 300
$highlight-border-color: unquote("rgb(#{$palette-pink-300})") !default;

// blue gray 300 
$note-border-color: unquote("rgb(#{$palette-blue-grey-300})") !default;

// deep purple 300
$remember-border-color: unquote("rgb(#{$palette-deep-purple-300})") !default;

$footer-bg-color: #404040 !default;
$footer-text-color: #e0e0e0 !default;

$code-bg-color: #EEEEEE !default;
$grey-border-color: rgba(0,0,0,0.12);
$table-bg-color: $code-bg-color;

$text-grey-color: #757575;

 //Used for syntax highlights

$colorGray: #737373;
$colorLearning: #da2e75;
$colorRemember: #09829a;
