.video-wrapper, .embed {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: $base-line;
}

.video-wrapper > iframe, .embed > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
