html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

#map-key {
  margin-top: 8px;
}

.map-key-event {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.map-key-event::before {
  display: inline-block;
  content: '';
  margin-right: 4px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: grey;
}

.map-key-event.sponsored-pwa::before {
  background: #FFC107;
}

.map-key-event.pwa::before {
  background: #00C1D6;
}

.map-key-event.polymer::before {
  background: #E91E63;
}


