{% if site.include_open_html %}
<!DOCTYPE html>
<html lang="en" class="no-js no-touch">
  <head>
{% endif %}
    {% include head.liquid %}
  </head>

  <body {% if page.rtl == true %}dir="rtl" {% endif %}class="page--{{ page.class }}" itemscope itemtype="http://schema.org/WebSite">
    {% injectdata content _betterbook.yaml %}

    {% include header.liquid %}

    {{ content }}


    {% include footer.liquid %}

{% if site.include_open_html %}
    {% include scripts.liquid %}
  </body>
</html>
{% endif %}
