---
layout: default
title: "Styleguide"
description: "Styleguide description"
class: "page--styleguide"
learning-list:
  - Lorem ipsum dolor sit amet
  - Fugit itaque sapiente earum quo expedita
  - labore aliquam cupiditate veritatis nihil
article:
  written_on: 2014-01-01
  updated_on: 2014-01-06
  order: 2
collection: resources
---
{% comment %}
NOTE: This is our styleguide
{% endcomment %}

<div class="summary-header">
  <div class="container">
    <nav class="breadcrumbs">
      <p>/<a href="#" class="breadcrumbs__link"> Resources</a></p>
    </nav>
    <h1 class="summary-header__title">Styleguide</h1>
    <ul class="summary-header__anchor-list">
      <li class="summary-header__anchors-item"><a href="#typography"><strong>#01</strong> Typography</a></li>
      <li class="summary-header__anchors-item"><a href="#buttons"><strong>#02</strong> Buttons</a></li>
      <li class="summary-header__anchors-item"><a href="#lists"><strong>#03</strong> Lists</a></li>
      <li class="summary-header__anchors-item"><a href="#links"><strong>#04</strong> Links</a></li>
      <li class="summary-header__anchors-item"><a href="#breadcrumbs"><strong>#05</strong> Breadcrumbs</a></li>
      <li class="summary-header__anchors-item"><a href="#subsection-title"><strong>#06</strong> Subsection title</a></li>
      <li class="summary-header__anchors-item"><a href="#table"><strong>#07</strong> Table</a></li>
      <li class="summary-header__anchors-item"><a href="#grid"><strong>#08</strong> Grid</a></li>
      <li class="summary-header__anchors-item"><a href="#modules"><strong>#09</strong> Modules</a></li>
    </ul>
  </div>
</div>

<div class="container">

  <a name="typography"></a>
  <section class="styleguide__typography">
    <h2 class="subsection-title"><strong class="subsection-number">#01</strong> Typography</h2>
    <p class="small">Lorem ipsum dolor sit amet.</p>
    <p class="base">Lorem ipsum dolor sit amet.</p>
    <p class="medium">Lorem ipsum dolor sit amet.</p>
    <p class="large">Lorem ipsum dolor sit amet.</p>
    <p class="xlarge">Lorem ipsum dolor sit amet.</p>
    <p class="xxlarge">Lorem ipsum dolor sit amet.</p>
    <p class="huge">Lorem ipsum dolor sit amet.</p>
  </section>



  <a name="buttons"></a>
  <section class="styleguide__buttons">
    <h2 class="subsection-title"><strong class="subsection-number">#02</strong> Buttons</h2>

    <div>
      <h4>Primary</h4>
      <a href="#" class="button--primary">Use our tool</a>
    </div>

    <div>
      <h4>Secondary</h4>
      <div>
        <a href="#" class="button--secondary">Use our tool</a>
      </div>

      <div class="styleguide__inverted-block">
        <a href="#" class="button--secondary-variation">Use our tool</a>
      </div>
    </div>
  </section>

  <a name="lists"></a>
  <section class="styleguide__lists">
    <h2 class="subsection-title"><strong class="subsection-number">#03</strong> Lists</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
    </ul>

    <ul class="list--links">
      <li class="list__item">Lorem ipsum dolor sit amet.</li>
      <li class="list__item">Dicta optio cumque dolore hic ea facilis</li>
      <li class="list__item">Minus, possimus, veniam, incidunt eligendi</li>
    </ul>

  </section>


  <a name="links"></a>
  <section class="styleguide__links">
    <h2 class="subsection-title"><strong class="subsection-number">#04</strong> Links</h2>

    <div>
      <h4>Primary</h4>
      <a href="#" class="cta--primary">Use our tool</a>
    </div>

    <div>
      <h4>Secondary</h4>
      <div>
        <a href="#" class="cta--secondary">Use our tool</a>
      </div>
    </div>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="cta">use our tool</a> Fugiat, quam alias voluptatem tempora minus dolor facere cumque necessitatibus placeat velit aliquid ab dolore beatae. Neque ipsam in a illum repellendus?</p>
    </div>

  </section>

  <a name="breadcrumbs"></a>
  <section class="styleguide__breadcrumb">
    <h2 class="subsection-title"><strong class="subsection-number">#05</strong> Breadcrumbs</h2>

    <nav class="breadcrumbs">
      <p><a href="#" class="breadcrumbs__link">Link 1</a> > <a href="#" class="breadcrumbs__link">Link 2</a> > <a href="#" class="breadcrumbs__link">Link 3</a> > <a href="#" class="breadcrumbs__link">Link 4</a> </p>
    </nav>

  </section>

  <a name="subsection-title"></a>
  <section class="styleguide__subsection-title">
    <h2 class="subsection-title"><strong class="subsection-number">#06</strong> Subsection title</h2>

    <div class="styleguide__inverted-block">
      <h2 class="subsection-title"><strong class="subsection-number">#01</strong> Set the viewport</h2>
    </div>

  </section>

  <a name="table"></a>
  <section class="styleguide__table">
    <h2 class="subsection-title"><strong class="subsection-number">#07</strong> Table</h2>

    <table class="table table--3">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element">`src`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
        </tr>
        <tr>
          <td data-th="element">`poster`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
        </tr>
        <tr>
          <td data-th="element">`preload`</td>
          <td data-th="availability">All mobile browsers ignore preload.</td>
          <td data-th="description">Hints to the browser that loading part of a video in advance of playback is worthwhile. Options are none, metadata, or auto (see Preload section for details). </td>
        </tr>
        <tr>
          <td data-th="element">`autoplay`</td>
          <td data-th="availability">Not supported on iPhone or Chrome for Android; supported on all desktop browsers, iPad, Firefox and Opera for Android.</td>
          <td data-th="description">Tells the browser to immediately start downloading the video and play it as soon as it can (see Autoplay). </td>
        </tr>
        <tr>
          <td data-th="element">`loop`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Tells the browser to automatically loop the video.</td>
        </tr>
        <tr>
          <td data-th="element">`controls`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Shows the default video controls (play, pause, etc.)</td>
        </tr>
        <tr>
          <td data-th="element">`width`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Returns the width of the video in pixels.</td>
        </tr>
        <tr>
          <td data-th="element">`height`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Returns the height of the video in pixels.</td>
        </tr>
      </tbody>
    </table>

  </section>

  <a name="grid"></a>
  <section class="styleguide__grid">
    <h2 class="subsection-title"><strong class="subsection-number">#08</strong> Grid</h2>

    <div class="clear demo">
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1"></div>
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--1 g-medium--half"></div>
      <div class="g-wide--3 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--3 g-medium--half"></div>
      <div class="g-wide--1 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--full g-wide--full"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--last g-wide--3"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--2"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--1"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--1 g-wide--push-3 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--2 g-wide--push-2 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--push-1 g-medium--last g-wide--3 g-wide--push-1 g-wide--last"></div>
    </div>

    <h4>Consistent grid classes</h4>

    <div class="clear demo">
      <div class="g--third"></div>
      <div class="g--third"></div>
      <div class="g--third g--last"></div>
    </div>


    <div class="clear demo">
      <div class="g--half"></div>
      <div class="g--half g--last"></div>
    </div>

  </section>

  <a name="modules"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#09</strong> Modules</h2>

  <h3 class="styleguide__module-title">Highlights</h3>

</div> <!-- // closing container -->

<section class="styleguide__highlights">

  {% include modules/highlight.liquid character="!" title="Remember" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." type="remember" %}

  {% include modules/highlight.liquid character="}" position="left" title="Important" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." type="learning" %}

  {% include modules/highlight.liquid character="?" title="Remember" list=page.learning-list type="remember" %}

  {% include modules/highlight.liquid character="!" position="left" title="Remember" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." priority="large" type="remember" %}

</section>

<div class="container">
  <h3 class="styleguide__module-title">Editorial Header</h3>
</div>

<section class="styleguide__editorial-header">

  <div class="editorial-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p><a href="#" class="breadcrumbs__link">The Essentials</a></p>
      </nav>

      <h1 class="editorial-header__title">Layout Basics</h1>
      <p class="editorial-header__excerpt g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Donec augue diam, scelerisque eget lectus in, posuere aliquet mi. Pellentesque suscipit nisl gravida sem tincidunt, id blandit turpis commodo.</p>
    </div>


  </div>

</section>




