---
layout: default
title: "Visual Style Guide"
description: "Visual style guide used by this site."
class: styleguide
learning-list:
  - Lorem ipsum dolor sit amet
  - Fugit itaque sapiente earum quo expedita
  - labore aliquam cupiditate veritatis nihil
article:
  written_on: 2014-01-01
  updated_on: 2014-01-06
  order: 2
collection: resources
---
{% comment %}
NOTE: This is our styleguide
{% endcomment %}

<div class="summary-header">
  <div class="container">
    <nav class="breadcrumbs">
      <p><a class="breadcrumbs__link" href="{{site.baseurl}}/">Web Fundamentals</a> / <a href="{{site.baseurl}}/resources" class="breadcrumbs__link">Resources</a> /</p>
    </nav>
    <h1 class="summary-header__title">Visual Style Guide</h1>
    <ol class="summary-header__anchor-list  list-links">
      <li class="summary-header__anchors-item"><a href="#typography">Typography</a></li>
      <li class="summary-header__anchors-item"><a href="#buttons">Buttons</a></li>
      <li class="summary-header__anchors-item"><a href="#lists">Lists</a></li>
      <li class="summary-header__anchors-item"><a href="#links">Links</a></li>
      <li class="summary-header__anchors-item"><a href="#icons">Icons</a></li>
      <li class="summary-header__anchors-item"><a href="#breadcrumbs">Breadcrumbs</a></li>
      <li class="summary-header__anchors-item"><a href="#table">Table</a></li>
      <li class="summary-header__anchors-item"><a href="#grid">Grid</a></li>
      <li class="summary-header__anchors-item"><a href="#colors">Colors</a></li>
      <li class="summary-header__anchors-item"><a href="#highlights">Highlights</a></li>
      <li class="summary-header__anchors-item"><a href="#editorial-header">Editorial header</a></li>
      <li class="summary-header__anchors-item"><a href="#article-section">Article section</a></li>
      <li class="summary-header__anchors-item"><a href="#guides-section">Guides section</a></li>
      <li class="summary-header__anchors-item"><a href="#page-header">Page header</a></li>
      <li class="summary-header__anchors-item"><a href="#quote">Quote</a></li>
      <li class="summary-header__anchors-item"><a href="#guides-intro">Guides Intro</a></li>
      <li class="summary-header__anchors-item"><a href="#article-navigation">Article navigation</a></li>
      <li class="summary-header__anchors-item"><a href="#next-lessons">Next lessons</a></li>
      <li class="summary-header__anchors-item"><a href="#related-items">Related items</a></li>
      <li class="summary-header__anchors-item"><a href="#did-you-know">Did you know</a></li>
      <li class="summary-header__anchors-item"><a href="#latest-spotlights">Latest spotlights</a></li>
      <li class="summary-header__anchors-item"><a href="#video">Video</a></li>
      <li class="summary-header__anchors-item"><a href="#case-study">Case study</a></li>
      <li class="summary-header__anchors-item"><a href="#our-view">Our view</a></li>
      <li class="summary-header__anchors-item"><a href="#featured-spotlight">Featured spotlight</a></li>
      <li class="summary-header__anchors-item"><a href="#featured-list">Featured list</a></li>
    </ol>
  </div>
</div>

<div class="container">

  <a name="typography"></a>
  <section class="styleguide__typography">
    <h2 class="subsection-title"><strong class="subsection-number">#01</strong> Typography</h2>
    <strong class="subsection-number">Small</strong>
    <p class="small">Lorem ipsum dolor sit amet.</p>
    <strong class="subsection-number">Base</strong>
    <p class="base">Lorem ipsum dolor sit amet.</p>
    <strong class="subsection-number">Medium</strong>
    <p class="medium">Lorem ipsum dolor sit amet.</p>
    <strong class="subsection-number">Large</strong>
    <p class="large">Lorem ipsum dolor sit amet.</p>
    <strong class="subsection-number">XLarge</strong>
    <p class="xlarge">Lorem ipsum dolor sit amet.</p>
    <strong class="subsection-number">XXLarge</strong>
    <p class="xxlarge">Lorem ipsum dolor sit amet.</p>
    <strong class="subsection-number">Huge</strong>
    <p class="huge">Lorem ipsum dolor sit amet.</p>
  </section>



  <a name="buttons"></a>
  <section class="styleguide__buttons">
    <h2 class="subsection-title"><strong class="subsection-number">#02</strong> Buttons</h2>

    <div>
      <h4>Primary</h4>
      <a href="#0" class="button--primary">Use our tool</a>
    </div>

    <div>
      <h4>Secondary</h4>
      <div>
        <a href="#0" class="button--secondary">Use our tool</a>
      </div>

      <div class="styleguide__inverted-block">
        <a href="#0" class="button--secondary-variation">Use our tool</a>
      </div>
    </div>
  </section>

  <a name="lists"></a>
  <section class="styleguide__lists">
    <h2 class="subsection-title"><strong class="subsection-number">#03</strong> Lists</h2>

    <h3>Default lists</h3>

    <h4>ul</h4>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
    </ul>

    <ul>
      <li>Lorem ipsum dolor sit amet.
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
    </ul>

    <ul>
      <li>Lorem ipsum dolor sit amet.
        <ol>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ol>
      </li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
    </ul>

    <h4>ol</h4>
    <ol>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
    </ol>

    <ol>
      <li>Lorem ipsum dolor sit amet.
        <ol>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ol>
      </li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ol>

    <ol>
      <li>Lorem ipsum dolor sit amet.
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ol>

    <h4>dl</h4>
    <dl>
      <dt>Term</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum eaque repellendus soluta cupiditate distinctio quam.</dd>
      <dt>Term</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum eaque repellendus soluta cupiditate distinctio quam.</dd>
      <dt>Term</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum eaque repellendus soluta cupiditate distinctio quam.</dd>
    </dl>

    <h3>Default lists of links</h3>

    <h4>ul</h4>
    <ul class="list-links"> <!-- # helvetica -->
      <li class="list__item"><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li class="list__item"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li class="list__item"><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ul>

    <ul class="list-links list-links--primary"> <!-- > roboto -->
      <li class="list__item"><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li class="list__item"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li class="list__item"><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ul>

    <h4>ol</h4>
    <ol class="list-links">
      <li><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li class="current"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ol>

    <ol class="list-anchor">
      <li><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ol>

    <ol class="list-anchor list-small">
      <li><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ol>

    <ol class="list-links list-links--secondary">
      <li><a href="#">Layout basics</a></li>
      <li><a href="#">Basics layouts</a></li>
      <li><a href="#">Layout patterns</a></li>
    </ol>

    <ol class="list-links list-links--secondary list-small">
      <li><a href="#">Layout basics</a></li>
      <li><a href="#">Basics layouts</a></li>
      <li><a href="#">Layout patterns</a></li>
    </ol>

  </section>


  <a name="links"></a>
  <section class="styleguide__links">
    <h2 class="subsection-title"><strong class="subsection-number">#04</strong> Links</h2>

    <div>
      <h4>Primary</h4>
      <a href="#" class="cta--primary">Use our tool</a>
    </div>

    <div>
      <h4>Secondary</h4>
      <div>
        <a href="#" class="cta--secondary">Use our tool</a>
      </div>
    </div>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="cta">use our tool</a> Fugiat, quam alias voluptatem tempora minus dolor facere cumque necessitatibus placeat velit aliquid ab dolore beatae. Neque ipsam in a illum repellendus?</p>
    </div>

  </section>

  <a name="icons"></a>
  <section class="styleguide__icons">
    <h2 class="styleguide__icons"><strong class="subsection-number">#05</strong> Icons</h2>

    <div class="clear">
      <p class="g--third"><i class="icon icon-minus"></i></p>
      <p class="g--third"><i class="icon icon-plus"></i></p>
      <p class="g--third g--last"><i class="icon icon-star"></i></p>
      <p class="g--third"><i class="icon icon-chevron-right"></i></p>
      <p class="g--third"><i class="icon icon-chevron-left"></i></p>
      <p class="g--third g--last"><i class="icon icon-chevron-up"></i></p>
      <p class="g--third"><i class="icon icon-chevron-down"></i></p>
      <p class="g--third"><i class="icon icon-slash"></i></p>
      <p class="g--third g--last"><i class="icon icon-google-dev"></i></p>
      <p class="g--third"><i class="icon icon-lessons"></i></p>
      <p class="g--third"><i class="icon icon-multi-device-layouts"></i></p>
      <p class="g--third g--last"><i class="icon icon-user-input"></i></p>
      <p class="g--third"><i class="icon icon-introduction-to-media"></i></p>
      <p class="g--third"><i class="icon icon-performance"></i></p>
      <p class="g--third g--last"><i class="icon icon-bullet"></i></p>
      <p class="g--third"><i class="icon icon-chevron-large"></i></p>
      <p class="g--third"><i class="icon icon-close"></i></p>
      <p class="g--third g--last"><i class="icon icon-cog"></i></p>
      <p class="g--third"><i class="icon icon-diamond"></i></p>
      <p class="g--third"><i class="icon icon-exclamation"></i></p>
      <p class="g--third g--last"><i class="icon icon-hash"></i></p>
      <p class="g--third"><i class="icon icon-menu"></i></p>
      <p class="g--third"><i class="icon icon-question"></i></p>
      <p class="g--third g--last"><i class="icon icon-tick"></i></p>
    </div>

    <h4>Icon Circles</h4>

    <div class="clear">
      <p class="g--half"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
      <p class="g--half g--last"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
      <p class="g--half"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
      <p class="g--half g--last"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
    </div>

    <h4>Icon Circles - Themed</h4>

    <div class="clear">
      <p class="g--half theme--multi-device-layouts"><span class="icon-circle themed--background"><i class="icon icon-multi-device-layouts"></i></span></p>
      <p class="g--half g--last theme--user-input"><span class="icon-circle themed--background"><i class="icon icon-user-input"></i></span></p>
      <p class="g--half theme--introduction-to-media"><span class="icon-circle themed--background"><i class="icon icon-introduction-to-media"></i></span></p>
      <p class="g--half g--last theme--performance"><span class="icon-circle themed--background"><i class="icon icon-performance"></i></span></p>
    </div>

    <h4>Icon Circles - Large</h4>

    <div class="clear">
      <p class="g--half theme--multi-device-layouts"><span class="icon-circle--large themed--background"><i class="icon icon-multi-device-layouts"></i></span></p>
      <p class="g--half g--last theme--user-input"><span class="icon-circle--large themed--background"><i class="icon icon-user-input"></i></span></p>
      <p class="g--half theme--introduction-to-media"><span class="icon-circle--large themed--background"><i class="icon icon-introduction-to-media"></i></span></p>
      <p class="g--half g--last theme--performance"><span class="icon-circle--large themed--background"><i class="icon icon-performance"></i></span></p>
    </div>

  </section>

  <a name="breadcrumbs"></a>
  <section class="styleguide__breadcrumb">
    <h2 class="subsection-title"><strong class="subsection-number">#06</strong> Breadcrumbs</h2>

    <nav class="breadcrumbs">
      <p><a href="#" class="breadcrumbs__link">Link 1</a> / <a href="#" class="breadcrumbs__link">Link 2</a> / <a href="#" class="breadcrumbs__link">Link 3</a> / <a href="#" class="breadcrumbs__link">Link 4</a> </p>
    </nav>

  </section>

  <a name="table"></a>
  <section class="styleguide__table">
    <h2 class="subsection-title"><strong class="subsection-number">#07</strong> Table</h2>

    <table class="table-4">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
          <th>Description</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element"><code>src</code></td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
        </tr>
        <tr>
          <td data-th="element"><code>poster</code></td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
        </tr>
      </tbody>
    </table>

    <table class="table-3">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element"><code>src</code></td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
        </tr>
        <tr>
          <td data-th="element"><code>poster</code></td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
        </tr>
      </tbody>
    </table>

    <table class="table-2">
      <colgroup>
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element"><code>src</code></td>
          <td data-th="availability">Rules applied for any browser width over the value defined in the query.</td>
        </tr>
        <tr>
          <td data-th="element"><code>poster</code></td>
          <td data-th="availability">Rules applied for any browser width over the value defined in the query.</td>
        </tr>
      </tbody>
    </table>

    <p>
      <b>Note:</b> <code>markdown</code> isn't recognized in tables, therefore any code
      blocks should be wrapped in &lt;code&gt; tags.
    </p>

  </section>

  <a name="grid"></a>
  <section class="styleguide__grid">
    <h2 class="subsection-title"><strong class="subsection-number">#08</strong> Grid</h2>

    <div class="clear demo">
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1"></div>
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--1 g-medium--half"></div>
      <div class="g-wide--3 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--3 g-medium--half"></div>
      <div class="g-wide--1 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--full g-wide--full"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--last g-wide--3"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--2"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--1"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--1 g-wide--push-3 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--2 g-wide--push-2 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--push-1 g-medium--last g-wide--3 g-wide--push-1 g-wide--last"></div>
    </div>

    <h4>Consistent grid classes</h4>

    <div class="clear demo">
      <div class="g--third"></div>
      <div class="g--third"></div>
      <div class="g--third g--last"></div>
    </div>


    <div class="clear demo">
      <div class="g--half"></div>
      <div class="g--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g--half g--centered"></div>
      <div class="g--third g--centered"></div>
    </div>

  </section>

  <a name="colors"></a>
  <section class="styleguide__colors">
    <h2 class="subsection-title"><strong class="subsection-number">#09</strong> Colours</h2>

    <h3>Blacks</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--gray-background g--half">gray-background</li>
      <li class="color--gray-keyline g--half g--last">gray-keyline</li>
      <li class="color--gray g--half">gray</li>
      <li class="color--gray-medium g--half g--last">gray-medium</li>
      <li class="color--gray-dark g--half">gray-dark</li>
    </ul>

    <h3>Themes</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--layouts g--half">layouts</li>
      <li class="color--layouts-secondary g--half g--last">layouts secondary</li>
      <li class="color--user g--half">user</li>
      <li class="color--user-secondary g--half g--last">user secondary</li>
      <li class="color--media g--half">media</li>
      <li class="color--media-secondary g--half g--last">media secondary</li>
      <li class="color--performance g--half">performance</li>
      <li class="color--performance-secondary g--half g--last">performance secondary</li>
    </ul>

    <h3>Google</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--blue g--half">blue</li>
      <li class="color--blue-secondary g--half g--last">blue secondary</li>
      <li class="color--green g--half">green</li>
      <li class="color--green-secondary g--half g--last">green secondary</li>
      <li class="color--red g--half">red</li>
      <li class="color--red-secondary g--half g--last">red secondary</li>
      <li class="color--yellow g--half">yellow</li>
      <li class="color--yellow-secondary g--half g--last">yellow secondary</li>
    </ul>

    <h3>Helpers</h3>
    <ul class="styleguide__color-list list-reset clear">
      <li class="color--text g--half">text</li>
      <li class="color--highlight g--half g--last">highlight</li>
      <li class="color--warning g--half">warning</li>
      <li class="color--danger g--half g--last">danger</li>
      <li class="color--muted g--half">muted</li>
      <li class="color--remember g--half g--last">remember</li>
      <li class="color--learning g--half">learning</li>
    </ul>
  </section>

  <a name="highlights"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#10</strong> Highlights</h2>

</div> <!-- // closing container -->

<section class="styleguide__highlights">

  {% include modules/remember.liquid text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}

  {% include modules/takeaway.liquid position="left" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." %}

  {% include modules/remember.liquid position="right"  list=page.learning-list %}

  {% include modules/remember.liquid position="left" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." priority="large" %}

  {% include_code _code/test.html somehtml html %}

  {% highlight html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endhighlight %}

  <p>You can also add inline code blocks <code>some code here</code> to your content.</p>

  {% include modules/takeaway.liquid list=page.learning-list inline=true %}

  {% include modules/remember.liquid list=page.learning-list inline=true %}

</section>

<div class="container">
  <a name="editorial-header"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#11</strong> Editorial header</h2>
</div>

<section class="styleguide__editorial-header">

  <div class="editorial-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p> / <a href="#" class="breadcrumbs__link">The Essentials</a> / <a href="#" class="breadcrumbs__link"> Multi-screen layouts</a></p>
      </nav>

      <h1 class="tag editorial-header__title">Layout Basics</h1>
      <h2 class="editorial-header__subtitle">What is the viewport?</h2>
      <p class="editorial-header__excerpt g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Sed vitae varius augue, eu varius dolor. </p>
      <p class="g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Donec augue diam, scelerisque eget lectus in, posuere aliquet mi. Pellentesque suscipit nisl gravida sem tincidunt, id blandit turpis commodo.</p>

      <div class="toc">
        <p class="toc__title">In this lesson</p>
        <ol class="toc__list list-anchor" id="toc">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li class="current"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
          <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
          <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ol>
      </div>

    </div>
  </div>

</section>

<div class="container">
  <a name="article-section"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#12</strong> Article section</h2>
</div>

<section class="styleguide__articles-section">
  <div class="articles-section">
    <div class="container">
      <span class="article-section__icon icon-circle themed themed--background"><span>4</span></span>
      <span class="articles-count">Guides available</span>
      <ol class="articles-list">
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">Layout basics</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
        </li>
        <div class="divider divider--secondary divider--short">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">Basic layouts</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
        </li>
        <div class="divider divider--secondary divider--short">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">Layout patterns</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
        </li>
        <div class="divider divider--secondary divider--short">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="articles-list__item">
          <div class="g-wide--2 g--centered">
            <a href="#" title="Read the lesson Layout basics">
              <h3 class="xlarge themed">UI elements</h3>
            </a>
          </div>
          <p class="g-medium--2 g-wide--3 g--centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
        </li>
      </ol>
    </div>
  </div>
</section>

<div class="container">
  <a name="guides-section"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#13</strong> Guides section</h2>
</div>

<section class="styleguide__guides-section">
  <div class="guides-section">
        <header class="container">
            <h2 class="xxlarge">Documentation</h2>
            <p>Follow these guides and build web content users can access on any device they choose.</p>
        </header>

        <ul class="guides-list container">
          <li class="guides-list__item g--half theme--multi-device-layouts ">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Multi-Device Layouts" class="themed">Multi-Device Layouts</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, velit, illum iure id in saepe laborum. Doloribus, eaque, assumenda inventore eos iusto tenetur error dolorem suscipit molestiae natus ullam aliquam?</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Responsive Web Design Basics">Responsive Web Design Basics</a></li>
                <li><a href="#" title="Read the lesson Responsive Web Design Patterns">Responsive Web Design Patterns</a></li>
                <li><a href="#" title="Read the lesson Navigation and Action Patterns">Navigation and Action Patterns</a></li>
              </ol>
            </div>
          </li>
          <li class="guides-list__item g--half theme--introduction-to-media g--last">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Images, Audio and Video" class="themed">Images, Audio and Video</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fugit ea maiores omnis ad iste autem sed reiciendis amet quam deleniti sapiente laboriosam voluptate pariatur veniam quod beatae sunt architecto?</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Images">Images</a></li>
                <li><a href="#" title="Read the lesson Video">Video</a></li>
                <li><a href="#" title="Read the lesson Audio">Audio</a></li>
              </ol>
            </div>
          </li>
          <li class="guides-list__item g--half theme--user-input ">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Forms and User Input" class="themed">Forms and User Input</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, adipisci, aspernatur. Velit, consequatur, temporibus, neque minus obcaecati dolor officia architecto voluptatem et pariatur quo vitae saepe laborum ratione eum. Soluta.</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Create Amazing Forms">Create Amazing Forms</a></li>
                <li><a href="#" title="Read the lesson Add Touch to Your Site">Add Touch to Your Site</a></li>
              </ol>
            </div>
          </li>
          <li class="guides-list__item g--half theme--performance g--last">
            <div class="primary-content">
              <h3 class="xlarge"><a href="#" title="Go to Optimizing Performance" class="themed">Optimizing Performance</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ratione officia officiis natus illum quos cumque quis! Optio, dolore, eligendi ea culpa quod esse atque architecto reprehenderit at tempora itaque!</p>
            </div>
            <div class="secondary-content">
              <span class="icon-circle themed--background"><i class="icon icon-lessons"></i></span>
              <ol class="list-links list-links--secondary">
                <li><a href="#" title="Read the lesson Critical Rendering Path">Critical Rendering Path</a></li>
                <li><a href="#" title="Read the lesson Optimizing Content Efficiency">Optimizing Content Efficiency</a></li>
              </ol>
            </div>
          </li>
        </ul>
      </div>
</section>

<div class="container">
  <a name="page-header"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#14</strong> Page header</h2>
</div>

<section class="styleguide__page-header">
  <div class="page-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p> / <a href="#" class="breadcrumbs__link"> The Essentials</a></p>
      </nav>
      <h3 class="xxlarge">Multi-screen layouts</h3>
      <div class="divider">
        <span class="themed divider-icon"></span>
      </div>
      <p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, optio, ad, voluptates repudiandae at excepturi error delectus explicabo nulla eum provident quibusdam ipsum sapiente culpa sequi quia unde fuga id.</p>
    </div>
  </div>
</section>

<div class="container">
  <a name="quote"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#15</strong> Quote</h2>
</div>

<section class="styleguide__quote">
  <div class="quote">
    <div class="container">
      <blockquote class="quote__content g-wide--push-1 g-wide--pull-1 g-medium--push-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illum, at quis vero nam minus incidunt consequatur reprehenderit aliquid blanditiis fugiat nihil dolor tempora distinctio ipsum quisquam debitis excepturi magni.
      <p>Name / Details</p>
      </blockquote>
    </div>
  </div>
</section>

<div class="container">
  <a name="guides-intro"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#16</strong> Guides intro</h2>
</div>

<section class="styleguide__centered-list">
  <div class="container">
    <ul class="list-guides-intro list-centered list-reset clear">
      <li class="g-medium--half g-wide--1 theme--multi-device-layouts  ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-multi-device-layouts"></i></span>
          <h3 class="large">Multi-Device Layouts</h3>
        </a>
        <p>Create flexible, not fixed, layouts.</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
      <li class="g-medium--half g-wide--1 theme--introduction-to-media g-medium--last ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-introduction-to-media"></i></span>
          <h3 class="large">Images, Audio and Video</h3>
        </a>
        <p>Only use media that loads fast and scales.</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
      <li class="g-medium--half g-wide--1 theme--user-input  ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-user-input"></i></span>
          <h3 class="large">Forms and User Input</h3>
        </a>
        <p>Touch, tap, click, and submit.</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
      <li class="g-medium--half g-wide--1 theme--performance g-medium--last  g-wide--last ">
        <a href="#" class="themed">
          <span class="icon-circle--large themed--background"><i class="icon icon-performance"></i></span>
          <h3 class="large">Optimizing Performance</h3>
        </a>
        <p>Performance is a feature.</p>
        <!-- <a href="#" class="cta--secondary">Get started</a> -->
      </li>
    </ul>
  </div>
</section>

<div class="container">
  <a name="article-navigation"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#17</strong> Article navigation</h2>
</div>

<section class="styleguide__article-nav">
  <nav class="article-nav">
    <div class="container">
      <a href="#" class="article-nav-link article-nav-link--prev">
        <p class="article-nav-count">02</p>
        <p>A need for responsive pages</p>
      </a>
      <a href="#" class="article-nav-link article-nav-link--next">
        <p class="article-nav-count">04</p>
        <p>Create images for multiple resolutions</p>
      </a>
    </div>
  </nav>
</section>

<div class="container">
  <a name="next-lessons"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#18</strong> Next lessons</h2>
</div>

<section class="styleguide__next-lessons">
  <div class="container-medium">
    <div class="next-lessons" data-current-lesson="03">
      <h3><i class="icon icon-lessons"></i> Next Lessons</h3>
      <ol class="list-lessons list-links">
        <li><a href="#">Lesson title one</a></li>
        <li><a href="#">Lesson title two</a></li>
        <li class="current"><a>Lesson title three <i class="icon icon-tick"></i></a></li>
        <li><a href="#">Lesson title four</a></li>
        <li><a href="#">Lesson title five</a></li>
      </ol>
    </div>
  </div>
</section>

<div class="container">
  <a name="related-items"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#19</strong> Related items</h2>
</div>

<section class="styleguide__related-items">
  <div class="container">

    <div class="related-items clear">
      <h3 class="related-items__title g-wide--1 g-medium--full">Related guides</h3>
      <div class="related-items__section clear">
        <ul class="related-items-list list-reset">
          <li class="g-medium--1 g-wide--1 theme--multi-device-layouts">
            <p><a class="tag themed" href="#" title="Layout basics">Layout basics</a></p>
            <p class="medium"><a href="#">Guides title which goes over two lines</a></p>
          </li>
          <li class="g-medium--1 g-wide--1 theme--introduction-to-media">
            <p><a class="tag themed" href="#" title="Media">Introduction To Media</a></p>
            <p class="medium"><a href="#">Guides completely device agnostic site created for the this website</a></p>
          </li>
          <li class="g-medium--1 g-medium--last g-wide--1 g-wide--last theme--performance">
            <p><a class="tag themed" href="#" title="Performance">Performance</a></p>
            <p class="medium"><a href="#">Guides new, completely device agnostic site created for the this website</a></p>
          </li>
        </ul>
      </div>
    </div>

    <div class="related-items clear">
      <h3 class="related-items__title  g-wide--1 g-medium--full">More case studies</h3>
      <div class="related-items__section clear">
        <ul class="related-items-list  list-reset">
          <li class="g-medium--1 g-wide--1   theme--">
            <p class="medium">
              <a href="#">
                <img src="../../imgs/placeholder--small.png" alt="Title goes here" />Title goes here</a>
            </p>
          </li>
          <li class="g-medium--1 g-wide--1   theme--">
            <p class="medium">
              <a href="#">
                <img src="../..//imgs/placeholder--small.png" alt="Title goes here" />Title goes here</a>
            </p>
          </li>
          <li class="g-medium--1 g-wide--1  g-medium--last g-wide--last theme--">
            <p class="medium">
              <a href="#">
                <img src="../..//imgs/placeholder--small.png" alt="Title goes here" />Title goes here</a>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="related-items  related-items--inline g-wide--pull-1  clear">
      <h3 class="related-items__title ">Related guides</h3>
      <div class="related-items__section clear">
        <ul class="related-items-list  related-items-list--inline list-reset">
          <li class="  theme--user-input">
              <p><a class="tag themed" href="#" title="Forms">Forms</a></p>
            <p class="medium">
              <a href="#"> Title goes here</a>
            </p>
          </li>
          <li class="  theme--user-input">
              <p><a class="tag themed" href="#" title="Forms">Forms</a></p>
            <p class="medium">
              <a href="#"> Title goes here</a>
            </p>
          </li>
          <li class=" g-medium--last g-wide--last theme--user-input">
              <p><a class="tag themed" href="#" title="Forms">Forms</a></p>
            <p class="medium">
              <a href="#"> Title goes here</a>
            </p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<div class="container">
  <a name="did-you-know"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#20</strong> Did you know</h2>
</div>

<section class="styleguide__did-you-know">
  <div class="container clear">
    <div class="did-you-know">
      <div class="g--half">

        <h2 class="xlarge">Why mobile first</h2>
        <p class="did-you-know__symbol">Body - It is really simple. We create a basic page and add a “viewport”. The viewport is the most critical component you need for building mobile-first experiences. Without it, your site will not work well on a mobile device.</p>

        <p><i class="icon icon-lessons"></i> Lessons</p>
        <ol class="list-links list-links--secondary">
          <li><a href="#">Modern developer workflow</a></li>
          <li><a href="#">Creating forms</a></li>
          <li><a href="#">Touch input</a></li>
        </ol>
        <a href="#" class="cta--primary">See all lessons</a>
      </div>


    </div>
  </div>
</section>

<div class="container">
  <a name="latest-spotlights"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#21</strong> Latest spotlights</h2>
</div>

<section class="styleguide__latest-spotlights">
  <div class="latest-spotlights">
    <div class="container clear">
      <h2>Latest spotlights</h2>
      <ul class="latest-spotlights__list list-reset">
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example.jpg" alt="image example">
            <p class="small">Spotlight name</p>
          </a>
        </li>
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example-2.jpg" alt="image example">
            <p class="small">Spotlight name</p>
          </a>
        </li>
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example-3.jpg" alt="image example">
            <p class="small">Spotlight name</p>
          </a>
        </li>
        <li class="latest-spotlights__item">
          <a href="#" class="latest-spotlights__link">
            <img src="../../imgs/image-example-4.jpg" alt="image example">
            <p class="small">Spotlight name</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="styleguide__media container">
  <a name="video"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#22</strong> Media elements</h2>

  {% include modules/video.liquid id="dEGJ8XyZw40" %}

</section>

<div class="container">
  <a name="case-study"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#23</strong> Case study content</h2>
</div>

<section class="styleguide__case-study-wrapper">
  <div class="case-study-wrapper">
    <div class="container clear">
      <div class="g--half">
        <h2>Title goes here</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, fugit, quod, necessitatibus, eveniet praesentium id atque possimus placeat quo earum perferendis et laudantium eaque excepturi modi maiores facilis nam veritatis!</p>
        <dl>
          <dt>Who</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum eaque repellendus soluta cupiditate distinctio quam.</dd>
          <dt>Who</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum eaque repellendus soluta cupiditate distinctio quam.</dd>
          <dt>Who</dt>
          <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, totam, voluptas, harum itaque placeat consequuntur eligendi eius illum facilis architecto nobis aliquid. Consequuntur voluptatum eaque repellendus soluta cupiditate distinctio quam.</dd>
        </dl>
      </div>
      <div class="case-study__img-wrapper g--half g--last">
        <img src="../../imgs/placeholder-vertical-image.jpg" alt="image placeholder">
      </div>
    </div>
  </div>
</section>

<div class="container">
  <a name="our-view"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#24</strong> Our view</h2>
</div>

<section class="styleguide__our-view">
  <div class="our-view">
    <div class="container-medium clear">
      <div class="g--half">
        <h2 class="huge our-view__title">Our view</h2>
      </div>
      <div class="our-view__content g--half g--last">
        <div class="our-view__list-wrapper">
          <h3 class="our-view__subtitle">The good</h3>
          <ul>
            <li>Phasellus ultrices nunc nec urna fermentum fermentum. Curabitur a interdum lacus.</li>
            <li>Phasellus ultrices nunc nec urna fermentum fermentum. Curabitur a interdum lacus.</li>
            <li>Phasellus ultrices nunc nec urna fermentum fermentum. Curabitur a interdum lacus.</li>
          </ul>
        </div>
        <div class="our-view__list-wrapper">
          <h3 class="our-view__subtitle">Where to improve</h3>
          <ul>
            <li>Phasellus ultrices nunc nec urna fermentum fermentum. Curabitur a interdum lacus.</li>
            <li>Phasellus ultrices nunc nec urna fermentum fermentum. Curabitur a interdum lacus.</li>
            <li>Phasellus ultrices nunc nec urna fermentum fermentum. Curabitur a interdum lacus.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <a name="featured-spotlight"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#25</strong> Featured spotlight</h2>
</div>

<a name="feature-spotlight"></a>
<section class="styleguide__feature-spotlight">


  <div class="featured-spotlight">

    <div class="container-medium">

      <div class="featured-spotlight__container g--pull-half">
        <div class="featured-spotlight__img">
          <img src="../../imgs/placeholder--featured-spotlight.png" alt="image exemple">
        </div>

        <div class="container-small">
          <h3 class="featured-spotlight__title">Featured spotlight</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vitae varius augue, eu varius dolor.</p>
          <a href="#" class="cta--primary">View Google</a>
        </div>
      </div>

    </div>

  </div>

</section>

<div class="container">
  <a name="featured-list"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#26</strong> Featured list</h2>
</div>

<section class="styleguide__featured-section">
  <div class="featured-section">
    <div class="container-medium">
      <ul class="featured-list">
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <h3>Case study</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
              <a href="#" class="cta--primary">View Google</a>
            </div>
            <figure class="featured-list__img-wrapper g--half g--last">
              <img src="../../imgs/placeholder--medium.png" alt="image exemple">
            </figure>
          </div>
        </li>
        <div class="divider divider--fluid divider--spaced">
          <span class="divider-icon divider-icon--secondary"></span>
        </div>
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <h3>Case study</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
              <a href="#" class="cta--primary">View Google</a>
            </div>
            <figure class="featured-list__img-wrapper g--half g--last">
              <img src="../../imgs/placeholder--medium.png" alt="image exemple">
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
