---
layout: default
title: "Visual Style Guide"
description: "Visual style guide used by this site."
class: "page--styleguide"
learning-list:
  - Lorem ipsum dolor sit amet
  - Fugit itaque sapiente earum quo expedita
  - labore aliquam cupiditate veritatis nihil
article:
  written_on: 2014-01-01
  updated_on: 2014-01-06
  order: 2
collection: resources
---
{% comment %}
NOTE: This is our styleguide
{% endcomment %}

<div class="summary-header">
  <div class="container">
    <nav class="breadcrumbs">
      <p>/<a href="#" class="breadcrumbs__link"> Resources</a></p>
    </nav>
    <h1 class="summary-header__title">Styleguide</h1>
    <ol class="summary-header__anchor-list  list--links">
      <li class="summary-header__anchors-item"><a href="#typography">Typography</a></li>
      <li class="summary-header__anchors-item"><a href="#buttons">Buttons</a></li>
      <li class="summary-header__anchors-item"><a href="#lists">Lists</a></li>
      <li class="summary-header__anchors-item"><a href="#links">Links</a></li>
      <li class="summary-header__anchors-item"><a href="#breadcrumbs">Breadcrumbs</a></li>
      <li class="summary-header__anchors-item"><a href="#table">Table</a></li>
      <li class="summary-header__anchors-item"><a href="#quote">Quote</a></li>
      <li class="summary-header__anchors-item"><a href="#grid">Grid</a></li>
      <li class="summary-header__anchors-item"><a href="#colors">Colors</a></li>
      <li class="summary-header__anchors-item"><a href="#modules">Modules</a></li>
    </ol>
  </div>
</div>

<div class="container">

  <a name="typography"></a>
  <section class="styleguide__typography">
    <h2 class="subsection-title"><strong class="subsection-number">#01</strong> Typography</h2>
    <p class="small">Lorem ipsum dolor sit amet.</p>
    <p class="base">Lorem ipsum dolor sit amet.</p>
    <p class="medium">Lorem ipsum dolor sit amet.</p>
    <p class="large">Lorem ipsum dolor sit amet.</p>
    <p class="xlarge">Lorem ipsum dolor sit amet.</p>
    <p class="xxlarge">Lorem ipsum dolor sit amet.</p>
    <p class="huge">Lorem ipsum dolor sit amet.</p>
  </section>



  <a name="buttons"></a>
  <section class="styleguide__buttons">
    <h2 class="subsection-title"><strong class="subsection-number">#02</strong> Buttons</h2>

    <div>
      <h4>Primary</h4>
      <a href="#" class="button--primary">Use our tool</a>
    </div>

    <div>
      <h4>Secondary</h4>
      <div>
        <a href="#" class="button--secondary">Use our tool</a>
      </div>

      <div class="styleguide__inverted-block">
        <a href="#" class="button--secondary-variation">Use our tool</a>
      </div>
    </div>
  </section>

  <a name="lists"></a>
  <section class="styleguide__lists">
    <h2 class="subsection-title"><strong class="subsection-number">#03</strong> Lists</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
    </ul>

    <ul class="list--links">
      <li class="list__item"><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li class="list__item"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li class="list__item"><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ul>

    <ol>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Dicta optio cumque dolore hic ea facilis</li>
      <li>Minus, possimus, veniam, incidunt eligendi</li>
    </ol>

    <ol class="list--links">
      <li><a href="#">Lorem ipsum dolor sit amet</a></li>
      <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
      <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
    </ol>

  </section>


  <a name="links"></a>
  <section class="styleguide__links">
    <h2 class="subsection-title"><strong class="subsection-number">#04</strong> Links</h2>

    <div>
      <h4>Primary</h4>
      <a href="#" class="cta--primary">Use our tool</a>
    </div>

    <div>
      <h4>Secondary</h4>
      <div>
        <a href="#" class="cta--secondary">Use our tool</a>
      </div>
    </div>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="cta">use our tool</a> Fugiat, quam alias voluptatem tempora minus dolor facere cumque necessitatibus placeat velit aliquid ab dolore beatae. Neque ipsam in a illum repellendus?</p>
    </div>

  </section>

  <a name="breadcrumbs"></a>
  <section class="styleguide__breadcrumb">
    <h2 class="subsection-title"><strong class="subsection-number">#05</strong> Breadcrumbs</h2>

    <nav class="breadcrumbs">
      <p><a href="#" class="breadcrumbs__link">Link 1</a> / <a href="#" class="breadcrumbs__link">Link 2</a> / <a href="#" class="breadcrumbs__link">Link 3</a> / <a href="#" class="breadcrumbs__link">Link 4</a> </p>
    </nav>

  </section>

  <a name="table"></a>
  <section class="styleguide__table">
    <h2 class="subsection-title"><strong class="subsection-number">#07</strong> Table</h2>

    <table class="table--4">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
          <th>Description</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element">`src`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
        </tr>
        <tr>
          <td data-th="element">`poster`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
        </tr>
      </tbody>
    </table>

    <table class="table--3">
      <colgroup>
         <col span="1">
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element">`src`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of the video.</td>
        </tr>
        <tr>
          <td data-th="element">`poster`</td>
          <td data-th="availability">All browsers</td>
          <td data-th="description">Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
        </tr>
      </tbody>
    </table>

    <table class="table--2">
      <colgroup>
         <col span="1">
         <col span="1">
      </colgroup>
      <thead>
        <tr>
          <th>Element</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-th="element">`src`</td>
          <td data-th="availability">All browsers</td>
        </tr>
        <tr>
          <td data-th="element">`poster`</td>
          <td data-th="availability">All browsers</td>
        </tr>
      </tbody>
    </table>

  </section>

  <a name="quote"></a>
  <section class="styleguide__quote">
    <h3 class="styleguide__module-title">Quote</h3>
    <div class="quote">
      <div class="container">
        <blockquote class="quote__content g-wide--push-1 g-wide--pull-1 g-medium--push-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, illum, at quis vero nam minus incidunt consequatur reprehenderit aliquid blanditiis fugiat nihil dolor tempora distinctio ipsum quisquam debitis excepturi magni.
        <p>Name / Details</p>
        </blockquote>
      </div>
    </div>

  </section>

  <a name="grid"></a>
  <section class="styleguide__grid">
    <h2 class="subsection-title"><strong class="subsection-number">#08</strong> Grid</h2>

    <div class="clear demo">
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1"></div>
      <div class="g-medium--half g-wide--1"></div>
      <div class="g-medium--half g-medium--last g-wide--1 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--1 g-medium--half"></div>
      <div class="g-wide--3 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-wide--3 g-medium--half"></div>
      <div class="g-wide--1 g-wide--last g-medium--half g--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--full g-wide--full"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--last g-wide--3"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--2"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--last g-wide--1"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--1 g-wide--push-3 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--1 g-medium--push-2 g-medium--last g-wide--2 g-wide--push-2 g-wide--last"></div>
    </div>

    <div class="clear demo">
      <div class="g-medium--2 g-medium--push-1 g-medium--last g-wide--3 g-wide--push-1 g-wide--last"></div>
    </div>

    <h4>Consistent grid classes</h4>

    <div class="clear demo">
      <div class="g--third"></div>
      <div class="g--third"></div>
      <div class="g--third g--last"></div>
    </div>


    <div class="clear demo">
      <div class="g--half"></div>
      <div class="g--half g--last"></div>
    </div>

  </section>

  <a name="colors"></a>
  <section class="styleguide__colors">
    <h2 class="subsection-title"><strong class="subsection-number">#09</strong> Colours</h2>

    <h3>Blacks</h3>
    <ul class="styleguide__color-list list--reset clear">
      <li class="color--gray-background g--half">gray-background</li>
      <li class="color--gray-keyline g--half g--last">gray-keyline</li>
      <li class="color--gray g--half">gray</li>
      <li class="color--gray-dark g--half g--last">gray-dark</li>
    </ul>

    <h3>Themes</h3>
    <ul class="styleguide__color-list list--reset clear">
      <li class="color--layouts g--half">layouts</li>
      <li class="color--layouts-secondary g--half g--last">layouts secondary</li>
      <li class="color--user g--half">user</li>
      <li class="color--user-secondary g--half g--last">user secondary</li>
      <li class="color--media g--half">media</li>
      <li class="color--media-secondary g--half g--last">media secondary</li>
      <li class="color--performance g--half">performance</li>
      <li class="color--performance-secondary g--half g--last">performance secondary</li>
    </ul>

    <h3>Google</h3>
    <ul class="styleguide__color-list list--reset clear">
      <li class="color--blue g--half">blue</li>
      <li class="color--blue-secondary g--half g--last">blue secondary</li>
      <li class="color--green g--half">green</li>
      <li class="color--green-secondary g--half g--last">green secondary</li>
      <li class="color--red g--half">red</li>
      <li class="color--red-secondary g--half g--last">red secondary</li>
      <li class="color--yellow g--half">yellow</li>
      <li class="color--yellow-secondary g--half g--last">yellow secondary</li>
    </ul>

    <h3>Helpers</h3>
    <ul class="styleguide__color-list list--reset clear">
      <li class="color--text g--half">text</li>
      <li class="color--highlight g--half g--last">highlight</li>
      <li class="color--warning g--half">warning</li>
      <li class="color--danger g--half g--last">danger</li>
      <li class="color--muted g--half">muted</li>
      <li class="color--remember g--half g--last">remember</li>
      <li class="color--learning g--half">learning</li>
    </ul>
  </section>

  <a name="modules"></a>
  <h2 class="subsection-title"><strong class="subsection-number">#10</strong> Modules</h2>

  <h3 class="styleguide__module-title">Highlights</h3>

</div> <!-- // closing container -->

<section class="styleguide__highlights">

  {% include modules/highlight.liquid character="!" position="right" title="Remember" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." type="remember" %}

  {% include modules/highlight.liquid character="*" position="left" title="Important" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." type="learning" %}

  {% include modules/highlight.liquid character="!" position="right" title="Remember" list=page.learning-list type="remember" %}

  {% include modules/highlight.liquid character="!" position="left" title="Remember" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." priority="large" type="remember" %}

  {% include_code ../../getting-started/your-first-multi-screen-site/_code/viewport.html viewport %}

</section>

<div class="container">
  <h3 class="styleguide__module-title">Editorial Header</h3>
</div>

<section class="styleguide__editorial-header">

  <div class="editorial-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p> / <a href="#" class="breadcrumbs__link">The Essentials</a> / <a href="#" class="breadcrumbs__link"> Multi-screen layouts</a></p>
      </nav>

      <h1 class="tag editorial-header__title">Layout Basics</h1>
      <h2 class="editorial-header__subtitle">What is the viewport?</h2>
      <p class="editorial-header__excerpt g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Sed vitae varius augue, eu varius dolor. </p>
      <p class="g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor. Donec augue diam, scelerisque eget lectus in, posuere aliquet mi. Pellentesque suscipit nisl gravida sem tincidunt, id blandit turpis commodo.</p>

      <div class="editorial-header__toc">
        <p class="medium editorial-header__toc-title">More lessons in Layout Basics</p>
        <ol class="list--links list--variant">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li class="current"><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
          <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
          <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ol>
      </div>

    </div>
  </div>

</section>

<div class="container">
  <h3 class="styleguide__module-title">Articles section</h3>
</div>

<section class="styleguide__articles-section">
  <div class="articles-section">
    <div class="container">
      <p class="articles-count">4 guides</p>
      <ol class="articles-list">
        <li class="articles-list__item">
          <h3 class="xxlarge"><a href="#">Layout basics</a></h3>
          <p class="g-wide--push-1 g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
          <a href="#" class="cta--primary">See all lessons</a>
        </li>
        <li class="articles-list__item">
          <h3 class="xxlarge"><a href="#">Basic layouts</a></h3>
          <p class="g-wide--push-1 g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
          <a href="#" class="cta--primary">See all lessons</a>
        </li>
        <li class="articles-list__item">
          <h3 class="xxlarge"><a href="#">Layout patterns</a></h3>
          <p class="g-wide--push-1 g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
          <a href="#" class="cta--primary">See all lessons</a>
        </li>
        <li class="articles-list__item">
          <h3 class="xxlarge"><a href="#">UI Elements</a></h3>
          <p class="g-wide--push-1 g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio blanditiis quos porro harum nemo.</p>
          <a href="#" class="cta--primary">See all lessons</a>
        </li>
      </ol>
    </div>
  </div>
</section>

<div class="container">
  <h3 class="styleguide__module-title">Guides section</h3>
</div>

<section class="styleguide__guides-section">
  <div class="guides-section">
    <header class="container">
        <h2 class="xlarge">Guides Section</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae varius augue, eu varius dolor.</p>
    </header>

    <ul class="guides-list container-medium">
      <li class="guides-list__item g--half">
        <h3 class="xlarge">Multi screen layouts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros dolor, pharetra eu tincidunt et, sagittis et mi.</p>
        <ol class="list--links list--reset">
          <li><a href="#">Layout basics</a></li>
          <li><a href="#">Basics layouts</a></li>
          <li><a href="#">Layout patterns</a></li>
        </ol>
      </li>
      <li class="guides-list__item g--half g--last">
        <h3 class="xlarge">Multi screen layouts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros dolor, pharetra eu tincidunt et, sagittis et mi.</p>
        <ol class="list--links list--reset">
          <li><a href="#">Layout basics</a></li>
          <li><a href="#">Basics layouts</a></li>
          <li><a href="#">Layout patterns</a></li>
        </ol>
      </li>
      <li class="guides-list__item g--half">
        <h3 class="xlarge">Multi screen layouts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros dolor, pharetra eu tincidunt et, sagittis et mi.</p>
        <ol class="list--links list--reset">
          <li><a href="#">Layout basics</a></li>
          <li><a href="#">Basics layouts</a></li>
          <li><a href="#">Layout patterns</a></li>
        </ol>
      </li>
      <li class="guides-list__item g--half g--last">
        <h3 class="xlarge">Multi screen layouts</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eros dolor, pharetra eu tincidunt et, sagittis et mi.</p>
        <ol class="list--links list--reset">
          <li><a href="#">Layout basics</a></li>
          <li><a href="#">Basics layouts</a></li>
          <li><a href="#">Layout patterns</a></li>
        </ol>
      </li>
    </ul>
  </div>
</section>

<div class="container">
  <h3 class="styleguide__module-title">Page header</h3>
</div>

<section class="styleguide__page-header">
  <div class="page-header">
    <div class="container">
      <nav class="breadcrumbs">
        <p> / <a href="#" class="breadcrumbs__link"> The Essentials</a></p>
      </nav>
      <h3 class="xxlarge">Multi-screen layouts</h3>
      <p class="page-header__excerpt g-wide--push-1 g-wide--pull-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, optio, ad, voluptates repudiandae at excepturi error delectus explicabo nulla eum provident quibusdam ipsum sapiente culpa sequi quia unde fuga id.</p>
    </div>
  </div>
</section>

<div class="container">
  <h3 class="styleguide__module-title">Centered list</h3>
</div>

<section class="styleguide__centered-list">
  <div class="centered-list">
    <div class="container">
      <ul class="centered-list list--reset clear">
        <li class="g-medium--half g-wide--1">
          <h3 class="large text-divider">Guide Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#">Get started</a>
        </li>
        <li class="g-medium--half g-medium--last g-wide--1">
          <h3 class="large text-divider">Guide Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#">Get started</a>
        </li>
        <li class="g-medium--half g-wide--1">
          <h3 class="large text-divider">Guide Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#">Get started</a>
        </li>
        <li class="g-medium--half g-medium--last g-wide--1 g-wide--last">
          <h3 class="large text-divider">Guide Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <a href="#">Get started</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="container">
  <h3 class="styleguide__module-title">Featured spotlight</h3>
</div>

<a name="feature-spotlight"></a>
<section class="styleguide__feature-spotlight">


  <div class="featured-spotlight">

    <div class="container-medium">

      <div class="featured-spotlight__container g--pull-half">
        <div class="featured-spotlight__img">
          <img src="../../imgs/placeholder--wide.png" alt="image exemple">
        </div>

        <div class="container-small">
          <h3 class="xxlarge">Featured spotlight</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed vitae varius augue, eu varius dolor.</p>
          <a href="#" class="cta--primary">View Google</a>
        </div>
      </div>

    </div>

  </div>

</section>

<div class="container">
  <h3 class="styleguide__module-title">Featured list</h3>
</div>

<section class="styleguide__featured-section">
  <div class="featured-section">
    <div class="container-medium">
      <ul class="featured-list">
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <h3>Case study</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
              <a href="#" class="cta--primary">View Google</a>
            </div>
            <div class="featured-list__img-wrapper g--half g--last">
              <div class="featured-list__img">
                <img src="../../imgs/placeholder--small.png" alt="image exemple">
              </div>
            </div>
          </div>
        </li>
        <li class="featured-list__item clear">
          <div class="container-small">
            <div class="featured-list__content g--half">
              <h3>Case study</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, incidunt harum aut quae eaque sequi sunt molestiae tenetur vitae.</p>
              <a href="#" class="cta--primary">View Google</a>
            </div>
            <div class="featured-list__img-wrapper g--half g--last">
              <div class="featured-list__img">
                <img src="../../imgs/placeholder--small.png" alt="image exemple">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="container">
  <h3 class="styleguide__module-title">Article Navigation</h3>
</div>

<section class="styleguide__article-nav">
  <div class="container-medium">
    <nav class="article-nav">
      <a href="#" class="article-nav-link article-nav-link--prev">
        <p class="article-nav-count">02</p>
        <p>A need for responsive pages</p>
      </a>
      <a href="#" class="article-nav-link article-nav-link--next">
        <p class="article-nav-count">04</p>
        <p>Create images for multiple resolutions</p>
      </a>
    </nav>
  </div>
</section>

<div class="container">
  <h3 class="styleguide__module-title">Related guides</h3>
</div>

<section class="styleguide__related-guides">
  <div class="container">


    <div class="related-guides clear">
      <h3 class="related-guides__title g-wide--1 g-medium--full">Related guides</h3>
      <div class="related-guides__section clear">

        <ul class="related-guides-list list--reset">
          <li class="g-medium--1 g-wide--1 theme--multi-device-layouts">
            <p><a class="tag themed" href="#" title="Layout basics">Layout basics</a></p>
            <p class="medium"><a href="#">Guides title which goes over two lines</a></p>
          </li>
          <li class="g-medium--1 g-wide--1 theme--introduction-to-media">
            <p><a class="tag themed" href="#" title="Media">Media</a></p>
            <p class="medium"><a href="#">Guides completely device agnostic site created for the this website</a></p>
          </li>
          <li class="g-medium--1 g-medium--last g-wide--1 g-wide--last theme--performance">
            <p><a class="tag themed" href="#" title="Performance">Performance</a></p>
            <p class="medium"><a href="#">Guides new, completely device agnostic site created for the this website</a></p>
          </li>
        </ul>

      </div>
    </div>


  </div>
</section>


<div class="container">
  <h3 class="styleguide__icons">Icons</h3>

  <div class="clear">
    <p class="g--third"><i class="icon icon-minus"></i></p>
    <p class="g--third"><i class="icon icon-plus"></i></p>
    <p class="g--third g--last"><i class="icon icon-star"></i></p>
    <p class="g--third"><i class="icon icon-cheveron-right"></i></p>
    <p class="g--third"><i class="icon icon-cheveron-left"></i></p>
    <p class="g--third g--last"><i class="icon icon-forward-slash"></i></p>
    <p class="g--third"><i class="icon icon-google-dev"></i></p>
    <p class="g--third"><i class="icon icon-lessons"></i></p>
    <p class="g--third g--last"><i class="icon icon-minus"></i></p>
    <p class="g--third"><i class="icon icon-navigation-cheveron"></i></p>
    <p class="g--third"><i class="icon icon-plus"></i></p>
    <p class="g--third g--last"><i class="icon icon-star"></i></p>
  </div>

  <h4>Icon Circles</h4>

  <div class="clear">
    <p class="g--half"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
    <p class="g--half g--last"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
    <p class="g--half"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
    <p class="g--half g--last"><span class="icon-circle"><i class="icon icon-lessons"></i></span></p>
  </div>

  <h4>Icon Circles - Themed</h4>

  <div class="clear">
    <p class="g--half"><span class="icon-circle theme--multi-device-layouts"><i class="icon icon-multi-screen-layout"></i></span></p>
    <p class="g--half g--last"><span class="icon-circle theme--user-input"><i class="icon icon-user-input"></i></span></p>
    <p class="g--half"><span class="icon-circle theme--introduction-to-media"><i class="icon icon-media"></i></span></p>
    <p class="g--half g--last"><span class="icon-circle theme--performance"><i class="icon icon-performance"></i></span></p>
  </div>

  <h4>Icon Circles - Large</h4>

  <p class="g--half"><span class="icon-circle--large theme--multi-device-layouts"><i class="icon icon-multi-screen-layout"></i></span></p>
  <p class="g--half g--last"><span class="icon-circle--large theme--user-input"><i class="icon icon-user-input"></i></span></p>
  <p class="g--half"><span class="icon-circle--large theme--introduction-to-media"><i class="icon icon-media"></i></span></p>
  <p class="g--half g--last"><span class="icon-circle--large theme--performance"><i class="icon icon-performance"></i></span></p>

</div>
