:link, :visited {
  color: #1976d2; /* Meets WCAG 2.0 contrast minimums */
}

.dark-background {
  background: #2d384b;
  color: #fff;
  margin-top: 100px !important;
  padding-top: 64px !important;
}

.dark-background h2 {
  color: #fff;
}

.dark-background a {
  color: #f48fb1;
}

.faq {
  padding: 16px 0 60px;
}

.faq-question {
  font-size: 28px;
  line-height: 1.2;
}

.faq-answer {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 32px;
}

.faq-answer:last-of-type {
  margin-bottom: 0;
}
