<nav class="breadcrumbs" itemprop="breadcrumb">
  <p>
  {% for p in page.ancestors %}
    <a href="{{site.baseurl}}{{ p.url | clean}}" title="{{ p.title }}" {% if forloop.first %}rel="home"{%endif%} >{{ p.title }}</a>
    /
  {% endfor %}
  </p>
</nav>
