{% if page.other_case_studies %}
<div class="related-items related-items--showcases {% if include.minimal %} related-items--minimal {% endif %} clear">
  <h3 class="related-items__title g-wide--1 g-medium--full">More case studies</h3>
  <div class="related-items__section clear">

    <ul class="related-items-list list-reset">
    {% for casestudy in page.other_case_studies %}
      <li class="g-medium--1 g-wide--1 {% cycle '','','g-medium--last g-wide--last' %}">

        <p class="medium">
          <a href="{{casestudy.link}}">
            <img src="{{casestudy.image}}" alt="{{casestudy.title}}">
            {{casestudy.description}}
          </a>
        </p>

      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
