{% if page.title == 'Critical Rendering Path' %}

<div class="container-medium">
<div>
  <div class="featured-spotlight" style="background-color: #297ea9">
    <div class="container-medium">
      <div class="featured-spotlight__container g--pull-half">
        <div class="featured-spotlight__img">
          <a href="https://www.udacity.com/course/ud884?utm_source=webfundamentals&utm_medium=d.g.com&utm_content=promo&utm_campaign=index">
            <img src="images/crp-udacity.png" alt="Udacity course">
          </a>
        </div>

        <div class="container-small">
          <h3>Udacity course</h3>
          <p>Interested in taking a deep dive into the Critical Rendering Path? Check out or companion course and learn how the browser converts HTML, CSS, and JavaScript to pixels on the screen, how to use DevTools to measure performance, and how to optimize the Critical Rendering Path of your pages.</p>
          <a href="https://www.udacity.com/course/ud884?utm_source=webfundamentals&utm_medium=d.g.com&utm_content=promo&utm_campaign=index" class="cta--primary">View course</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endif %}
