{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content">

  {% ytvideo page.youtubeID %}

  {{ content }}

  <h4>Keep watching</h4>
  {% include shows/shows-in-season.liquid %}

</div>

{% include page-structure/close-page.liquid %}
