{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content top-padding">

  <div class="wf-podcast__content">
    <div class="wf-podcast__image-and-audio">
      <img src="{{ page.podcast_image_url }}">

      {% audio page.audio_url %}

    </div>

    <div class="wf-podcast__podcast-content">
      {{ content }}
    </div>
  </div>

  {% include shows/podcast-subscribe.liquid %}

  {% if page.context.subdirectories.size > 0 %}
    <h4>Keep listening</h4>
    {% include shows/podcasts-in-season.liquid %}
  {% endif %}

</div>

{% include page-structure/close-page.liquid %}
