.wf-highlight {
  margin-bottom: $base-line;
}

.wf-highlight__container {
  padding-left: $base-line;
  margin-bottom: $base-line;

  border-left-color: $highlight-border-color;
  border-left-style: solid;
  border-left-width: $left-border-callout-width;
}

.wf-highlight__content {

}

.wf-highlight__title {
  @include typo-subhead();
  margin: 0;
  color: $text-grey-color;
}

.wf-highlight__text {

}

.wf-highlight__list {
  margin: 0;

  list-style: none;
}

.wf-highlight__list-item {
  @include typo-title();

  margin: ($base-line / 2) 0;

  & > a {
    text-decoration: none;
  }
}

.wf-highlight__list-item:last-child {
  margin-bottom: 0;
}
