dt {
  padding-top: $base-line / 2;
  padding-bottom: $base-line / 2;
}

dd {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.wf-showcase__image-wrapper {
  text-align: center;
  padding-bottom: $base-line;

  img {

  }

  span {
    display: block;

    text-align: center;
    opacity: 0.6;
  }
}

.wf-showcase__section-container {
  padding-bottom: $base-line / 2;

  &.clear {
    clear: both;
  }

  h3 {
    clear: none;
  }
}

.wf-showcase__title {
  padding-bottom: $base-line * 6;
}

.wf-showcase__device-img {
  margin-left: auto;
  margin-right: auto;

  // * -7 for the showcase title padding and -2 extra for page content container
  margin-top: -($base-line * 9);
  box-sizing: border-box;
}

.wf-showcase__featured-showcase-img {
  margin-top: $base-line;
  margin-bottom: $base-line;
}

// The media query where the drawer pops open
@media screen and (min-width: 840px) {
  .wf-showcase__title {
    padding-bottom: initial;
  }

  .wf-showcase__device-img {
    float: right;
    margin-left: initial;
    margin-right: initial;
    position: relative;

    text-align: center;
    padding-left: $base-line;
    margin-top: -($base-line * 9);
  }
}

.wf-showcase__latest-title {
  margin-top: 0;
  margin-bottom: 0;
}

$colorHigh: #0f9d58;
$colorMedium: #f4b400;
$colorLow: #cb4437;

.wf-showcase__spotlight-scores {
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  text-align: center;

  margin-bottom: $base-line * 2;

  a {
    text-decoration: none;
  }
}

.wf-showcase__score_low {
  background-color: $colorLow;
}

.wf-showcase__score_med {
  background-color: $colorMedium;
}

.wf-showcase__score_high {
  background-color: $colorHigh;
}

.wf-showcase__score-container {

}

.wf-showcase__score {
  display: flex;

  flex: 1;

  width: $base-line * 4;
  height: $base-line * 4;

  align-items: center;
  justify-content: center;

  font-size: $base-line * 0.75;

  border-radius: 100%;
  color: white;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: $base-line / 2;
}


.wf-showcase__featured-casestudy {
  background-color: #f8f8f8;
  padding-top: $base-line;
  padding-bottom: $base-line;

  h4 {
    margin-top: 0;
    margin-bottom: 4px;
    clear: none;
  }
  h5 {
    margin-top: 4px;
    clear: none;
  }
}

// The media query where the drawer pops open
@media screen and (min-width: 840px) {
  .wf-showcase__featured-showcase-img {
    max-height: 500px;
    margin-top: -75px;
  }
}
