.mdl-layout__drawer > .wf-nav-drawer__title {
  padding-left: $nav-drawer-horizontal-padding;
  padding-right: $nav-drawer-horizontal-padding;
}

.mdl-layout__drawer .mdl-navigation.wf-nav-drawer__container {
  padding-top: 0;
}

.wf-nav-drawer {
  display: flex;
  position: fixed;

  flex-direction: column;
}

.wf-navdrawer__github-links {
  text-align: center;

  a {
    display: inline-block;
    padding: $nav-drawer-vertical-padding 0;
  }
}

.mdl-layout__obfuscator {
  position: fixed;
}

.wf-nav__list {
  padding: 0;
  margin: 0;

  padding-top: $nav-drawer-vertical-padding;

  list-style: none;
}

.wf-main-nav__list-level-1 {
  display: inline-block;
  width: 100%;

  padding-top: 0;
  padding-bottom: ($nav-drawer-vertical-padding * 2);
}

.wf-main-nav__list-level-2 {
  padding-top: ($nav-drawer-vertical-padding / 2);
}

.wf-main-nav__list-level-3 {
  padding-top: ($nav-drawer-vertical-padding / 2);
}

.wf-main-nav__item {
  margin-bottom: 0;
}

.wf-main-nav__item a:hover {
  text-decoration: underline;
}

// Default color for text (Black)
.wf-main-nav__list-level-1 > .wf-main-nav__item > .wf-main-nav__link,
.wf-main-nav__list-level-3 > .wf-main-nav__item .wf-main-nav__link {
  color: $text-color-primary;
}

// Top level links get bold styling
.wf-main-nav__list-level-1 > .wf-main-nav__item > .wf-main-nav__link {
  font-weight: bold;
}

// First level gets a little extra padding
.wf-main-nav__list-level-1 .wf-main-nav__item {
  padding: $nav-drawer-vertical-padding $nav-drawer-horizontal-padding;
}

// No horizontal padding for first indentation, bold title already covers it
.wf-main-nav__list-level-2 .wf-main-nav__item {
  padding: ($nav-drawer-vertical-padding / 2) 0;
}

// Less padding on the lower levels
.wf-main-nav__list-level-3 .wf-main-nav__item {
  padding: ($nav-drawer-vertical-padding / 2) $nav-drawer-vertical-padding;
}

// Give none of the links underline styling
.wf-main-nav__link {
  text-decoration: none;

  &.page-in-section {
    font-weight: bold;
  }
}

// Top / First item is the current section
/**.wf-main-nav__list-level-1 > .wf-main-nav__item:first-child {
  padding-bottom: ($nav-drawer-vertical-padding * 2);
  margin-bottom: ($nav-drawer-vertical-padding * 2);
  border-bottom: 1px solid $grey-border-color;
}**/

.wf-main-nav__item.wf-main-nav__selected {
  padding-top: ($nav-drawer-vertical-padding * 2);
  padding-bottom: ($nav-drawer-vertical-padding * 2);
  margin-top: ($nav-drawer-vertical-padding * 2);
  margin-bottom: ($nav-drawer-vertical-padding * 2);
  border-top: 1px solid $grey-border-color;
  border-bottom: 1px solid $grey-border-color;

  &:first-child {
    // -1 to account for the border
    margin-top: -1px;
  }
}


// Bottom links are for github and feedback
.wf-navdrawer__bottom-link {
  text-decoration: none;
  color: $text-color-primary;
}

.wf-navdrawer__bottom-link:last-child {
  margin-bottom: $nav-drawer-vertical-padding;
}

.wf-navdrawer__bottom-link-container {
  display: flex;

  flex-direction: row;

  align-items: center;

  padding: $nav-drawer-vertical-padding $nav-drawer-horizontal-padding;
}

.wf-navdrawer__bottom-link-container img {
  width: $base-line;
  height: auto;

  padding-right: $base-line * 0.5;
}

body[dir="rtl"] .wf-navdrawer__bottom-link-container img {
  padding-right: 0;
  padding-left: $base-line * 0.5;
}
