.wf-translation-links {
  list-style: none;

  padding: 0;
}

.wf-translation-link__item {
  display: inline-block;
}

.wf-translation-link__item:after {
  content: '|';

  display: inline-block;

}

.wf-translation-link__item:last-child:after {
  content: none;
}

// Display block to anchor fills height of the list item
.wf-translation-link__link {
  display: block;
  text-decoration: none;
}

.wf-translation-warning {
  border-top-style: solid;
  border-color: #f44336;
  border-width: $base-line / 2;

  margin-bottom:$base-line * 2;
}

.wf-translation-warning__title {
  color: #f44336;
  margin: ($base-line / 2) 0;
}
