@import "../../../third_party/material-design-lite/src/footer/mini_footer";
@import "../dimens";
@import "../colors";

.wf-footer {
  padding: ($base-line * 2) ($base-line);
  background-color: $footer-bg-color;
}

.wf-footer__section-container {
  display: flex;

  max-width: $max-content-width;

  position: relative;

  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
}

.wf-footer-section {
  margin: 0;
  color: $footer-text-color;
}

.wf-footer-section:first-child {
  padding-bottom: $base-line;
  margin-bottom: $base-line;
  border-bottom: 1px solid #737373;
}

.wf-footer__list {
  list-style: none;

  @include typo-body-1;

  padding: 0;
  margin: 0;

  & li {
    margin-bottom: $base-line / 2;
    padding-left: 0;
  }

  & li:last-child {
    margin-bottom: 0;
  }

  a {
    color: $footer-text-color;
    text-decoration: none;
  }
}

.wf-footer__list--primary {
  text-align: left;
}

body[dir="rtl"] .wf-footer__list--primary {
  text-align: left;
  padding-left: $base-line * 2;
}

.wf-footer__list--secondary {

  a {
    font-weight: 300;
  }
}

.wf-footer__header {
  display: inline-block;
}

.wf-footer__title {
  line-height: $base-line;
  margin-top: 0;
  margin-bottom: $base-line / 2;
}

.wf-footer_social-icons {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.wf-footer__title--link {
  display: inline-block;

  img {
    height: $base-line * 1.2;
  }
}

.wf-footer__small-btn {
  svg {
    fill: $footer-text-color;
  }
}

@media screen and (min-width: $grid-tablet-breakpoint) {
  .wf-footer__section-container {
    flex-direction: row;
  }

  .wf-footer-section {
    flex: 1;

    padding-left: $base-line * 2;
    padding-right: $base-line * 2;
  }

  .wf-footer-section:first-child {
    padding-left: 0;
    padding-right: $base-line * 2;
    border-bottom: none;
  }

  .wf-footer-section:last-child {
    padding-left: $base-line * 2;
    padding-right: 0;

    border-left: 1px solid #737373;
  }

  body[dir="rtl"] .wf-footer-section:last-child {
    border-left: none;
    border-right: 1px solid #737373;
    padding-right: 0;
    padding-right: $base-line * 2;
  }

  .wf-footer__list--primary {
    text-align: right;
  }
}
