.tools-home {

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  margin-top: 2em;

  h2 {
    color: #4B8EDD;
    font-size: 2em;
  }

  h3 {
    opacity: 0.5;
    margin-top: 1em;
    font-size: 1.3em;
  }

  h4 {
    color: #4B8EDD;
    margin-bottom: 1em;
  }

  .tools-docs-divider {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 1em;
  }

  ul.doclist {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      margin: 0;
      padding: 0;
      width: 216px;
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }

      flex: 1 1 19%;
      min-width: 165px;

      &::before {
        display: none;
      }

    }

    ul {
      display: block;

      li {
        margin: 0;
        padding: 0;
        padding-bottom: 8px;
        line-height: 1.4;
        &::before {
          display: none;
        }
      }

      a {
        color: #333;
        font-size: 15px;
      }

    }

  }

}

.tools-header {

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  margin-top: 1em;

  > div {
    background-image: url(/web/tools/landing-placeholder.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right 10%;
    padding-bottom: 3em;
  }

  .headliner {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .desc {

    width: 50%;

    h1 {
      font-size: 1em;
      display: inline;
      line-height: normal;
      padding-top: 0;
      padding-bottom: 0;
      letter-spacing: 0;
    }

    margin-bottom: 1em;

  }

  a {
      background-color: #4285f4;
      color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      text-align: center;

      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;

      &:hover {
        text-decoration: none;
      }

      &:last-child {
        margin-left: 0.5em;
        background-color: #C5246E;
      }
  }

}

.tools-products {

  padding-bottom: 2em;
  padding-top: 1em;

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  h2 {
    font-size: 2em;
    padding-top: 1em;
    color: #4B8EDD;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 0;
  }

  .tools-docs-divider {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 1em;
  }

  ul {
  
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0;
      padding: 0;
      width: 250px;
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }

      flex: 1 1 19%;
      min-width: 165px;

      p {
        font-size: 14px;
        margin-top: 1em;
      }

      img {
        background: #E8E8E8;
        border-radius: 2px;
        height: 70px;
      }

      &::before {
        display: none;
      }
    }
  }

}

.tools-updates {

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  background: #4B8BFA;
  color: #fff;

  ul.updates {

    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.5em;

    div.tags {
      margin-top: 0.5em;
      font-size: 14px;
      color: #095FB2;
      text-transform: uppercase;
    }

    li {
      margin: 0;
      padding: 0;
      width: 50%;
      flex: 0 1 auto;
      padding-right: 0.5em;
      padding-top: 1.5em;

      a {
        color: inherit;
      }

      a:hover {
        text-decoration: none;
      }

      &:last-child {
        padding-left: 0.5em;
        padding-right: 0;
      }

      &::before {
        display: none;
      }

      h4 {
        color: #fff;
        padding-bottom: 0.5em;
        padding-top: 0;
        font-size: 18px;
        font-weight: 500;
      }

      p {
        font-size: 14px;
        padding-top: 0;
      }

    }
  }

  .more {

    background: #457FE5;
    font-size: 14px;
    border-top: 1px solid #5497DA;
    color: #D1E2FF;

    .container {
      display: flex;
      align-items: center;
    }

    ul {

      margin: 0;
      padding: 0;
      flex: 1 1 auto;
      width: 100%;
      position: relative;
      height: 3em;

      li {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 49px;
        opacity: 0;

        animation: rotateWords 10s linear infinite 0s;
        -webkit-animation: rotateWords 10s linear infinite 0s;
        -moz-animation: rotateWords 10s linear infinite 0s;
        -ms-animation: rotateWords 10s linear infinite 0s;

        &:nth-child(2) {
          animation-delay: 5s;
          -webkit-animation-delay: 5s;
          -moz-animation-delay: 5s;
          -ms-animation-delay: 5s;
        }

        strong {
          display: inline-block;
          margin-right: 0.5em;
          font-weight: 500;
        }

        &::before {
          display: none;
        }

        a {
          margin-left: 0;
          margin-right: 0;
          font-weight: normal;
        }

      }
    } 

    a {
      flex: 1 0 auto;
      margin-left: 2em;
      color: #D1E2FF;
      font-weight: 500;
    }

  }

}

@keyframes rotateWords {
    0% { opacity: 1; }
    8% { opacity: 1; }
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@-webkit-keyframes rotateWords {
    0% { opacity: 0; }
    10% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes rotateWords {
    0% { opacity: 1; }
    8% { opacity: 1; }
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes rotateWords {
    0% { opacity: 1; }
    8% { opacity: 1; }
    19% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}