.tools-home {

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  h2 {
    color: #4B8EDD;
  }

  h3 {
    opacity: 0.5;
    margin-top: 1em;
  }

  h4 {
    color: #4B8EDD;
    margin-bottom: 1em;
  }

  .tools-docs-divider {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 1em;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0;
      padding: 0;
      width: 216px;

      &::before {
        display: none;
      }

    }

    ul {
      display: block;

      li {
        padding-bottom: 8px;
        width: auto;
      }

      a {
        color: #333;
        font-size: 15px;
      }

    }

  }

}