.mdl-header {

	font-family: Roboto;
	font-weight: normal;
	* {
		font-family: Roboto;
		font-weight: normal;
		letter-spacing: 0;		
	}

	height: 60vh;
	background-color: #1a1a1f;
	background-image: url(/web/tools/material-design-lite/images/header.jpg);
	background-size: cover;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	h1 {
		margin: 0;
		padding: 0;
		padding-left: 40px;
		padding-top: 42px;
		color: #f0f0f0;
		font-size: 15px;
		font-weight: 500;
		width: 120px;
		line-height: 1.35em;
	}

	a {
		background-color: #f3ff2d;
		width: 56px;
		height: 56px;
		display: block;
		border-radius: 56px;
		margin-top: 42px;
		margin-right: 40px;

		span {
			font-size: 0;
			color: transparent;
			display: block;
			width: 56px;
			height: 56px;
			background-image: url(/web/tools/material-design-lite/images/share.svg);
			background-repeat: no-repeat;
			background-position: center center;
			opacity: 0.6;
		}
	}

	img {
		height: 30%;
		width: auto;
		align-self: center;
	}

}

.mdl-coming-soon {
	height: 340px;
	background: #fafafa;
	text-align: center;
	font-family: Roboto;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
	padding-top: 142px;
}

.mdl-footer {
	.main-footer {
	  background: #f5f5f5;

	  a {
	  	color: rgba(0, 0, 0, 0.54);
	  }

	  .main-footer__google-section a {
	  	color: rgba(0, 0, 0, 0.49);
	  }

	  .main-footer__list-group:after {
	  	background: #e5e5e5;
	  }
	}
}