.update-container {

  padding-bottom: 2em;
  @include medium {
    display: flex;
  }

  font-family: Roboto;
  * {
    font-family: Roboto;
    letter-spacing: 0;
  }

  > div {
    padding-top: 6px;
  }

  .filters a {
    color: #3372df;
    font-weight: 400;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
    padding-top: 1em;   
  }

  p, li {
    font-weight: 400;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:link {
    color: #3372df;
    text-decoration: none;
  }

  a:link:hover {
    text-decoration: underline;
  }

  img {
    width: auto;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;  	
  }

  .video-container {
    margin-top: 1em;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.update-comments {
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
  margin-top: 1em;

  font-family: Roboto;
  * {
    font-family: Roboto;
    letter-spacing: 0;
  }

  h2 {
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-weight: 400;
    vertical-align: top;
  }
}

.updates-header {

  margin-top: 0;
  background: #fff;
  color: #444;

  .container {

    background-image: none;

    h1.headliner {
      font-size: 3em;
      padding-top: 1em;
      margin-bottom: .5em;
      color: #fff;

      span {
        background-color: rgba(0,0,0,.1);
        font-size: .5em;
        padding: 0 10px;
        margin-right: 10px;
        border-radius: 2px;
        color: rgba(255,255,255,.66);
        text-transform: uppercase;
        display: block;
        line-height: 1.6em;
        width: 86px;
        text-align: center;
      }
    }

    a {
      box-shadow: none;
      text-align: left;
      display: inline;
      width: auto;
      height: auto;
      line-height: 0;
      border-radius: 0;
      font-size: inherit;
      background-color: transparent;
      color: inherit;

      &:last-child {
        margin-left: 0;
      }      
    }

  }

  > div {
    padding-bottom: 2em;
  }

  .desc {
    width: auto;
  }

  .details {

    margin-top: 0px;
    color: #000;
    opacity: 0.5;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);

    div {
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
      background-size: 15px;
      background-repeat: no-repeat;
      padding-left: 1.3em;
      margin-right: 0.5em;

      &.date {
        background-image: url(/web/tools/devtools/images/clock.svg);
      }

      &.author {
        background-image: url(/web/tools/devtools/images/account.svg);
      }

      &.tags {
        background-image: url(/web/tools/devtools/images/tag.svg);
        margin-top: 0;
        text-transform: none;
        color: #000;
      }
    }

  }

}

.updates-header-tip {
  background-color: #43A047;
}

.updates-header-news {
  background-color: #4B8BFA;
  .desc {
    color: #fff;
  }
}

.updates-list .filters, .update-container .filters {

    min-width: 150px;
    padding-top: 0;

    ul {
      padding: 0;
      padding-top: 2em;

      li {
        font-weight: 500;
        padding-left: 0;
        &::before {
          display: none;
        }
        @include small-only {
          display: inline-block;
          padding-right: 0.3em;
        }
      }

      ul {
        padding: 0;
        padding-bottom: 1em;
        font-size: 0.9em;

        li {
          font-weight: 300;
        }

        .selected {
          color: inherit;
          font-weight: 500;
          cursor: default;
          &:hover {
            cursor: default;
            text-decoration: none;
          }
        }
      }
    }

}

.updates-list {

  background: #f5f5f5;

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  .container {
    @include medium {
      display: flex;
    }
  }

  > div > ul {

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 2em;

    li {
      padding: 1em;
      padding-bottom: 5em;
      margin: 0;
      margin-bottom: 32px;
      flex: 1 1 calc(50% - 20px);
      margin-right: 20px;
      position: relative;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21);
      min-width: 290px;

      &.tip h3 {
        background-color: #43A047;
      }
    }

    li::before {
      display: none;
    }

    h3 {
      color: #fff;
      font-size: 20px;
      line-height: 1.5em;
      background: #4B8BFA;
      margin-top: -16px;
      margin-left: -16px;
      margin-right: -16px;
      padding: 16px;

      span {
        background-color: rgba(0,0,0,0.1);
        font-size: 0.7em;
        padding: 0px 7px;
        margin-right: 6px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.66);
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.8em;
        vertical-align: middle;
      }
    }

    p {
      color: #333;
      padding-top: 1em;
    }

    a:hover {
      text-decoration: none;
    }

    .tags {
      padding-top: 0.5em;
      font-size: 0.9em;
    }

    .tags span {
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 1em;
      font-weight: 500;
    }

    footer {
      display: flex;
      justify-content: space-between;
      padding: 1em 1em 1em 0em;
      border-top: 1px solid #eee;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      div {
        margin-left: 1em;
        white-space: nowrap;
      }

      .icon-circle {
        display: inline;
        vertical-align: middle;
        margin: 0 8px 0 0;
        padding: 18px;
      }
    }

    .latest-spotlights__link img {
      max-height: 13em;
    }

    .cta--primary {
      margin-top: 1em;
    }

    figure {
      text-align: right;
    }

  }

}