.update-container {

  padding-bottom: 2em;
  @include medium {
    display: flex;
    display: -webkit-flex;
  }

  font-family: Roboto;

  > div {
    padding-top: 6px;
  }

  .filters a {
    color: #3372df;
    font-weight: 400;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
    padding-top: 1em;   
  }

  b, strong {
    font-weight: 500;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:visited,
  a:link {
    color: #3372df;
    text-decoration: none;
  }

  a:link:hover {
    text-decoration: underline;
  }

  img {
    width: auto;
    max-width: 100%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .update-content {

    max-width: 100%;
    @include medium {
      width: -moz-calc(100% - 150px);
    }

    img.block {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    h2,h3,h4,h5 {
      padding-top: 1.3em;
    }

    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin: 2em 0em;      
    }

    hr + h2,
    hr + h3,
    hr + h4,
    hr + h5 {
      padding-top: 0.3em;
    }
    
    p, li {
        max-width: 100%;
    }

  }

  .update-content,
  .update-content p,
  .update-content li {
    font-size: 15px;
    font-weight: 400;    
  }

  .video-container {
    margin-top: 1em;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.update-comments {
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
  margin-top: 1em;

  font-family: Roboto;
  * {
    font-family: Roboto;
    letter-spacing: 0;
  }

  h2 {
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-weight: 400;
    vertical-align: top;
  }
}

.updates-header {

  margin-top: 0;
  background: #fff;
  color: #444;
  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  .container {

    background-image: none;
    align-items: flex-end;
    -webkit-align-items: flex-end;

    h1.headliner {
      font-size: 3em;
      padding-top: 1em;
      margin-bottom: .5em;
      color: #fff;
      font-weight: 300;
    }

    p.headliner {
      font-weight: 300;
      margin-bottom: 0;
      small {
        font-size: 0.7em;
        line-height: 1;
        /* font-style: italic; */
        font-weight: 300;
      }
    }

    a {
      box-shadow: none;
      text-align: left;
      display: inline;
      width: auto;
      height: auto;
      line-height: 0;
      border-radius: 0;
      font-size: inherit;
      background-color: transparent;
      color: inherit;

      &:last-child {
        margin-left: 0;
      }      
    }

  }

  > div {
    padding-bottom: 2em;
  }

  .desc {
    width: auto;
    color: #888;
  }

  .details-wrapper {
    display: flex;
    display: -webkit-flex;
    > a {
      margin-right: 20px;
      flex: 0 0 auto;
    }
  }

  .details {

    margin-top: 0px;
    color: #000;
    opacity: 0.5;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);

    div {
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
      background-size: 15px;
      background-repeat: no-repeat;
      padding-left: 1.3em;
      margin-right: 0.5em;

      &.type {
        background-color: rgba(255, 255, 255, 0.18);
        padding: 0 8px;
        border-radius: 2px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
      }

      &.date {
        background-image: url(/web/imgs/icons/clock.svg);
      }

      &.author {
        background-image: url(/web/imgs/icons/account.svg);
      }

      &.tags {
        background-image: url(/web/imgs/icons/tag.svg);
        margin-top: 0;
        text-transform: none;
        color: #000;
      }
    }

  }

}

.updates-header-single .desc {
  color: #FFFFFF;
}

.updates-header-tip {
  background-color: #43A047;
}

.updates-header-news {
  background-color: #4B8BFA;
  .desc {
    color: #fff;
  }
}

.updates-list .filters, .update-container .filters {

    min-width: 150px;
    padding-top: 0;

    ul {
      padding: 0;
      padding-top: 2em;

      li {
        font-weight: 500;
        padding-left: 0;
        &::before {
          display: none;
        }
        @include small-only {
          display: inline-block;
          padding-right: 0.3em;
        }
      }

      ul {
        padding: 0;
        padding-bottom: 1em;
        font-size: 0.9em;

        li {
          font-weight: 300;
        }

        .selected {
          color: inherit;
          font-weight: 500;
          cursor: default;
          &:hover {
            cursor: default;
            text-decoration: none;
          }
        }
      }
    }

}

.updates-list .updates-pagination.container {
  border-top: 1px solid #E5E5E5;
  text-align: center;
  display: block;

  ul {
    margin: 0;
    padding: 1em 0;
    text-align: center;

    li {
      display: inline-block;
      text-align: center;
      padding: 0;
      margin: 0 6px;
      line-height: 2em;

      @include medium {
        background-color: #fff;
        border-radius: 50px;
        width: 2em;
        height: 2em;
        box-shadow: 0 1px 2px rgba(0,0,0,.21);
      }

      &.current {

          @include medium {
            background-color: #4B8BFA;
            a {
              color: #fff;
            }
          }

          @include small-only {
            a {
              text-decoration: underline;
              font-weight: 500;
            }
          }

      }

      &::before {
        display: none;
      }
    }
  }
}

.updates-list {

  background: #f5f5f5;

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  .container {
    @include medium {
      display: flex;
      display: -webkit-flex;
      padding-right: 15px;
    }
  }

  > div.updates-list-header > ul {

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0;
    padding-top: 2em;

    > li {
      margin: 0;
      margin-bottom: 32px;
      flex: 1 1 calc(33% - 20px);
      -webkit-flex: 1 1 calc(33% - 20px);
      margin-right: 20px;
      position: relative;
      min-width: 280px;

    }

    > li::before {
      display: none;
    }

    a:hover {
      text-decoration: none;
    }

    .latest-spotlights__link img {
      max-height: 13em;
    }

    .cta--primary {
      margin-top: 1em;
    }

    figure {
      text-align: right;
    }

  }

}

ul.short-updates {

  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-bottom: 1.5em;

  div.tags {
    margin-top: 0.5em;
    font-size: 14px;
    color: #095FB2;
    text-transform: uppercase;
  }

  .details {

    margin-top: -10px;
    margin-bottom: 0px;
    color: #000;
    opacity: 0.4;

    div {
      display: inline-block;
      font-size: 13px;
      line-height: 13px;
      background-size: 13px;
      background-repeat: no-repeat;
      padding-left: 1.3em;
      margin-right: 0.5em;

      &.date {
        background-image: url(/web/imgs/icons/clock.svg);
      }

      &.author {
        background-image: url(/web/imgs/icons/account.svg);
      }

      &.tags {
        background-image: url(/web/imgs/icons/tag.svg);
        margin-top: 0;
        text-transform: none;
        color: #000;
      }
    }

  }

  > li.news {

    p {
      img {
        display: inline-block;
        margin: 0;
        width: auto;
        align: left;
        max-width: 130px;
        margin-right: 10px;
      }      
    }

  }

  > li {
    margin: 0;
    padding: 0;
    width: 33%;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    padding-right: 0;
    padding-top: 1em;
    font-size: 14px;

    .featured-img {
      height: 144px;
      background-size: cover;
      margin-bottom: 24px;
    }

    @include small-only {
      width: 100%;
    }

    a {
      color: inherit;
    }

    a:hover {
      text-decoration: none;
    }

    &::before {
      display: none;
    }

    &:nth-child(2), &:nth-child(3) {
      @include medium {
        padding-left: 20px;
        padding-right: 0;
      }
    }

    h4 {
      color: #4B8EDD;
      padding-bottom: 0.5em;
      padding-top: 0;
      font-size: 18px;
      font-weight: 500;

      span {
        background-color: rgba(75, 139, 250, 1);
        font-size: .7em;
        padding: 0 7px;
        margin-right: 6px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.89);
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.8em;
        vertical-align: middle;
      }
    }

    p {
      font-size: 14px;
      padding-top: 10px;
    }

    video {
      width: 100%;
      margin-bottom: 0;
    }

    ol {
      list-style-type: decimal;
      margin-left: 1.5em;
      font-size: 14px;
      li {
        font-size: 14px;
        padding-left: 0;
      }
    }

  }
}

/*
 * Update cards
 */
.update-card {
  padding: 0;
  padding-bottom: 66px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  .featured-img {
    padding-top: 56%;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &.tip {
    h3 span {
      background-color: #43A047;
    }
    .button {
      background-color: #43A047;
    }
  }

  h4 {
    font-size: 14px;
    line-height: 1.5em;
    color: #888;

    padding: 16px;
    padding-top: 24px;
    padding-bottom: 0;
    text-transform: capitalize;
  }

  h3 {
    font-size: 24px;
    line-height: 1.3em;

    padding: 16px;
    padding-bottom: 16px;
    padding-top: 0;
  }

  .description {
    padding: 16px;
    padding-top: 0;
    line-height: 1.3;
    color: #666;

    span {
      background: #4B8BFA;
      font-size: 0.7em;
      padding: 0px 7px;
      margin-right: 6px;
      border-radius: 2px;
      color: rgba(255, 255, 255, 0.9);
      text-transform: uppercase;
      display: inline-block;
      line-height: 1.8em;
      vertical-align: middle;
    }
  }

  .tags {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .tags a {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1em;
    font-weight: 500;
  }

  footer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 1em 1em 1em 0em;
    border-top: 1px solid #eee;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    div {
      margin-left: 1em;
      white-space: nowrap;
    }

    .icon-circle {
      display: inline;
      vertical-align: middle;
      margin: 0 8px 0 0;
      padding: 18px;
    }
  }

  .center {
    text-align: center;
    position: absolute;
    bottom: 72px;
    right: 0;
    left: 0;
    .button {
      box-shadow: 0 2px 19px 0 rgba(0,0,0,.56);
    }
  }

  .button {
    background-color: #4285f4;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 0 1em;
    line-height: 32px;
    border-radius: 2px;
    font-size: .9em;          
  }

}

.external-source {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  color: rgba(0,0,0,0.4);
  background-color: rgb(249, 249, 249); 
}
