.update-container {

  padding-bottom: 2em;
  @include medium {
    display: flex;
    display: -webkit-flex;
  }

  font-family: Roboto;
  * {
    font-family: Roboto;
    letter-spacing: 0;
  }

  > div {
    padding-top: 6px;
  }

  .filters a {
    color: #3372df;
    font-weight: 400;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
    padding-top: 1em;   
  }

  p, li {
    font-weight: 400;
  }

  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }

  a:link {
    color: #3372df;
    text-decoration: none;
  }

  a:link:hover {
    text-decoration: underline;
  }

  img {
    width: auto;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;  	
  }

  .update-content {

    img.block {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
    }

  }

  .video-container {
    margin-top: 1em;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.update-comments {
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
  margin-top: 1em;

  font-family: Roboto;
  * {
    font-family: Roboto;
    letter-spacing: 0;
  }

  h2 {
    font-size: 2em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    font-weight: 400;
    vertical-align: top;
  }
}

.updates-header {

  margin-top: 0;
  background: #fff;
  color: #444;

  .container {

    background-image: none;

    h1.headliner {
      font-size: 3em;
      padding-top: 1em;
      margin-bottom: .5em;
      color: #fff;
      font-weight: 300;
    }

    p.headliner {
      font-weight: 300;
      margin-bottom: 0;
    }

    a {
      box-shadow: none;
      text-align: left;
      display: inline;
      width: auto;
      height: auto;
      line-height: 0;
      border-radius: 0;
      font-size: inherit;
      background-color: transparent;
      color: inherit;

      &:last-child {
        margin-left: 0;
      }      
    }

  }

  > div {
    padding-bottom: 2em;
  }

  .desc {
    width: auto;
    color: #939393;
  }

  .details-wrapper {
    display: flex;
    display: -webkit-flex;
    > a {
      margin-right: 20px;
    }
  }

  .details {

    margin-top: 0px;
    color: #000;
    opacity: 0.5;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);

    div {
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
      background-size: 15px;
      background-repeat: no-repeat;
      padding-left: 1.3em;
      margin-right: 0.5em;

      &.type {
        background-color: rgba(255, 255, 255, 0.18);
        padding: 0 8px;
        border-radius: 2px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
      }

      &.date {
        background-image: url(/web/imgs/icons/clock.svg);
      }

      &.author {
        background-image: url(/web/imgs/icons/account.svg);
      }

      &.tags {
        background-image: url(/web/imgs/icons/tag.svg);
        margin-top: 0;
        text-transform: none;
        color: #000;
      }
    }

  }

}

.updates-header-tip {
  background-color: #43A047;
}

.updates-header-news {
  background-color: #4B8BFA;
  .desc {
    color: #fff;
  }
}

.updates-list .filters, .update-container .filters {

    min-width: 150px;
    padding-top: 0;

    ul {
      padding: 0;
      padding-top: 2em;

      li {
        font-weight: 500;
        padding-left: 0;
        &::before {
          display: none;
        }
        @include small-only {
          display: inline-block;
          padding-right: 0.3em;
        }
      }

      ul {
        padding: 0;
        padding-bottom: 1em;
        font-size: 0.9em;

        li {
          font-weight: 300;
        }

        .selected {
          color: inherit;
          font-weight: 500;
          cursor: default;
          &:hover {
            cursor: default;
            text-decoration: none;
          }
        }
      }
    }

}

.updates-list .updates-pagination.container {
  border-top: 1px solid #E5E5E5;
  text-align: center;
  display: block;

  ul {
    margin: 0;
    padding: 1em 0;
    text-align: center;

    li {
      display: inline-block;
      text-align: center;
      padding: 0;
      margin: 0 6px;
      line-height: 2em;

      @include medium {
        background-color: #fff;
        border-radius: 50px;
        width: 2em;
        height: 2em;
        box-shadow: 0 1px 2px rgba(0,0,0,.21);
      }

      &.current {

          @include medium {
            background-color: #4B8BFA;
            a {
              color: #fff;
            }
          }

          @include small-only {
            a {
              text-decoration: underline;
              font-weight: 500;
            }
          }

      }

      &::before {
        display: none;
      }
    }
  }
}

.updates-list {

  background: #f5f5f5;

  font-family: Roboto;
  * {
    font-family: Roboto;
    font-weight: normal;
    letter-spacing: 0;
  }

  .container {
    @include medium {
      display: flex;
      display: -webkit-flex;
      padding-right: 15px;
    }
  }

  > div.updates-list-header > ul {

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0;
    padding-top: 2em;

    > li {
      padding: 0;
      padding-bottom: 66px;
      margin: 0;
      margin-bottom: 32px;
      flex: 1 1 calc(50% - 20px);
      -webkit-flex: 1 1 calc(50% - 20px);
      margin-right: 20px;
      position: relative;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21);
      min-width: 290px;

      .center {
        text-align: center;
        position: absolute;
        bottom: 72px;
        right: 0;
        left: 0;
        .button {
          box-shadow: 0 2px 19px 0 rgba(0,0,0,.56);
        }
      }

      .button {
        background-color: #4285f4;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
        text-align: center;
        display: inline-block;
        position: relative;
        padding: 0 1em;
        line-height: 32px;
        border-radius: 2px;
        font-size: .9em;          
      }

      &.tip {
        h3 {
          background-color: #43A047;
        }
        .button {
          background-color: #43A047;
        }
      }

      &.news {
        img {
          max-width: 40%;
          margin-right: 15px;
          margin-top: 0;
        }
      }

      img {
        margin-bottom: 0;
        margin-top: 0;
      }

      ol, ul {
        padding-top: 1em;
        color: #333;
      }

      p {
        color: #333;
        padding: 1em;
        padding-bottom: 0.5em;
      }

    }

    > li::before {
      display: none;
    }

    h3 {
      color: #fff;
      font-size: 18px;
      line-height: 1.5em;
      background: #4B8BFA;
      padding: 16px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;

      span {
        background-color: rgba(0,0,0,0.1);
        font-size: 0.7em;
        padding: 0px 7px;
        margin-right: 6px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.66);
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.8em;
        vertical-align: middle;
      }
    }

    a:hover {
      text-decoration: none;
    }

    .tags {
      margin: 16px;
      padding-top: 0.5em;
      font-size: 0.8em;
      border-top: 1px solid #EDEDED;
      margin-top: 0.5em;
      margin-bottom: 0;
    }

    .tags a {
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 1em;
      font-weight: 500;
    }

    footer {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      padding: 1em 1em 1em 0em;
      border-top: 1px solid #eee;

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      div {
        margin-left: 1em;
        white-space: nowrap;
      }

      .icon-circle {
        display: inline;
        vertical-align: middle;
        margin: 0 8px 0 0;
        padding: 18px;
      }
    }

    .latest-spotlights__link img {
      max-height: 13em;
    }

    .cta--primary {
      margin-top: 1em;
    }

    figure {
      text-align: right;
    }

  }

}

ul.short-updates {

  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-bottom: 1.5em;

  div.tags {
    margin-top: 0.5em;
    font-size: 14px;
    color: #095FB2;
    text-transform: uppercase;
  }

  .details {

    margin-top: -10px;
    margin-bottom: 0px;
    color: #000;
    opacity: 0.4;

    div {
      display: inline-block;
      font-size: 13px;
      line-height: 13px;
      background-size: 13px;
      background-repeat: no-repeat;
      padding-left: 1.3em;
      margin-right: 0.5em;

      &.date {
        background-image: url(/web/imgs/icons/clock.svg);
      }

      &.author {
        background-image: url(/web/imgs/icons/account.svg);
      }

      &.tags {
        background-image: url(/web/imgs/icons/tag.svg);
        margin-top: 0;
        text-transform: none;
        color: #000;
      }
    }

  }

  > li.news {

    p {
      img {
        display: inline-block;
        margin: 0;
        width: auto;
        align: left;
        max-width: 130px;
        margin-right: 10px;
      }      
    }

  }

  > li.tip {

      img {
        margin-bottom: 0;
        max-height: 150px;
      }

  }

  > li {
    margin: 0;
    padding: 0;
    width: 50%;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    padding-right: 0.5em;
    padding-top: 1em;
    font-size: 14px;

    @include small-only {
      width: 100%;
    }

    a {
      color: inherit;
    }

    a:hover {
      text-decoration: none;
    }

    &::before {
      display: none;
    }

    &:nth-child(2) {
      @include medium {
        padding-left: 20px;
        padding-right: 0;
      }
    }

    h4 {
      color: #4B8EDD;
      padding-bottom: 0.5em;
      padding-top: 0;
      font-size: 18px;
      font-weight: 500;

      span {
        background-color: rgba(75, 139, 250, 1);
        font-size: .7em;
        padding: 0 7px;
        margin-right: 6px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.89);
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.8em;
        vertical-align: middle;
      }
    }

    p {
      font-size: 14px;
      padding-top: 10px;
    }

    video {
      width: 100%;
      margin-bottom: 0;
    }

    ol {
      list-style-type: decimal;
      margin-left: 1.5em;
      font-size: 14px;
      li {
        font-size: 14px;
        padding-left: 0;
      }
    }

  }
}