$polycastColor: #687FF6;

.showtitle--title-container-polycasts {
	background-color: $polycastColor;
	color: white;
}

.showtitle--title-polycasts, .showtitle--title-container-show-home .showtitle--subtitle-polycasts {
	@include type--small;
	font-weight: 500;
	padding-top: 0;
	color: inherit;
}

.showtitle--subtitle-polycasts, .showtitle--title-container-show-home .showtitle--title-polycasts {
	@include type--xlarge;

	padding-top: 0;
	color: inherit;
}

@include small-only {
	.showtitle--title-container-single-video .showtitle--title-polycasts {
		display: none;
	}
}

@include wide {
	.showtitle--title-polycasts, .showtitle--title-container-show-home .showtitle--subtitle-polycasts {
		padding-top: 0;

		color: inherit;
	}

  .showtitle--subtitle-polycasts, .showtitle--title-container-show-home .showtitle--title-polycasts  {
		padding-top: 0;

		color: inherit;
	}
}

.showhome--series-title-polycasts, .showhome--series-title-polycasts a {
	color: $polycastColor;
}

.smallvideo--title-container-polycasts, .smallvideo-polycasts {
	background-color: $polycastColor;
}
