{{ page.raw_content }}

<div class="page-content">
  <div id="gplus-comment-container" class="update-post__gplus-comment-container">
    <div id="gplus-comments" data-url="{{page.raw_canonical_url}}"></div>
  </div>
</div>
