<a class="update-list-item__link-wrapper" href="{{site.WFBaseUrl}}{{article.url | canonicalize}}">

    <h1 class="update-list-item__title mdl-typography--headline">{{article.title}}</h1>

    <div class="update-list-item__description">
      {{article.description}}
    </div>

    {% include updates/author.liquid author=article.main_author written_on=article.article.written_on %}
</a>
