{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content">

  {% include page-structure/out-of-date.liquid %}

  {{ content }}

  <div class="wf-border-container">
    <div class="wf-border-container__content">
      <h3 class="wf-highlight-list__title">{{"topics" | localize_string}}</h3>
      <ol class="wf-highlight-list__list">
      {% for pageInSection in page.context.pages %}
        <li>
          <a href="{{pageInSection.relative_url }}">
            {{pageInSection.title}}
          </a>
        </li>
      {% endfor %}
      </ol>
    </div>
  </div>

</div>

{% include page-structure/license.liquid %}

{% include page-structure/close-page.liquid%}
