.showhome--title-container {
	padding: 200px 0 50px 0;
	background-color: black;
}

.showhome--title-http203 {
	font-family: 'Courier New', Courier;
	color: white;
}

.showhome--series-title-http203, .showhome--series-title-http203 a {
	font-family: 'Courier New', Courier;
	color: black;
}

.smallvideo--title-container-http203 {
	font-family: 'Courier New', Courier;
	color: white;

	background-color: black;
}
