.showtitle--title-container-http203 {
	font-family: 'Courier New', Courier;

	background-color: black;
}

.showtitle--title-http203 {
	color: white;
}

.showtitle--subtitle-http203 {
	color: #838283;
}

.showhome--series-title-http203, .showhome--series-title-http203 a {
	font-family: 'Courier New', Courier;
	color: black;
}

.smallvideo--title-container-http203, .smallvideo-http203 {
	font-family: 'Courier New', Courier;
	color: white;

	background-color: black;
}
