$padding: 8px !default;

.showhome--subheading {
	padding-top: $padding * 4;
}

.showhome--subheading-description {
	@include type--small
}

.showhome--subheading-title, .content .showhome--subheading-title {
	margin: 0;
	padding: 0;
}

.showhome--series-title, .content .showhome--series-title {
	margin: 0;
	padding: 0;
}

.showhome--series-flatrowlist {
	padding-top: $padding;
}

.showhome--series {
	padding-top: $padding * 4;
}

.showhome--series-first {
	padding-top: 0;
}
