$padding: 8px !default;

/**.showblock {

}

.showblock-container {
	margin-bottom: $padding * 2;
}

.showblock-link, .showblock-link:hover {
	text-decoration: none;
	color: inherit;
}

.showblock--imagecontainer {

}

.showblock--title {
	@include type--large;
}**/

.show-root--image-container {
	flex: 0 1 auto;

	min-height: initial;
	max-height: initial;

	img {
		margin: 0;
	}
}

@include medium {
	.guides-list__item .primary-content.show-root--image-container {
		flex: 0 1 auto;

		min-height: initial;
		max-height: initial;
	}
}

@include wide {
	.guides-list__item .primary-content.show-root--image-container {
		flex: 0 1 auto;

		min-height: initial;
		max-height: initial;
	}
}

.guides-list__item .secondary-content.show-root--info {
	margin-top: 0;
	padding-bottom: 26px;
}
