


/****************************************************
 *
 *
 * Everything below is temporary for placeholder page
 *
 *
 ***************************************************/


/** Custom Fonts **/
@font-face {
  font-family: 'CMOD Subotron';
  font-style: normal;
  src: local('CMOD Subotron'), url(/fonts/ttt/CMODSubotron.otf) format('opentype')
}

@font-face {
  font-family: 'M38';
  src: url('/fonts/ttt/m38-webfont.eot');
  src: url('/fonts/ttt/m38-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ttt/m38-webfont.woff2') format('woff2'),
  url('/fonts/ttt/m38-webfont.woff') format('woff'),
  url('/fonts/ttt/m38-webfont.ttf') format('truetype'),
  url('/fonts/ttt/m38-webfont.svg#m38_gorillaregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'M30';
  src: url('/fonts/ttt/m30-webfont.eot');
  src: local('M30_SHOPLIFTER'), url('/fonts/ttt/m30-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/ttt/m30-webfont.woff2') format('woff2'),
  url('/fonts/ttt/m30-webfont.woff') format('woff'),
  url('/fonts/ttt/m30-webfont.ttf') format('truetype'),
  url('/fonts/ttt/m30-webfont.svg#m30_shoplifterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


$font-color: #ffffff;
$background-color: #000000;
$bottom-left-gradient-color: #0e1a54;
$bottom-right-gradient-color: #5c0020;
$header-border-color: $font-color;
$footer-font-color: #878787;

/**
 * Dimensions
 */
$base-lineheight: 8px;

$header-inner-border-spacing: 4px;
$header-border-width: 2px;
$header-horizontal-padding: $base-lineheight * 2;
$header-vertial-padding: $base-lineheight * 3;
$character-size: 120px;
$character-height: 164px;
$jumping-character-horizontal-offset: 10px;
$jumping-character-vertical-offset: 15px;

/**
 * Z-Indexing
 */

$z-galaxy-blue: 1;
$z-title: 2;
$z-hosts: 2;
$z-footer: 2;
$z-matt-jumping: 3;
$z-addy-jumping: 3;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;

  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

.tempintro {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: $background-color;
  background-image: url('../images/stars.png'),
    linear-gradient(45deg, $bottom-left-gradient-color 0%,rgba(0,0,0,0) 60%),
    linear-gradient(135deg, rgba(0,0,0,0) 40%, $bottom-right-gradient-color 100%);

  overflow: hidden;
}

.title {
  position: absolute;

  top: 50%;
  left: 50%;

  box-sizing: border-box;

  padding: $header-horizontal-padding;

  transform: translate(-50%, -50%);
  z-index: $z-title;

  width: 100%;
  text-align: center;
}

.header--main {
  position: relative;

  display:inline-block;
  box-sizing: border-box;

  padding: ($header-vertial-padding + $header-inner-border-spacing)
    ($header-horizontal-padding + $header-inner-border-spacing);
  padding-top: $header-vertial-padding + $header-inner-border-spacing;
  padding-bottom: $header-vertial-padding + $header-inner-border-spacing;

  border-width: $header-border-width;
  border-style: solid;
  border-color: $header-border-color;
}

.header--main:before {
  content: " ";
  position: absolute;
  z-index: 0;
  top: $header-inner-border-spacing;
  left: $header-inner-border-spacing;
  right: $header-inner-border-spacing;
  bottom: $header-inner-border-spacing;
  border-width: $header-border-width;
  border-style: solid;
  border-color: $header-border-color;
}

.header__title--main {
  margin: 0;

  line-height: 1.2em;

  font-family: 'M30';
  font-weight: normal;
  font-size: 3.4em;
  color: $font-color;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .header__title--main {
    font-size: 4.4em;
  }
}

@media screen and (min-width: 800px) {
  .header__title--main {
    font-size: 5.4em;
  }
}

@media screen and (min-width: 1000px) {
  .header__title--main {
    font-size: 6.4em;
  }
}

@media screen and (min-width: 1200px) {
  .header__title--main {
    font-size: 7.4em;
  }
}

.hosts {
  display:block;
  width:100%;

  font-family: 'M38';
  font-weight: normal;
  font-size: 0.8em;
  color: $font-color;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .hosts {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 800px) {
  .hosts {
    font-size: 1.0em;
  }
}

@media screen and (min-width: 1000px) {
  .hosts {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 1200px) {
  .hosts {
    font-size: 1.2em;
  }
}

// Original Image from: https://flic.kr/p/aXHTdn
.galaxy--blue {
  position:absolute;
  bottom: 0px;
  right: 0px;
  z-index: $z-galaxy-blue;

  width: (404px * 0.6);
  height: (414px * 0.6);

  background-image: url('../images/galaxy-blue.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50px 30px;
}

// Original Image from: https://flic.kr/p/aXHTdn
.planet--orange {
  position:absolute;
  top: -40px;
  left: -(80px);
  z-index: $z-galaxy-blue;

  width: (431px * 0.45);
  height: (430px * 0.45);

  background-image: url('../images/planet-orange.png');
  background-repeat: no-repeat;
  background-size: contain;
}

// Original Image from: https://flic.kr/p/n97BaM
.planet--purple {
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: $z-galaxy-blue;

  width: (213px * 0.3);
  height: (221px * 0.3);

  margin-left: -(213px * 0.3) - 100px;
  margin-top: (221px * 0.3);

  background-image: url('../images/planet-purple.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.characters {
  position: relative;

  height: $character-size;

  margin-top: -$jumping-character-vertical-offset;

  z-index: 5;
}

.addy--jumping {
  position: absolute;

  right: 50%;

  width: $character-size;
  height: $character-size;

  margin-right: -$jumping-character-horizontal-offset;

  background-image: url('../images/addy_1x.svg');
  background-size: contain;
}

.matt--jumping {
  position: absolute;

  left: 50%;

  width: $character-size;
  height: $character-size;

  margin-left: -$jumping-character-horizontal-offset;

  background-image: url('../images/matt_1x.svg');
  background-size: contain;
}

@media screen and (min-width: 600px) {
  $new-character-size: $character-size + 20px;
  .characters {
    height: $new-character-size;
  }

  .addy--jumping, .matt--jumping {
    width: $new-character-size;
    height: $new-character-size;
  }
}

@media screen and (min-width: 800px) {
  $new-character-size: $character-size + 30px;
  .characters {
    height: $new-character-size;
  }

  .addy--jumping, .matt--jumping {
    width: $new-character-size;
    height: $new-character-size;
  }
}

@media screen and (min-width: 1000px) {
  $new-character-size: $character-size + 40px;
  .characters {
    height: $new-character-size;
  }

  .addy--jumping, .matt--jumping {
    width: $new-character-size;
    height: $new-character-size;
  }
}

@media screen and (min-width: 1200px) {
  $new-character-size: $character-size + 50px;
  .characters {
    height: $new-character-size;
  }

  .addy--jumping, .matt--jumping {
    width: $new-character-size;
    height: $new-character-size;
  }
}

.tempfooter {
  position: absolute;

  bottom: 0;

  width: 100%;
  text-align: center;
  z-index: $z-footer;

  a {
    color: $footer-font-color;
    text-decoration: none;
  }

}


$font-color: #000000;
$header-border-color: $font-color;

/**
* Dimensions
*/
$base-lineheight: 8px;

$header-inner-border-spacing: 4px;
$header-border-width: 2px;
$header-vertial-padding: $base-lineheight;

p, ul {
  max-width: 600px;

  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;

  margin: 0 auto;
  margin-bottom: $base-lineheight * 2;
  padding: $header-inner-border-spacing;
  padding-top: $header-vertial-padding + $header-inner-border-spacing;
  padding-bottom: $header-vertial-padding + $header-inner-border-spacing;

  border-width: $header-border-width;
  border-style: solid;
  border-color: $header-border-color;
}

.header:before {
  content: " ";
  position: absolute;
  top: $header-inner-border-spacing;
  left: $header-inner-border-spacing;
  right: $header-inner-border-spacing;
  bottom: $header-inner-border-spacing;
  border-width: $header-border-width;
  border-style: solid;
  border-color: $header-border-color;
}

.header__title {
  margin: 0;

  line-height: 1.2em;

  font-family: 'M30';
  font-weight: normal;
  font-size: 3.4em;
  color: $font-color;
  text-align: center;
}

.list--blank {

}

a {
  color: $font-color;
  text-decoration: none;
  font-weight: bold;
}
