$font-color: #ffffff;
$secondary-font-color: #878787;
$background-color: #000000;
$bottom-left-gradient-color: #0e1a54;
$bottom-right-gradient-color: #5c0020;
$header-border-color: $font-color;

/**
 * Dimensions
 */
$padding: 24px;

$base-lineheight: 8px;

$header-inner-border-spacing: 4px;
$header-border-width: 2px;

/**
 * Z-Indexing
 */

$z-galaxy-blue: 1;
$z-title: 2;
$z-hosts: 2;
$z-footer: 2;
$z-matt-jumping: 3;
$z-addy-jumping: 3;

.page--ttt {
  background-color: $background-color;
  background-image: url('../imgs/shows/ttt/stars.png'),
    linear-gradient(45deg, $bottom-left-gradient-color 0%,rgba(0,0,0,0) 60%),
    linear-gradient(135deg, rgba(0,0,0,0) 40%, $bottom-right-gradient-color 100%);

  > .container {
    background-color: white;
  }
}

.showtitle--title-container-ttt {

}

.showtitle--title-ttt {
  text-indent: -999999999px;

  background-image: url('../imgs/shows/ttt/ttt-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.showtitle--subtitle-ttt {

}

@include wide {
  .showtitle--subtitle-ttt {

  }
}

.showhome--series-title-ttt, .showhome--series-title-ttt a {

}

.smallvideo--title-container-ttt, .smallvideo-ttt {

}
