$udacityColor: #607D8B;

.showtitle--title-container-udacity {
  background-color: $udacityColor;
  color: white;
  margin-bottom: 2em;
}

.showtitle--title-udacity {
  font-weight: 500;
}

.showtitle--subtitle-udacity {
  @include type--medium;

  padding-top: 0;
  color: inherit;
}

@include wide {
  .showtitle--subtitle-udacity {
    padding-top: 0;

    color: inherit;
  }
}

.showhome--series-title-udacity, .showhome--series-title-udacity a {

}

.smallvideo--title-container-udacity, .smallvideo-udacity {
  background-color: $udacityColor;
}

.show-udacity a.cta--primary {
  display: block;
  width: 100%;
  padding: 1em;
  background-color: $udacityColor;
  color:white;
}

.show-udacity a.cta--primary:hover {
  color: white;
}
