body {
  font-family: Roboto, Arial;
  color: #666;
}

h1 {
  color: #333;
}

<!-- // [START mqreading] -->
@media (min-width: 575px) {
  article {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
<!-- // [END mqreading] -->
