/**
*
* Main Stylesheet
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(//themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nMrfajfqx5pse9BUPMmpr-I.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(//themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsNxB8OB85xaNTJvVSB9YUjQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(//themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nPZRQUbYfRc-1FWT9T9EE8M.woff) format('woff');
}

// We'll need Roboto after MD redesign, and for showcase/tools section.
@import url('//fonts.googleapis.com/css?family=Roboto:400,300,500');

@import "_utils";
@import "_normalize";
@import "_global";

// Syntax highlihter - Leave it here so can be easily overridden
@import "_syntax";

// Icons - Leave it here to otherfiles can extend if needed
@import "_components/_typography";
@import "_components/_icons";

// Modules
@import "_modules/_main-navigation";
@import "_modules/_main-header";
@import "_modules/_main-footer";
@import "_modules/_highlight";
@import "_modules/_editorial-header";
@import "_modules/_summary-header";
@import "_modules/_spotlight-header";
@import "_modules/_spotlight-wrapper";
@import "_modules/_related-items";
@import "_modules/_in-this-guide";
@import "_modules/_articles-section";
@import "_modules/_guides-section";
@import "_modules/_page-header";
@import "_modules/_featured-section";
@import "_modules/_featured-spotlight";
@import "_modules/_quote";
@import "_modules/_article-nav";
@import "_modules/_home-header";
@import "_modules/_wsk-header";
@import "_modules/_psk-header";
@import "_modules/_did-you-know";
@import "_modules/_toc";
@import "_modules/_next-lessons";
@import "_modules/_guides";
@import "_modules/_beta";
@import "_modules/_cc";
@import "_modules/_google-header";
@import "_modules/_latest-spotlights";
@import "_modules/_case-study-wrapper";
@import "_modules/_our-view";
@import "_modules/_back-to-top";
@import "_modules/_blanklist";

// Sass for Shows
@import "_modules/shows/_small-video";
@import "_modules/shows/_flat-row-list";
@import "_modules/shows/_videolinks";
@import "_modules/shows/_widevideo";
@import "_modules/shows/_show-title";
@import "_modules/shows/_feedlink";
@import "_pages/shows/_show-home";
@import "_pages/shows/_shows-root";
@import "_pages/shows/_single-video";
@import "_pages/shows/_http203";
@import "_pages/shows/_polycasts";
@import "_pages/shows/_cds";
@import "_pages/shows/_udacity";
@import "_pages/shows/_lazyweb";
@import "_pages/shows/_ttt";

// Components
@import "_components/_grid";
@import "_components/_button";
@import "_components/_list";
@import "_components/_link";
@import "_components/_table";
@import "_components/_udacity";
@import "_components/_media";
@import "_components/_breadcrumb";
@import "_components/_subsection-title";
@import "_components/_icon-circle";


@import "_themed";

// Pages
@import "_pages/_styleguide";
@import "_pages/_resources";
@import "_pages/_spotlight";
@import "_pages/_case-study";
@import "_pages/_tools";
@import "_pages/_tools-mdl";
@import "_pages/_updates";

// Make sure this is last to override anything else :)
@import "_helper";
