/*
Syntax error: Undefined variable: "$icon-guides".
        on line 53 of /Users/paulkinlan/webcentral/src/site/_sass/_modules/_guides.scss, in `@content'
        from line 136 of /Users/paulkinlan/webcentral/src/site/_sass/_utils.scss, in `@content'
        from line 118 of /Users/paulkinlan/webcentral/src/site/_sass/_utils.scss, in `media-query'
        from line 136 of /Users/paulkinlan/webcentral/src/site/_sass/_utils.scss, in `medium'
        from line 52 of /Users/paulkinlan/webcentral/src/site/_sass/_modules/_guides.scss
        from line 64 of /Users/paulkinlan/webcentral/src/site/_sass/styles.scss

Backtrace:
/Users/paulkinlan/webcentral/src/site/_sass/_modules/_guides.scss:53:in `@content'
/Users/paulkinlan/webcentral/src/site/_sass/_utils.scss:136:in `@content'
/Users/paulkinlan/webcentral/src/site/_sass/_utils.scss:118:in `media-query'
/Users/paulkinlan/webcentral/src/site/_sass/_utils.scss:136:in `medium'
/Users/paulkinlan/webcentral/src/site/_sass/_modules/_guides.scss:52
/Users/paulkinlan/webcentral/src/site/_sass/styles.scss:64
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `block (2 levels) in visit_content'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `block in visit_content'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `visit_content'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `block (2 levels) in visit_content'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `block in visit_content'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:285:in `visit_content'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:362:in `visit_media'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:205:in `visit_if'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `block (3 levels) in visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `block (2 levels) in visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:268:in `block in visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:70:in `perform_arguments'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:263:in `visit_mixin'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/commands/update_project.rb:45:in `perform'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/bin/compass:23:in `load'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/bin/compass:23:in `<main>'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/bin/ruby_executable_hooks:15:in `eval'
/Users/paulkinlan/.rvm/gems/ruby-2.0.0-p451/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$icon-guides\".\A         on line 53 of /Users/paulkinlan/webcentral/src/site/_sass/_modules/_guides.scss, in `@content'\A         from line 136 of /Users/paulkinlan/webcentral/src/site/_sass/_utils.scss, in `@content'\A         from line 118 of /Users/paulkinlan/webcentral/src/site/_sass/_utils.scss, in `media-query'\A         from line 136 of /Users/paulkinlan/webcentral/src/site/_sass/_utils.scss, in `medium'\A         from line 52 of /Users/paulkinlan/webcentral/src/site/_sass/_modules/_guides.scss\A         from line 64 of /Users/paulkinlan/webcentral/src/site/_sass/styles.scss"; }
