/**
*
* Media - imgs/videos
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

// clear floats for media
.media {
  overflow: hidden;
}

img,
video,
object {
  width: 100%;
  display: block; // remove the default inline-block 4px gap
  margin-top: $lineHeight;
  margin-bottom: $lineHeight;

  @include medium {
    width: auto;
    max-width: 100%;
  }
}

figure,
img,
.media--video {

  // Remove padding-top from p's immediately after these elements
  & + p {
    padding-top: 0;
  }

  // In _typography.scss we set every h3 in .container to have extra top spacing
  // but if the h3 is immediately after these elements, we want to undo this
  .content & + h3 {
    margin-top: 0;
    padding-top: 0;
  }
}

figure {
  display: block;

  // this is used to give it a "full bleed" look on mobile
  margin-left: -$containerBleed;
  margin-right: -$containerBleed;

  @include medium {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }

  &.contained {
    margin-left: 0;
    margin-right: 0;
  }
}


figcaption {
  color: $colorGrayDark;
  font-family: $fontHighlight;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-top: 1px solid $colorGrayKeyline;
  margin-bottom: ($lineHeight * 2)- 1;

  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  clear: both;

  @include medium {
    padding-left: 0;
    padding-right: 0;
  }
}

.media--video {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 63.1%;
  margin-top: $lineHeight;
  margin-bottom: $lineHeight;

  // this is used to give it a "full bleed" look on mobile
  margin-left: -$containerBleed;
  margin-right: -$containerBleed;

  @include medium {
    padding-top: 54.2%;
    margin-left: 0;
    margin-right: 0;
  }

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// This class needs to be used whenever the content
// starts a new subsection - needs more space to
// differenciate from previous subsection
.media-subsection {
  padding-top: $lineHeight;
}

// This class forces the element to be fluid (100% width)
.fluid {
  &,
  & img {
    min-width: 100%;
    width: 100%;
  }
}
