{% include page-structure/author.liquid linkauthor=true %}
{% include page-structure/translator.liquid linkauthor=true %}

<div class="wf-license-translation page-content">
<p class="wf-cc-license">{{"creative_commons" | localize_string}}</p>
{% include page-structure/translations.liquid %}
</div>
