/* Make it possible to center Bootstrap navbar */
.nav-pills > li {
    display: inline-block;
    float: none;
}
input[type="file"] {
    /* Bootstrap sets this to block which prevents centering */
    display: initial;
}
body {
    background-color:black;
    color:white;
}
div {
    background-color:black;
}
select {
    background-color:#606060;
}
h3 {
    text-align: center;
}
.warnBox {
    text-align: left;
    display: none;
}

.panel {
    text-align: left;
}

pre {
    word-wrap: initial;
}

.container-fluid > div {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.unbounded-elem {
    max-width: none !important;
    margin-left: initial !important;
    margin-right: initial !important;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}