#elems {
    position: relative;
    display: inline-block;
}

#leftVidDiv, #leftImgDiv {
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index: 1;
}

#rightVidDiv, #rightImgDiv {
    z-index: 0;
}

/* When the slider is selected with Gecko, a focus ring that cannot be removed
   appears in the middle of the videos, see
   https://bugzilla.mozilla.org/show_bug.cgi?id=932410 */
#splitSlider {
    -webkit-appearance: none;
    z-index: 2;
    position: absolute;
    height: 0px;
    left: 0px;
}

#splitSlider::-webkit-slider-thumb {
     -webkit-appearance: none;
    background: red;
    opacity: 0.5;
    width: 10px;
}

#splitSlider::-moz-range-thumb {
    -moz-appearance: none;
    background: red;
    opacity: 0.5;
    width: 10px;
}

#splitSlider::-moz-range-track {
    -moz-appearance: none;
    opacity: 0;
}
