<div class="wf-section-toc clear">
  <div class="wf-section-toc__content-container clear">
    <h3 class="wf-section-toc__title">{{"topics" | localize_string}}</h3>
    <ol class="wf-section-toc__list">
    {% for pageInSection in page.context.pages %}
      <li class="wf-section-toc__list-item">
        <p class="wf-section-toc__guide-title">
          <a href="{{pageInSection.canonical_url}}">
            {{pageInSection.title}}
          </a>
        </p>
      </li>
    {% endfor %}
    </ol>
  </div>
</div>
