{% include page-structure/open-page.liquid %}

{% include page-structure/site-promo-small.liquid %}

<div class="page-content">
  {{ content }}


  {% include shows/podcasts-in-season.liquid %}

  {% include shows/podcast-subscribe.liquid %}
</div>

{% include page-structure/close-page.liquid %}
