{% include page-structure/open-page.liquid %}

{{ content }}

<!-- Loop through each sub directory and generate some navigation -->
{% for subdirectory in page.context.subdirectories %}
  <h2>{{subdirectory.index.title}}</h2>
  <!-- To view the format of the date, uncomment the following line -->
  <p><a href="{{subdirectory.index.relative_url}}">View content here</a></p>
{% endfor %}

{% include page-structure/close-page.liquid %}
