<div class="wf-shows-subscribe">
  <h3 class="wf-shows-subscribe__title">Keep Up to Date</h3>

  <div class="wf-shows-subscribe__btn-container">
    <div class="wf-shows-subscribe__yt-btn mdl-button mdl-js-button">
      <div class="wf-shows-subscribe__icon">
        {% include svgs/youtube.svg %}
      </div>
      <a href="https://www.youtube.com/user/chromedevelopers?sub_confirmation=1" target="_blank">Subscribe to Our Channel</a>
    </div>

    <div class="wf-shows-subscribe__feed-btn mdl-button mdl-js-button">
      <div class="wf-shows-subscribe__icon">
        {% include svgs/rss-icon.svg %}
      </div>
      <a href="{{site.WFBaseUrl}}/shows/rss.xml" target="_blank">Follow our Shows Feed</a>
    </div>

    {% if page.rss_feed_url %}
    <div class="wf-shows-subscribe__feed-btn mdl-button mdl-js-button">
      <div class="wf-shows-subscribe__icon">
        {% include svgs/rss-icon.svg %}
      </div>
      <a href="{{page.rss_feed_url}}" target="_blank">Follow the {{page.feed_name}} Feed</a>
    </div>
    {% endif %}
  </div>
</div>
