<a class="smallvideo--link" href="{{include.videoPage.relative_url}}">
  <div class="smallvideo">
    <div class="smallvideo--imagecontainer">
      <img class="smallvideo--image" src="https://img.youtube.com/vi/{{ include.videoPage.youtubeID }}/mqdefault.jpg" />
    </div>
    <div class="smallvideo--title-container">
      <p class="smallvideo--title">{{ include.videoPage.title }}</p>
    </div>
  </div>
</a>
