/**
*
* Styleguide
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.page--styleguide {

  .styleguide__module-title {
    margin-bottom: $lineHeight;
  }

  section {
    margin-bottom: $lineHeight*2;
    border-bottom: 1px solid #ccc;
    padding-bottom: $lineHeight*3 - 1;

  }

}
