<div class="container clear">
	<div id="gc-content-license" class="gc-content-license">
		{% include components/update_time.liquid %}
		{% include components/contributors.liquid %}
		<p>{{"creative_commons" | localize_string}}</p>
	</div>
</div>
