/**
*
* global
*
**/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Open Sans";
}

