/**
*
* Global
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  font-family: $fontDefault;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
  // line-height: leading($fontBase);



  @include gridBaseline();
}



.main-header {
  display: none;
}
