/**
*
* Grid
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

$mediumColCount: 3;
$mediumColWidth: 18%;
$mediumGutterWidth: 2%;

$largeColCount: 4;
$largeColWidth: 22.2%;
$largeGutterWidth: 3.7%;


.clear {
  overflow: hidden;
  margin-bottom: $lineHeight;
}

.col {
  width: $largeColWidth;
  margin-right: $largeGutterWidth;
  float: left;
  background: rgba(blue, .4);
  height: $lineHeight*4;
}

.last {
  margin-right: 0;
}


// Generating grid classes for medium view
@for $i from 1 through $mediumColCount {
  .medium-#{$i} {
    width: ($mediumColWidth*$i) + ($mediumGutterWidth*($i + -1));
    @if $i == $mediumColCount { margin-right: 0; }
  }
}


// Generating grid classes for large view
@for $i from 1 through $largeColCount {
  .large-#{$i} {
    width: ($largeColWidth*$i) + ($largeGutterWidth*($i + -1));
    @if $i == $largeColCount { margin-right: 0; }
  }
}


// Flush....
.flush-1 {
  margin-left: $largeColWidth + $largeGutterWidth;
}

.flush-2 {
  margin-left: ($largeColWidth*2) + ($largeGutterWidth*2);
}

.flush-3 {
  margin-left: ($largeColWidth*3) + ($largeGutterWidth*3);
}





