/**
*
* Helper
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/


.clear {
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}


// .debug {
//     * { background-color: rgba(255,0,0,0.2); }
//     * * { background-color: rgba(0,255,0,0.2); }
//     * * * { background-color: rgba(0,0,255,0.2); }
//     * * * * { background-color: rgba(255,0,255,0.2); }
//     * * * * * { background-color: rgba(0,255,255,0.2); }
//     * * * * * * { background-color: rgba(255,255,0,0.2); }
// }
