/**
*
* Main Navigation
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

// .main-nav__list--child {
//   display: none;
// }

.main-nav {
  background: #ffffff;
  @include medium {
    background-color: $colorGrayDark;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  overflow: hidden;

  @include medium {
    text-align: center;
  }
}

.main-nav__item {
  list-style: none;
  display: block;

  @include small-only {
    &:first-child {
      display: none;
    }
  }

  @include medium {
    display: inline-block;
  }

  // Remove the margin-top apart from first-child
  &:first-child ~ .main-nav__item {
    padding-top: 0;
  }
}

.main-nav__link {
  display: block;
  color: $colorGrayDark;
  font-family: $fontHighlight;
  @include type--large;
  @include container;
  padding-top: $lineHeight/2;
  padding-bottom: $lineHeight/2;

  .main-nav__list > li:first-child + li & {
    background-color: $colorGray;
  }

  @include medium {
    padding-bottom: $lineHeight;
  }
}

.main-nav__list--child {
  padding-top: 0;
}

.main-nav__item--child {
  padding-top: 0;
}
