/**
*
* Main Header
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.main-header {
  background: $colorGrayDark;
  color: #ffffff;
}

.main-header__title {
  @include type--base;
  @include container;
  padding-top: $lineHeight/2;
  padding-bottom: $lineHeight/2;

  @include medium {
    display: none;
  }
}

.main-header__logo {
  color: #ffffff;
}
