/**
*
* Themed styles
*
* Google Web Fundamentals
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.themed {

  .theme--multi-device-layouts & {
    color: $colorLayouts;

    &.divider-icon:before {
      color: $colorLayouts;
    }

    &.divider-icon:after {
      color: $colorLayoutsSecondary;
    }
  }

  .theme--device-access & {
    color: $colorDevice;

    &.divider-icon:before {
      color: $colorDevice;
    }

    &.divider-icon:after {
      color: $colorDeviceSecondary;
    }
  }

  .theme--introduction-to-media & {
    color: $colorMedia;

    &.divider-icon:before {
      color: $colorMedia;
    }

    &.divider-icon:after {
      color: $colorMediaSecondary;
    }
  }

  .theme--monetization & {
    color: $colorMonetization;

    &.divider-icon:before {
      color: $colorMonetization;
    }

    &.divider-icon:after {
      color: $colorMonetizationSecondary;
    }
  }

  .theme--tools & {
    color: $colorTools;

    &.divider-icon:before {
      color: $colorTools;
    }

    &.divider-icon:after {
      color: $colorToolsSecondary;
    }
  }

  .theme--user-input & {
    color: $colorUser;

    &.divider-icon:before {
      color: $colorUser;
    }

    &.divider-icon:after {
      color: $colorUserSecondary;
    }
  }

  .theme--performance & {
    color: $colorPerformance;

    &.divider-icon:before {
      color: $colorPerformance;
    }

    &.divider-icon:after {
      color: $colorPerformanceSecondary;
    }
  }

}

.themed--background {

  .theme--multi-device-layouts &,
  .theme--multi-device-layouts &.next-lessons:before { background-color: $colorLayouts; }

  .theme--device-access &,
  .theme--device-access &.next-lessons:before { background-color: $colorDevice; }

  .theme--introduction-to-media &,
  .theme--introduction-to-media &.next-lessons:before { background-color: $colorMedia; }

  .theme--monetization &,
  .theme--monetization &.next-lessons:before { background-color: $colorMonetization; }

  .theme--user-input &,
  .theme--user-input &.next-lessons:before { background-color: $colorUser; }

  .theme--tools &,
  .theme--tools &.next-lessons:before { background-color: $colorTools; }

  .theme--performance &,
  .theme--performance &.next-lessons:before { background-color: $colorPerformance; }

}

.themed--background-secondary {

  .theme--multi-device-layouts &,
  .theme--multi-device-layouts &.next-lessons:before { background-color: $colorLayoutsSecondary; }

  .theme--device-access &,
  .theme--device-access &.next-lessons:before { background-color: $colorDeviceSecondary; }

  .theme--introduction-to-media &,
  .theme--introduction-to-media &.next-lessons:before { background-color: $colorMediaSecondary; }

  .theme--monetization &,
  .theme--monetization &.next-lessons:before { background-color: $colorMonetizationSecondary; }

  .theme--user-input &,
  .theme--user-input &.next-lessons:before { background-color: $colorUserSecondary; }

  .theme--tools &,
  .theme--tools &.next-lessons:before { background-color: $colorToolsSecondary; }

  .theme--performance &,
  .theme--performance &.next-lessons:before { background-color: $colorPerformanceSecondary; }

}

.themed--hover {

  .theme--multi-device-layouts &:hover { color: $colorLayouts; }

  .theme--device-access &:hover { color: $colorDevice; }

  .theme--introduction-to-media &:hover { color: $colorMedia; }

  .theme--monetization &:hover { color: $colorMonetization; }

  .theme--user-input &:hover { color: $colorUser; }

  .theme--tools &:hover { color: $colorTools; }

  .theme--performance &:hover { color: $colorPerformance; }

}

.themed--hover-secondary {

  .theme--multi-device-layouts &:hover { color: $colorLayoutsSecondary; }

  .theme--device-access &:hover { color: $colorDeviceSecondary; }

  .theme--introduction-to-media &:hover { color: $colorMediaSecondary; }

  .theme--monetization &:hover { color: $colorMonetizationSecondary; }

  .theme--tools &:hover { color: $colorToolsSecondary; }

  .theme--user-input &:hover { color: $colorUserSecondary; }

  .theme--performance &:hover { color: $colorPerformanceSecondary; }

}


// Wrapped content in .article-container so we can
// encapsulate what needs to be themed without overriding
// anything outside of this container.
.article-container h1,
.article-container h2 {

  .article--multi-device-layouts & { color: $colorLayouts; }

  .article--device-access & { color: $colorDevice; }

  .article--introduction-to-media & { color: $colorMedia; }

  .article--monetization & { color: $colorMonetization; }

  .article--tools & { color: $colorTools; }

  .article--user-input & { color: $colorUser; }

  .article--performance & { color: $colorPerformance; }
}


// Let's make sure this is at the end so we can override
// previous rules. Specicifity rules.
.themed--hover {

  .nav-theme--multi-device-layouts &:hover { color: $colorLayouts; }

  .nav-theme--device-access &:hover { color: $colorDevice; }

  .nav-theme--introduction-to-media &:hover { color: $colorMedia; }

  .nav-theme--monetization &:hover { color: $colorMonetization; }

  .nav-theme--tools &:hover { color: $colorTools; }

  .nav-theme--user-input &:hover { color: $colorUser; }

  .nav-theme--performance &:hover { color: $colorPerformance; }

}

.themed {

  .nav-theme--multi-device-layouts & { color: $colorLayouts; }

  .nav-theme--device-access & { color: $colorDevice; }

  .nav-theme--introduction-to-media & { color: $colorMedia; }

  .nav-theme--monetization & { color: $colorMonetization; }

  .nav-theme--tools & { color: $colorTools; }

  .nav-theme--user-input & { color: $colorUser; }

  .nav-theme--performance & { color: $colorPerformance; }

}

.themed--background {

  .nav-theme--multi-device-layouts & { background-color: $colorLayouts; }

  .nav-theme--device-access & { background-color: $colorDevice; }

  .nav-theme--introduction-to-media & { background-color: $colorMedia; }

  .nav-theme--monetization & { background-color: $colorMonetization; }

  .nav-theme--tools & { background-color: $colorTools; }

  .nav-theme--user-input & { background-color: $colorUser; }

  .nav-theme--performance & { background-color: $colorPerformance; }

}

.themed--background-secondary {

  .nav-theme--multi-device-layouts & { background-color: $colorLayoutsSecondary; }

  .nav-theme--device-access & { background-color: $colorDeviceSecondary; }

  .nav-theme--introduction-to-media & { background-color: $colorMediaSecondary; }

  .nav-theme--monetization & { background-color: $colorMonetizationSecondary; }

  .nav-theme--tools & { background-color: $colorToolsSecondary; }

  .nav-theme--user-input & { background-color: $colorUserSecondary; }

  .nav-theme--performance & { background-color: $colorPerformanceSecondary; }

}

