/**
*
* Themed styles
*
* Google Web Essentials
*
* R/GA 2014
* @author Pedro Duarte
* @author Antoine Grelard
*
**/

.themed {

  .theme--multi-device-layouts & { color: $colorLayouts; }

  .theme--introduction-to-media & { color: $colorMedia; }

  .theme--user-input & { color: $colorUser; }

  .theme--performance & { color: $colorPerformance; }

}


// Wrapped content in .article-container so we can
// encapsulate what needs to be themed without overriding
// anything outside of this container.
.article-container h1,
.article-container h2 {

  .article--multi-device-layouts & { color: $colorLayouts; }

  .article--introduction-to-media & { color: $colorMedia; }

  .article--user-input & { color: $colorUser; }

  .article--performance & { color: $colorPerformance; }
}


// Let's make sure this is at the end so we can override
// previous rules. Specicifity rules.
.themed {

  .nav-theme--multi-device-layouts & { color: $colorLayouts; }

  .nav-theme--introduction-to-media & { color: $colorMedia; }

  .nav-theme--user-input & { color: $colorUser; }

  .nav-theme--performance & { color: $colorPerformance; }

}

.themed--background {

 .theme--multi-device-layouts & { background-color: $colorLayouts; }

 .theme--introduction-to-media & { background-color: $colorMedia; }

 .theme--user-input & { background-color: $colorUser; }

 .theme--performance & { background-color: $colorPerformance; }

}
