{% include page-structure/open-page.liquid %}

<div class="page-content">

{{ content }}

<!-- Close MDL content -->
</div>

{% include shared/article-nav.liquid %}

{% include page-structure/close-page.liquid %}
