{% include page-structure/open-page.liquid %}

<div class="page-content">

{% include shared/translations.liquid %}

{{ content }}

</div>

{% include shared/license.liquid %}

{% include shared/article-nav.liquid %}

{% include page-structure/close-page.liquid%}
