{% include page-structure/open-page.liquid %}

<div class="page-content">

{% include shared/translations.liquid %}

{{ content }}

{% include fundamentals/section_toc.liquid %}

</div>

{% include shared/license.liquid %}

{% include page-structure/close-page.liquid%}
