<!DOCTYPE html><html><head><meta charset="utf-8"><style>html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body{
  color:#444;
  font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman',
              "Hiragino Sans GB", "STXihei", "微软雅黑", serif;
  font-size:12px;
  line-height:1.5em;
  background:#fefefe;
  width: 45em;
  margin: 10px auto;
  padding: 1em;
  outline: 1300px solid #FAFAFA;
}

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

span.backtick {
  border:1px solid #EAEAEA;
  border-radius:3px;
  background:#F8F8F8;
  padding:0 3px 0 3px;
}

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

p{
margin:1em 0;
}

img{
max-width:100%;
}

h1,h2,h3,h4,h5,h6{
font-weight:normal;
color:#111;
line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

blockquote{
color:#666666;
margin:0;
padding-left: 3em;
border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }


pre , code, kbd, samp { 
  color: #000; 
  font-family: monospace; 
  font-size: 0.88em; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px 12px;}
pre code { border: 0px !important; padding: 0;}
code { padding: 0 3px 0 3px; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

@media only screen and (min-width: 480px) {
body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
body{font-size:16px;}
}

@media print {
  * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important; }
  body{font-size:12pt; max-width:100%; outline:none;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
</style><title>index</title></head><body><hr />
<p>layout: article
title: "Video"
description: "People like videos: videos can be fun and informative; users can also consume
information on the go easier than having to read small fonts and scroll down a
page on a mobile device. Read more to find the simplest way to add video to your site and ensure users
get the best possible experience on any device."
introduction: "People like videos: videos can be fun and informative; users can also consume information on the go easier than having to read small fonts and scroll down a page on a mobile device."
article:
  written_on: 2014-04-16
  updated_on: 2014-04-23
  order: 2
collection: introduction-to-media
key-takeaways:
  add-a-video:
    - Use the video element to load, code, and play video in your site.
    - "Don't load the whole video if unnecessary: specify a start and end time."
    - Include a poster image so the user sees something meaningful right away.
    - Specify multiple file formats since not all browsers support the same format.
    - "Improve network performance: specify each file source's type."
  provide-alternatives:
    - Check which formats are supported.
    - Produce video in multiple formats to cover a range of mobile platforms.
    - Check which format was used.
  size-videos-correctly:
    - Avoid serving video that is too long, too large in frame size, or unnecessarily high in quality.
    - "Check video size: frame size may be different from element size."
    - Ensure videos don't overflow their containers.
  customize:
    - Mobile solutions need to consider device orientation.
    - Different platforms display video different.
    - Use Fullscreen API to control fullscreening of content.
  improve-accessibility:
    - Focus on the user: accessibility matters.
    - Add track element as a child of the video element.
    - Define captions in track file.
  handle-poor-connectivity:
    - Enable adaptive streaming to cope with variable network conditions.
    - Use the Media Source Extensions API to construct video streams.
    - Use DASH to enable high quality streaming on the web.
remember:
  specify-a-start-time:
    - The Media Fragments API is supported on most platforms, but not on iOS.
  range-request:
    - Make sure Range Requests are supported by your server. Range Requests are enabled by
      default on most servers, but some hosting services may turn them off.
  multiple-formats:
    - MP4 and WebM are <a href="https://en.wikipedia.org/wiki/Container_formats">container formats</a>. MP4 stores audio using AAC compression and video using H.264; WebM uses VP9 and Opus.
      Check out <a href="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/A%20Digital%20Media%20Primer%20for%20Geeks">http://www.xiph.org/video/vid1.shtml</a> to find out more about how video and audio work on the web.
  dont-overflow:
    - Don't force element sizing that results in an aspect ratio different from the original
      video. Squashed or stretched looks bad.
  compare-formats:
    - Compare the responsive sample: <a href="http://simpl/yt">simpl/yt</a> to the unresponsive sample: <a href="http://simpl/unyt">simpl/unyt</a>.
  accessibility-matters:
    - The track element is <a href="http://caniuse.com/track">supported on Chrome for Android, iOS Safari, and all current browsers on desktop (except Firefox)</a>. There are several polyfills available too. We recommend <a href="http://www.delphiki.com/html5/playr/">Playr</a> or <a href="http://captionatorjs.com/">Captionator</a>.
  construct-video-streams:
    - MSE is supported by Chrome and Opera on Android, and in Internet Explorer 11 and Chrome for desktop, with <a href="https://wiki.mozilla.org/Platform/MediaSourceExtensions">support planned for Firefox</a>.</p>
<hr />
<p>{% wrap content%}</p>
<p>But videos take bandwidth, they don't always work the same across every platform, so any value the user might get from watching video diminishes when the user has to wait for the video to load, or the user presses play and nothing happens.</p>
<p>Read more to find the simplest way to add video to your site and ensure users get the best possible experience on any device.</p>
<h2 id="add-a-video">Add a video</h2>
<p>{% include modules/takeaway.liquid title="Key Takeaway" list=page.key-takeaways.add-a-video %}</p>
<h3 id="add-the-video-element">Add the video element</h3>
<p>Load, decode, and play video:</p>
<p>{% include_code _code/basic.html basic %}</p>
<h3 id="specify-a-start-and-end-time">Specify a start and end time</h3>
<p>Save bandwidth and make your site feel more responsive: use the Media Fragments API to add a start and end time to the video element:</p>
<p>{% include_code _code/base_fragment.html basic %}</p>
<p>{% include modules/remember.liquid title="Remember" list=page.remember.specify-a-start-time %}</p>
<p>You can also use the Media Fragments API to deliver multiple views on the same video -- like cue points in a DVD -- without having to encode and serve multiple files:</p>
<p>{% include modules/remember.liquid title="Remember" list=page.remember.range-request %}</p>
<p>To check for Range Request support, your browser tools for <code>Accept-Ranges: bytes</code> in the response headers:</p>
<p><img alt="Chrome Dev Tools screenshot: Accept-Ranges: bytes" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/Accept-Ranges-Chrome-Dev-Tools.png" /></p>
<h3 id="include-a-poster-image">Include a poster image</h3>
<p>Add a poster attribute to the video element so that your users have an idea of the content as soon as the element loads, without needing to download video or start playback:</p>
<p>{% include_code _code/base_poster.html basic %}</p>
<p>A poster can also be a fallback if the video <code>src</code> is broken or none of the video formats supplied are supported. The only downside to poster images is an additional file request, which consumes some bandwidth and requires rendering. For more information see <a href="https://docs.google.com/a/google.com/document/d/1EdBtvM_OIdmZlPhtOq_oLuQ4nGEq1dycOsN8A-KtExY/edit#heading=h.satr4xiyp2fp">Image optimization</a>.</p>
<p>Here's a side-by-side comparison of videos without and with a poster image -- we've made the poster image grayscale to prove it's not the video!</p>
<p>[SCREENSHOT]</p>
<h3 id="specify-multiple-file-formats">Specify multiple file formats</h3>
<p>Not all browsers support the same video formats.</p>
<p>Use the source element to enable browsers to choose from multiple available formats. MP4 and WebM cover all modern browsers, including all mobile browsers:</p>
<p>{% include_code _code/fragment.html sourcetypes %}</p>
<p>The user's browser selects the first available format it can play. This approach has several advantages over serving different HTML or server-side scripting, especially on mobile:</p>
<ul>
<li>Developers can list formats in order of preference.</li>
<li>Native client-side switching reduces latency: only one request is made to get content.</li>
<li>Letting the browser choose a format is simpler, quicker and potentially more reliable than using a server-side support database with user-agent detection.</li>
</ul>
<p>All of these points are especially potent in mobile contexts, where bandwidth and latency are at a premium, and the user's patience is likely to be limited.</p>
<p>{% include modules/remember.liquid title="Remember" list=page.remember.multiple-formats %}</p>
<h3 id="specify-each-sources-type">Specify each source's type</h3>
<p>Adding a type attribute to a source element enables the browser to select a video source without having to download part of the video to 'sniff' the format.</p>
<p>Instead of this:</p>
<pre><code>`&lt;source src="video/chrome.webm" /&gt;`
</code></pre>
<p>Use this:</p>
<pre><code>`&lt;source src="video/chrome.webm" type="video/webm" /&gt;`
</code></pre>
<p>You can specify codecs as well as a mime type. For example:</p>
<pre><code>`&lt;source src="video/chrome.webm" type="video/webm; codecs="vp8, vorbis" /&gt;`.
</code></pre>
<p>Not including a type attribute can affect performance when there are multiple sources with unsupported types: using your mobile browser developer tools, compare network activity for <a href="http://simpl.info/video/">simpl.info/video</a> and <a href="http://simpl.info/video/notype/">simpl.info/video/notype</a>.</p>
<p><strong>Remember:</strong> <a href="https://developer.mozilla.org/en/docs/Properly_Configuring_Server_MIME_Types">Ensure your server reports the right MIME type</a>; otherwise video source type checks won't work. You can check with <a href="https://en.wikipedia.org/wiki/CURL">cURL</a>:</p>
<pre><code>`curl -I simpl.info/video/video/chrome.mp4`
</code></pre>
<p>This should return a response that includes a header like this:</p>
<pre><code>`Content-Type: video/mp4`
</code></pre>
<h2 id="provide-alternatives-for-legacy-platforms">Provide alternatives for legacy platforms</h2>
<p>{% include modules/takeaway.liquid title="Key takeaway" list=page.key-takeaways.provide-alternatives %}</p>
<h3 id="check-which-formats-are-supported">Check which formats are supported</h3>
<p>Use <a href="https://simpl.info/canplaytype/">canPlayType()</a> to find out which video formats are supported. The method takes a string argument consistent of a mime type and optional codecs and returns one of the following values:</p>
<ul>
<li><em>empty string</em>: the container and/or codec isn't supported.</li>
<li><em>"maybe"</em>: the container and codec(s) might be supported, but the browser will need to download some video to check.</li>
<li><em>"probably"</em>: the format appears to be supported.</li>
</ul>
<p>Here are some examples of <code>canPlayType()</code> arguments and return values when run in Chrome:</p>
<p><strong>video/xyz:</strong> ""
<strong>video/xyz; codecs="avc1.42E01E, mp4a.40.2":</strong> ""
<strong>video/xyz; codecs="nonsense, noise":</strong> ""
<strong>video/mp4; codecs="avc1.42E01E, mp4a.40.2":</strong> "probably"
<strong>video/webm:</strong> "maybe"
<strong>video/webm; codecs="vp8, vorbis":</strong> "probably"</p>
<h3 id="produce-video-in-multiple-formats">Produce video in multiple formats</h3>
<p>There are lots of tools to help save the same video in different formats:</p>
<ul>
<li>Desktop tools: <a href="http://ffmpeg.org/">FFmpeg</a></li>
<li>GUI applications: <a href="http://www.mirovideoconverter.com/">Miro</a>, <a href="http://handbrake.fr/">HandBrake</a>, <a href="http://www.videolan.org/">VLC</a></li>
<li>Online encoding/transcoding services: <a href="http://en.wikipedia.org/wiki/Zencoder">Zencoder</a>, <a href="http://aws.amazon.com/elastictranscoder/">Amazon Elastic Encoder</a></li>
</ul>
<h3 id="check-which-format-was-used">Check which format was used</h3>
<p>Want to know which video format was actually chosen by the browser?</p>
<p>In JavaScript, use the video's <code>currentSrc</code> property to return the source used:</p>
<p>{% include_code _code/basic.html currentsrc javascript %}</p>
<p>Given the source example above, Chrome and Firefox choose <code>chrome.webm</code> (because that's the first in the list of potential sources these browsers support) whereas Safari chooses <code>chrome.mp4</code>.</p>
<h2 id="size-videos-correctly">Size videos correctly</h2>
<p>{% include modules/takeaway.liquid title="Key Takeaway" list=page.key-takeaways.size-videos-correctly %}</p>
<h3 id="size-matters">Size matters</h3>
<p>When it comes to keeping your users happy, size matters:</p>
<ul>
<li>Don't serve videos with a larger frame size or higher quality than the platform can handle.</li>
<li>Don't make your videos any longer than they need be.</li>
<li>Long videos can cause hiccups with download and seeking; some browsers may have to wait until the video downloads before beginning playback.</li>
</ul>
<p>Try this example on your mobile browser and see what happens: <a href="http://simpl.info/longvideo">simpl.info/longvideo</a>.</p>
<h3 id="check-video-size">Check video size</h3>
<p>The actual video frame size as encoded may be different from the video element dimensions (just as an image may not be displayed using its actual dimensions). For example, resizing the page <a href="http://simpl.info/video">simpl.info/video</a> changes the size of the video element but the video's frame size is always 480x270px.</p>
<p>To check the encoded size of a video, use the video element <code>videoWidth</code> and <code>videoHeight</code> properties. <code>width</code> and <code>height</code> return the dimensions of the video element, which may have been sized using CSS or inline width and height attributes.</p>
<h3 id="ensure-videos-dont-overflow-containers">Ensure videos don't overflow containers</h3>
<p>Here's what a plain video element with no element sizing or CSS looks like in Chrome on Android (portrait and landscape):</p>
<p><img alt="Android Chrome screenshot, portrait: unstyled video element overflows viewport" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/Chrome-Android-portrait-video-unstyled.png" /></p>
<p><img alt="Android Chrome screenshot, landscape: unstyled video element overflows viewport" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/Chrome-Android-landscape-video-unstyled.png" /></p>
<p>The video elements are too big for the viewport; the user can't even see the video controls properly. It's super important to size video elements to fit their containers.</p>
<p>You can control video dimensions using JavaScript or CSS. JavaScript libraries such as Fit FitVids jQuery plugin make it possible to maintain appropriate size and aspect ratio, even for Flash videos from YouTube and other sources.</p>
<p>Use <a href="https://docs.google.com/a/google.com/document/d/1sI9PrGi082PUPXe9ACcAdvxPdinGyWAINWSjfUpYJ2Q/edit#heading=h.rhwcxf4xgfg9">CSS media queries</a> to specify the size of elements depending on the viewport dimensions; <code>max-width: 100%</code> is your friend:</p>
<p>{% include_code _code/basic.html styling css %}</p>
<p>{% include modules/remember.liquid title="Remember" list=page.key-takeaways.dont-overflow %}</p>
<p>For media content in iframes (such as YouTube videos), try a responsive approach (like the one <a href="http://avexdesigns.com/responsive-youtube-embed/">proposed by John Surdakowski</a>):</p>
<p><strong>CSS:</strong></p>
<p>{% include_code _code/responsive_embed.html styling css %}</p>
<p><strong>HTML:</strong></p>
<p>{% include_code _code/responsive_embed.html markup html %}</p>
<p>{% include modules/remember.liquid title="Remember" list=page.remember.compare-formats %}</p>
<h2 id="customize-the-video-player">Customize the video player</h2>
<p>{% include modules/takeaway.liquid title="Key Takeaways" list=page.key-takeaways.customize %}</p>
<h3 id="how-device-orientation-works-across-devices">How device orientation works across devices</h3>
<p>Device orientation isn't an issue for desktop monitors or laptops, but is hugely important when considering web page design for mobile and tablets.</p>
<p>Safari on iPhone does a good job of switching between portrait and landscape orientation:</p>
<p><img alt="Screenshot of video playing in Safari on iPhone, portrait" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/iPhone-video-playing-portrait-3x5.png" /></p>
<p><img alt="Screenshot of video playing in Safari on iPhone, landscape" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/iPhone-video-playing-landscape-5x3.png" /></p>
<p>Device orientation on an iPad and Chrome on Android can be problematic. For example, without any customization a video playing on an iPad in landscape orientation looks like this:</p>
<p><img alt="Screenshot of video playing in Safari on iPad Retina, landscape" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/iPad-Retina-landscape-video-playing-5x3.png" /></p>
<p>Setting the video <code>width:100%</code> with CSS should resolve many device orientation layout problems. You may also want to consider fullscreen alternatives.</p>
<h3 id="inline-or-fullscreen-display">Inline or fullscreen display</h3>
<p>Different platforms display video differently. Safari on an iPhone displays a video element inline on a web page, but plays video back in fullscreen mode:</p>
<p><img alt="Screenshot of video element on iPhone, portrait" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/iPhone-video-with-poster-3x5.png" /></p>
<p>On Android, users can request request fullscreen mode by clicking the fullscreen icon. But the default is to play video inline:</p>
<p><img alt="Screenshot of video playing in Chrome on Android, portrait" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/Chrome-Android-video-playing-portrait-3x5.png" /></p>
<p>Safari on an iPad plays video inline:</p>
<p><img alt="Screenshot of video playing in Safari on iPad Retina, landscape" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/iPad-Retina-landscape-video-playing-5x3.png" /></p>
<h3 id="control-fullscreening-of-content">Control fullscreening of content</h3>
<p>For platforms that do not force fullscreen video playback, the Fullscreen API is <a href="http://caniuse.com/fullscreen">widely supported</a>. Use this API to control fullscreening of content, including video (code snippets from <a href="http://simpl.info/fs">simpl.info/fs</a>):</p>
<pre><code>// Fullscreen a video element
videoElement.requestFullScreen()

// Fullscreen the whole page
document.body.requestFullScreen();

// Listen for fullscreen state change
videoElement.onfullscreenchange = function(){console.log('You fullscreened me!');}

// Check if element is fullscreened
console.log(videoElement.displayingFullscreen)
</code></pre>
<p>You can also use the CSS <code>:fullscreen</code> pseudo-class to change the way elements are displayed in fullscreen mode.</p>
<p>On devices that support the Fullscreen API, consider using thumbnail images as placeholders for video (demo on Chrome for Android):</p>
<p><img alt="Screenshot of two videos in desktop Chrome, showing thumbnails" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/Chrome-desktop-video-thumbnails.jpg" /></p>
<p>To see this in action, check out the <a href="http://simpl.info/fullscreen/video">simpl.info/fullscreen/video</a> demo. When you tap or click on a thumbnail, the thumbnail is replaced by a fullscreen video element.</p>
<h3 id="include-captions-to-improve-accessibility">Include captions to improve accessibility</h3>
<p>{% include modules/takeaway.liquid title="Key Takeaways" list=page.key-takeaways.improve-accessibility %}</p>
<h3 id="accessibility-matters">Accessibility matters</h3>
<p>Accessibility isn't a feature. Users who can't hear or see won't be able to experience a video at all without captions or descriptions. The time it takes to add these to your video is much less than the bad experience you are delivering to users. Provide at least a base experience for all users.</p>
<p>To make media more accessible on mobile, include captions or descriptions using the track element.</p>
<p>{% include modules/remember.liquid title="Remember" list=page.remember.accessibility-matters %}</p>
<p>Using the track element, captions appear like this:</p>
<p><img alt="Screenshot showing captions displayed using the track element in Chrome on Android" src="file:///Users/dutton/Documents/WebDocs/src/site/the-essentials/introduction-to-media/video/images/Chrome-Android-track-landscape-5x3.jpg" /></p>
<h3 id="add-track-element">Add track element</h3>
<p>It's very easy to add captions to your video -- simply add a <a href="http://www.html5rocks.com/en/tutorials/track/basics/">track element</a> as a child of the video element:</p>
<p>{% include_code _code/track.html basic %}</p>
<p>The track element <code>src</code> attribute gives the location of the track file.</p>
<h3 id="define-captions-in-track-file">Define captions in track file</h3>
<p>A track file consists of timed 'cues' in WebVTT format:</p>
<pre><code>WEBVTT FILE

1 00:00:00.500 --&gt; 00:00:02.000 The Web is always changing

2 00:00:02.500 --&gt; 00:00:04.300 and the way we access it is changing

...
</code></pre>
<h2 id="handle-poor-connectivity-with-adaptive-streaming">Handle poor connectivity with adaptive streaming</h2>
<p>{% include modules/takeaway.liquid title="Key Takeaways" list=page.key-takeaways.handle-poor-connectivity %}</p>
<h3 id="what-is-adaptive-streaming">What is adaptive streaming?</h3>
<p>The video element is a simple way to enable video in your web pages; however, it doesn't enable your site to move between different bitrate video encodings in response to network conditions.</p>
<p>Adaptive streaming is a set of techniques that provide more fine grained control over video download and playback.</p>
<ul>
<li><strong>Buffer control:</strong> choose bitrate depending on the size of the video buffer, i.e. how much 'fuel in the tank' remains.</li>
<li><strong>Efficient seeking</strong>: move between different parts of a video with minimal unnecessary download.</li>
<li><strong>Bitrate management</strong>: seamlessly swap between higher or lower bitrate in response to connectivity fluctuations.</li>
</ul>
<h3 id="construct-video-streams">Construct video streams</h3>
<p>Video streaming services use server-side solutions to enable adaptive streaming, such as Adobe's RTMP protocol and Flash Media Server. However, these solutions can be expensive and potentially complex, they require plug-ins not supported on mobile platforms, and don't take advantage of HTTP – a protocol optimised over many years for delivery of content on the web.</p>
<p>The <a href="http://updates.html5rocks.com/2011/11/Stream-video-using-the-MediaSource-API">Media Source Extensions</a> (MSE) API enables JavaScript to construct video streams, which in turns enables client-side adaptive streaming techniques that take advantage of HTTP.</p>
<p>There's a simple example of MSE at <a href="http://simpl.info/mse">simpl.info/mse</a>.</p>
<p>{% include modules/remember.liquid title="Remember" list=page.remember.construct-video-streams %}</p>
<h3 id="enable-high-quality-streaming-on-the-web">Enable high quality streaming on the web</h3>
<p><a href="http://www.html5rocks.com/en/tutorials/eme/basics/#related-technology-2">Dynamic Adaptive Streaming over HTTP</a> (DASH) is an open standard for adaptive streaming designed to enable media delivery at the highest possible quality for both streaming and download. Technologies such as Apple's <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming">HTTP Live Streaming</a> (HLS) and Microsoft's <a href="https://en.wikipedia.org/wiki/Adaptive_bitrate_streaming#Microsoft_Smooth_Streaming">Smooth Streaming</a> also provide adaptive-bitrate streaming via HTTP, but are not open source.</p>
<p>With DASH:</p>
<ol>
<li>Media is encoded at different bitrates.</li>
<li>The different bitrate files are segmented and made available from an HTTP server.</li>
<li>A client web app chooses which bitrate to retrieve and play.</li>
</ol>
<p>DASH can be implemented using the Media Source Extensions API. As part of the video segmentation process, an XML manifest known as a Media Presentation Description (MPD) is built programmatically. This describes the individual video components and how they fit together.</p>
<p>DASH is already in use by sites such as YouTube; you can see DASH in action with the <a href="http://dash-mse-test.appspot.com/dash-player.html?url=http://yt-dash-mse-test.commondatastorage.googleapis.com/media/car-20120827-manifest.mpd">YouTube DASH demo </a><a href="http://dash-mse-test.appspot.com/dash-player.html?url=http://yt-dash-mse-test.commondatastorage.googleapis.com/media/car-20120827-manifest.mpd">player</a>.</p>
<h2 id="reference">Reference</h2>
<p><strong>Video element attributes</strong></p>
<p>For the complete list of video element attributes and their definitions, see <a href="http://www.w3.org/TR/html5/embedded-content-0.html#the-video-element">the video element spec</a>.</p>
<table>
<tr>
    <td>Element</td>
    <td>Availability</td>
    <td>Description</td>
</tr>
<tr>
    <td>`src`</td>
    <td>All browsers</td>
    <td>Gives the address (URL) of the video.</td>
</tr>
<tr>
    <td>`poster`</td>
    <td>All browsers</td>
    <td>Gives the address (URL) of an image file that the browser can show as soon as the video element loads, before playback begins.</td>
</tr>
<tr>
    <td>`preload`</td>
    <td>All mobile browsers ignore preload.</td>
    <td>Hints to the browser that loading part of a video in advance of playback is worthwhile. Options are none, metadata, or auto (see Preload section for details). </td>
</tr>
<tr>
    <td>`autoplay`</td>
    <td>Not supported on iPhone or Chrome for Android; supported on all desktop browsers, iPad, Firefox and Opera for Android.</td>
    <td>Tells the browser to immediately start downloading the video and play it as soon as it can (see Autoplay). </td>
</tr>
<tr>
    <td>`loop`</td>
    <td>All browsers</td>
    <td>Tells the browser to automatically loop the video.</td>
</tr>
<tr>
    <td>`controls`</td>
    <td>All browsers</td>
    <td>Shows the default video controls (play, pause, etc.)</td>
</tr>
<tr>
    <td>`width`</td>
    <td>All browsers</td>
    <td>Returns the width of the video in pixels.</td>
</tr>
<tr>
    <td>`height`</td>
    <td>All browsers</td>
    <td>Returns the height of the video in pixels.</td>
</tr>
</table>

<h4 id="autoplay">Autoplay</h4>
<p>On desktop, <code>autoplay</code> tells the browser to immediately start downloading and playing the video as soon as it can. On iOS, and Chrome for Android, <code>autoplay</code> doesn't work; users must tap the screen to play the video. You can test this with the video at <a href="http://simpl.info/video">simpl.info/video</a>, which has an <code>autoplay</code> attribute.</p>
<p>Even on platforms where autoplay is possible, you need to consider whether it's a good idea to enable it:</p>
<ul>
<li>Data usage can be expensive.</li>
<li>Causing media to download and playback to begin, without asking first, can   unexpectedly hog bandwidth and CPU, and thereby delay page rendering.</li>
<li>Users may be in a context where playing video or audio is intrusive.</li>
</ul>
<p>Autoplay behavior is configurable in the Android WebView with the following API: <a href="http://developer.android.com/reference/android/webkit/WebSettings.html#setMediaPlaybackRequiresUserGesture(boolean)">http://developer.android.com/reference/android/webkit/WebSettings.html#setMediaPlaybackRequiresUserGesture(boolean)</a>. It defaults to true but a WebView app can choose to disable it.</p>
<h4 id="preload">Preload</h4>
<p>To be clear: <code>preload</code> is just a hint to browsers about how to download and play the video; the options are:</p>
<ul>
<li><code>**none**</code> hints to the browser that the user most likely won't watch the   video</li>
<li><code>**metadata**</code> hints to the browser that metadata (duration,   dimensions, text tracks) should be preloaded, but with minimal video.</li>
<li><code>**auto**</code>hints to the browser that downloading the entire video right away is   considered desirable.</li>
</ul>
<p>The <code>preload</code> element has different effects on different platforms. For example, Chrome buffers 25 seconds of video on desktop, none on iOS or Android. This means that on mobile, there may be playback startup delays that don't happen on desktop. See <a href="http://stevesouders.com/tests/mediaevents.php">Steve Souders' test page</a> for full details.</p>
<h3 id="javascript">JavaScript</h3>
<p><a href="http://www.html5rocks.com/en/tutorials/video/basics/#toc-javascript">The HTML5 Rocks Video article</a> does a great job of summarizing the JavaScript properties, methods, and events that can be used to control video playback. We've included that content here, updating it with mobile-specific concerns where relevant.</p>
<h4 id="properties">Properties</h4>
<table>
<tr>
    <td>Property</td>
    <td>Description</td>
</tr>
<tr>
    <td>`currentTime`</td>
    <td>Get or set playback position in seconds.</td>
</tr>
<tr>
    <td>`volume`</td>
    <td>Get or set current volume level for the video.</td>
</tr>
<tr>
    <td>`muted`</td>
    <td>Get or set mute state.</td>
</tr>
<tr>
    <td>`playbackRate`</td>
    <td>Get or set playback rate; 1 is normal speed forward.</td>
</tr>
<tr>
    <td>`currentSrc`</td>
    <td>Return current video source file being played.</td>
</tr>
<tr>
    <td>`videoWidth` `videoHeight`</td>
    <td>Returns actual dimensions of video, not video element size.</td>
</tr>
</table>

<p>Neither playbackRate (demo at <a href="http://simpl.info/rate">simpl.info/rate</a>) nor volume are supported on mobile.</p>
<h4 id="methods">Methods</h4>
<table>
<tr>
    <td>Method</td>
    <td>Description</td>
</tr>
<tr>
    <td>`load()`</td>
    <td>Load or reload a video source without initiating playback: for example, when the video `src` is changed using JavaScript.</td>
</tr>
<tr>
    <td>`play()`</td>
    <td>Play the video from its current location. On mobile (apart from Opera on Android) `play()` and `pause()` don't work unless called in response to user action, such as clicking a button: see the example at simpl.info/scripted. (Likewise, playback can't be initiated for content such as embedded YouTube videos.)</td>
</tr>
<tr>
    <td>`pause()`</td>
    <td>Pause the video at its current location. This can only be done in response to user action (see `play()` above).</td>
</tr>
<tr>
    <td>`canPlayType(format)`</td>
    <td>Find out which formats are supported (see Check which formats are supported).</td>
</tr>
</table>

<p>Note that playback scripting is not supported on mobile.</p>
<h4 id="events">Events</h4>
<p>These are only a subset of the media events that may be fired. Refer to the <a href="https://developer.mozilla.org/docs/Web/Guide/Events/Media_events">Media events</a> page on the Mozilla Developer Network for a complete listing.</p>
<table>
<tr>
    <td>Event</td>
    <td>Description</td>
</tr>
<tr>
    <td>`canplaythrough`</td>
    <td>Fired when enough data is available that browser believes it can play the video completely without interruption.</td>
</tr>
<tr>
    <td>`ended`</td>
    <td>Fired when video has finished playing.</td>
</tr>
<tr>
    <td>`error`</td>
    <td>Fired if an error occurs.</td>
</tr>
<tr>
    <td>`playing`</td>
    <td>Fired when video starts playing for the first time, after being paused, or when restarting.</td>
</tr>
<tr>
    <td>`progress`</td>
    <td>Fired periodically to indicate download progress.</td>
</tr>
<tr>
    <td>`waiting`</td>
    <td>Fired when an action is delayed pending completion of another action.</td>
</tr>
<tr>
    <td>`loadedmetadata`</td>
    <td>Fired when browser finishes loading metadata for video: duration, dimensions and text tracks.</td>
</tr>
</table>

<p>{% endwrap %}</p></body></html>