<div class="wf-toc wf-highlight-list" markdown="1">
  <h3 class="wf-highlight-list__title">{{"contents" | localize_string}}</h3>
  {{"one_toc" | localize_string}}
  {:toc .wf-highlight-list__list #toc}
</div>
