---
id: tools-updates
layout: showcase
collection: web
title: "Updates"
description: ""
published: true
feedName: Tooling News
feedPath: showcase/feed.xml
---

{% assign caseStudies = page.articles.case-study | sort: 'date' | reverse  %}
{% assign spotlights = page.articles.spotlight | sort: 'date' | reverse  %}
{% assign combined = caseStudies | wfconcat: spotlights | sort: 'date' | reverse  %}

<header class="tools-updates-header clear" style="margin-bottom: 6px; margin-top: 70px;">
  <div class="container">
    <h2 class="xxlarge">What's New</h2>
    <p>
      in Tooling
    </p>
  </div>
</header>

<div class="tools-listing-more">
  <div class="container">
    <a href="{{site.baseurl}}/updates/" class="cta--primary">All news</a>
    <a href="{{site.baseurl}}/tools/updates/" class="cta--primary">Just tooling</a>
    <a href="{{site.baseurl}}/edge/updates/" class="cta--primary">Just the edge</a>
  </div>
</div>

<div class="showcase-listing-list">
  <ul>

    {% for article in combined %}

      {% if article.collection == "case-study" %}

        <li class="clear showcase-listing-list-case-study">
          <div class="showcase-card clear">
            <div class="featured-list__content g--half">
              <h3 class="xlarge">
                <strong class="subsection-number">{{article.title }}</strong>
                <a href="{{site.baseurl}}{{article.url | canonicalize}}">{{article.subtitle}}</a>
              </h3>
              <p>{{article.introduction}}</p>
              <a href="{{site.baseurl}}{{article.url | canonicalize}}" class="cta--primary">View case-study</a>
            </div>
            <figure class="featured-list__img-wrapper g--half g--last">
              <a href="{{site.baseurl}}{{article.url | canonicalize}}"><img src="{{site.baseurl}}/showcase/case-study/images/{{ article.id }}/thumbnail-medium.jpg" alt="{{article.title}}"></a>
            </figure>
            <footer>

              {% if article.authors %}
              <div>
              {% for author in article.authors %}
              {% assign contributor = site.data["contributors"][author] %}
                  <a href="{{contributor.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">
                    <span class="icon-circle" style="background-image: url({{site.url}}/imgs/contributors/{{author}}.jpg); background-size: contain;"></span>
                    {{contributor.name.given}} {{contributor.name.family}}
                  </a>
              {% endfor %}

              </div>
              {% endif %}

              <div>{{ article.article.written_on | date: '%B %d, %Y' }}</div>

              {% if article.tags %}
              <div class="tags">
                {% for tag in article.tags %}
                <span>{{tag}}</span>
                {% endfor %}
              </div>
              {% endif %}
            </footer>
          </div>
        </li>

      {% else %}

        <li class="clear half">
          <div class="showcase-card clear">
            <div class="featured-list__content g--half">
              <h3 class="xlarge">
                <strong class="subsection-number">In the spotlight</strong>
                <a href="{{site.baseurl}}{{article.url | canonicalize}}">{{article.title}}</a>
              </h3>
              <p>{{article.introduction}}</p>
              <a href="{{site.baseurl}}{{article.url | canonicalize}}" class="cta--primary">View spotlight</a>
            </div>
            <figure class="featured-list__img-wrapper g--half g--last">
              <a href="{{site.baseurl}}{{article.url | canonicalize}}" class="latest-spotlights__link">
                <img src="{{site.baseurl}}/showcase/spotlight/images/{{ article.id }}/screenshot-small.png" alt="Screenshot of {{article.title}}">
                <p class="small">Spotlight</p>
              </a>
            </figure>
            <footer>

              {% if article.authors %}
              <div>
              {% for author in article.authors %}
              {% assign contributor = site.data["contributors"][author] %}
                  <a href="{{contributor.homepage}}" target="_blank" title="{{contributor.name.given}} {{contributor.name.family}}">
                    <span class="icon-circle" style="background-image: url({{site.url}}/imgs/contributors/{{author}}.jpg); background-size: contain;"></span>
                    {{contributor.name.given}} {{contributor.name.family}}
                  </a>
              {% endfor %}

              </div>
              {% endif %}

              <div>{{ article.article.written_on | date: '%B %d, %Y' }}</div>

              {% if article.tags %}
              <div class="tags">
                {% for tag in article.tags %}
                <a href="{{site.baseurl}}/showcase/spotlight/tags/{{tag}}">#{{tag}}</a>
                {% endfor %}
              </div>
              {% endif %}
            </footer>
          </div>
        </li>

      {% endif %}

    {% endfor %}

  </ul>
</div>