.showtitle--title, .showtitle--subtitle {
	padding-top: 0;
	padding-bottom: 0;

	font-family: inherit;
	color: inherit;
}

.showtitle--subtitle {
	padding-top: 0;

	color: inherit;
}

.showtitle--title-container {
	padding-top: 16px;
	padding-bottom: 16px;
}

.showhome--subheading-description {
	margin: 0;
}

@include wide {
	.showtitle--title-container {
		padding-top: 36px;
		padding-bottom: 36px;
	}

  .showtitle--subtitle {
		padding-top: 0;

		color: inherit;
	}
}
