.showtitle--title, .showtitle--subtitle {
	padding-top: 0;
	padding-bottom: 0;

	font-family: inherit;
	color: inherit;
}

.showtitle--subtitle {
	padding-top: 0;

	color: inherit;
}

.showtitle--title-container {
	padding-top: 36px;
	padding-bottom: 36px;
}

@include wide {
  .showtitle--subtitle {
		padding-top: 0;

		color: inherit;
	}
}
