$padding: 8px !default;
$colorBlue: #4285f4 !default;

.widevideo {
	margin-bottom: (6 * $padding);
}

.widevideo:after {
	content: '';

	display: block;
	clear: both;
}

.widevideo--imagecontainer {

}

.widevideo--image {
	margin: 0;
}

.widevideo--details {

}

.widevideo--title {
	@include type--large;
}

@include medium {
  .widevideo--title {
		padding-top: 0;
	}
}

@include wide {
  .widevideo--title {
		padding-top: 0;
	}
}

.widevideo--description{
	padding-top: $padding;
}
