p {
  margin-top: 1rem;
  margin-bottom: inherit;
}
li {
  list-style: initial;
  list-style-position: inside;
}
body[role=main] {
  margin: 0;
  padding: 0;
}
.add_margin {
  margin: 0 1rem;
  padding: 0.25rem;
}